//-
//- @component: Banner
//- @type:
//- @description:
//- @author:
//- @comments:
//-
<!-- HEADER -->
.container.product-banner-carousel-container
  .product-banner-carousel
    .banner-slide
      .media-object
        div.media-object--image
          img(src="https://placehold.it/215x215")
        div.media-object--title
          h1.heading-three 
            a(href="#") Meet ColorMunki Design
        div.media-object--description
          p The colormunki lorum ipsum solar dolar imput. The longer the description the more information that you give to your user. The colormunki lorum ipsum solar dolar imput. The longer the description the more information that you give to your user.
        div.media-object--cta.text-left
          a(href="#") Learn More
    .banner-slide
      .media-object
        div.media-object--image
          img(src="https://placehold.it/215x215")
        div.media-object--title
          h1.heading-three 
            a(href="#") Meet ColorMunki Design
        div.media-object--description
          p The colormunki lorum ipsum solar dolar imput. The longer the description the more information that you give to your user. The colormunki lorum ipsum solar dolar imput. The longer the description the more information that you give to your user.
        div.media-object--cta.text-left
          a(href="#") Learn More
    .banner-slide
      .media-object
        div.media-object--image
          img(src="https://placehold.it/215x215")
        div.media-object--title
          h1.heading-three 
            a(href="#") Meet ColorMunki Design
        div.media-object--description
          p The colormunki lorum ipsum solar dolar imput. The longer the description the more information that you give to your user. The colormunki lorum ipsum solar dolar imput. The longer the description the more information that you give to your user.
        div.media-object--cta.text-left
          a(href="#") Learn More