.banner {
    text-align: center;
    position: relative;
}


.banner-copy {
    position: absolute;
    color: $white;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.banner-background img {
    max-width: 100%;
    width: 100%;
}

.banner-buttons {
    display: block;
    float: none;
}


.banner-slide {
    position: relative; 
}

.without-arrows .slick-arrow {
    display: none!important;
}
.slick-dots {
    position: relative;
    margin-top: -50px;
    padding-left: 0;
}

.slick-dots li {
    display: inline;
}

.slick-dots li button {
    border-radius: 24px;
    padding: 12px;
    margin: 12px;
    height: 12px;
    width: 12px;
    background-color: $light-gray;
    color: transparent;
}

.slick-dots li.slick-active button {
    background-color: $primary;
}

.product-carousel .slick-dots {
    display: none!important;
}
.product-carousel .slick-prev, 
.product-carousel .slick-next {
    background: transparent;
}
.product-carousel .slick-prev:before, 
.product-carousel .slick-next:before,

.coloratti--lightbox .coloratti--slider .slick-prev:before,
.coloratti--lightbox .coloratti--slider .slick-next:before,
.product-banner-carousel .slick-prev:before,
.product-banner-carousel .slick-next:before {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: $light-gray;
    font-size: 20px;
}

.product-carousel .slick-prev,
.product-carousel .slick-next,
.coloratti--lightbox .coloratti--slider .slick-prev,
.coloratti--lightbox .coloratti--slider .slick-next,
.product-banner-carousel .slick-prev,
.product-banner-carousel .slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 45px;
    height: 80px;
    margin-top: -25px;
    padding: 0;
    cursor: pointer;
    color: $light-gray;
    border: none;
    outline: none;
    background: transparent;
}

.product-carousel .slick-prev {
    left: 25px;
}

.product-banner-carousel .slick-prev {
    left: -45px;
    margin-top: -55px;
    @include media(md) { 
        
    }

}

.coloratti--lightbox .coloratti--slider .slick-prev {
    left: -40px;
}

.product-carousel .slick-next {
    right: 0;

}

.product-banner-carousel .slick-next {
    right: -40px;
    margin-top: -55px;
    @include media(md) { 

    }

}
.product-banner-carousel .slick-next:before,
.product-banner-carousel .slick-prev:before {
    font-size: 50px;
}

.coloratti--lightbox .coloratti--slider .slick-next {
    right: -40px;
}

.coloratti--slider .slick-arrow {
    display: none!important;
}

.coloratti--lightbox .coloratti--slider .slick-arrow {
    display: inline-block!important;
}

.product-carousel .slick-prev:before,
.coloratti--lightbox .coloratti--slider .slick-prev:before,
.product-banner-carousel .slick-prev:before  {
    content: "\e079";
}

.product-carousel .slick-next:before,
.coloratti--lightbox .coloratti--slider .slick-next:before,
.product-banner-carousel .slick-next:before {
    content: "\e080";
}
.product-carousel .hero-sub-slider {
    padding: 0 50px;
    margin-top: $margin-vertical;
}
.product-carousel .hero-sub-slider .flex-space {
    padding: 0 15px;
}

.coloratti-sub--slider .flex-space {
    padding: 0 15px;
}


.coloratti-sub--slider .col-xs-4 {
    @media only screen and (max-width: 1200px) {
        width: 33.33333333%!important;
    }
}

.coloratti-sub--anchor {
    @media only screen and (max-width: 1200px) {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
    }
}

.product-banner-carousel .slick-dots {
    text-align: center;
    top: 0;
    margin-top: 0;
}

.product-banner-carousel-container.container {
    padding-right: 45px;
    padding-left: 45px;
    margin-top: $margin-vertical;
}

.slick-slide:focus  {
    outline: none;
}
