////
/// Clearfix allows one to adjust the parent of floated items so they help maintain the normal flow of a document. 

/// Clearfix Class
/// @name Clearfix

.compare-select {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 49px;
}

.compare-select label,
.compare-select .checkbox {
    margin-top: 0;
}
.compare-label-container label {
    margin-top: 0;
}
.compare-container {
    padding: 0;
    margin-bottom: $margin-vertical;
}

.compare-input {
    max-height: 56px;
    display: block;
    padding: 0 15px;
    margin-bottom: $margin-vertical;
    @include media(sm){ 
        margin-bottom: 0;
    }
}

.compare-input.compare-empty {
    opacity: .3;
}

.compare-input img{
    height: 55px;
    @include media(md){
        height: 55px;
    }
}
.compare-input.compare-empty img {
    height: 55px;
    @include media(md){
        height: 55px;
    }
    opacity: 0;
}



.compare-border {
    height: 100%;
    border: 1px solid $primary;
    
    @media (min-width: 445px) {
        width: 150px;
    }
}
.compare-input img {
    width: 59%;
    @media (max-width: 445px) { 
        width: 100%;
    }

}

.compare-remove {
    width: 41%;
    display: inline;
    @media (max-width: 445px) {
        position: absolute;
        top: 7px;
        right: 17px;
    } 
}

.compare-remove span {
    color: $primary;
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 4px;
    top: 7px;
    cursor: pointer;
}

.compare-remove {

}

.filter-reset a {
    cursor: pointer;
}