////
/// Flex space 
/// @group Flex Space 
.flex-space {
    margin-bottom: $margin-vertical;
}

.product-listing .flex-space {
    margin-bottom: $margin-vertical;

}

.flex-space img {
  width: 100%;
}

.flex-space > * {
  /*margin: -15px;*/
}
.flex-space-interactive {
    overflow: hidden;
    position: relative;
}
.flex-space-interactive button {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    padding: 0;
    border: 1px solid $white;
    line-height: normal;
}

.flex-space-interactive button:before {
    content: '+';
}

.flex-space-interactive.active button:before {
    content: '-';
}
.flex-space-interactive > a {
    display: block;
}
.flex-space-interactive > a:before {
    content: ' ';
    position: absolute;
    transition: $default-animation;
    background-color: transparent;
}
.flex-space-interactive.active > a:before {
    height: 100%;
    width: 100%;
    background-color: $primary;
    mix-blend-mode: multiply;
}

.flex-space-interactive.active.half > a:before {
    height: 0;
    bottom: 0;
    background-color: transparent;
    mix-blend-mode: multiply;
}

.flex-space-interactive.active.half .flex-space-copy {
    position: absolute;
    color: $white;
    top: auto;
    height: 0%;
    bottom: 0;
    width: 100%;
    height: auto;
    
}

.flex-space-interactive.active.half .flex-space-copy:after {
    content: '';
    position: absolute;
    background-color: $primary;
    background-color: rgba(145, 92, 164, .9);
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

}
.flex-space-interactive.active.half .flex-space-copy > * {
    margin: 0;
    position: relative;
    line-height: 1.2;
    z-index: 11;
    word-break: normal;

}

.flex-space-interactive.active.half .flex-space-copy > p {
    display: none;
}

.flex-space-interactive.active.half .flex-space-copy.secondary {
    position: relative;
}

.flex-space-interactive .flex-space-copy {
    overflow: hidden;
    color: $white;
    opacity: 1;
    transition: $default-animation;
}
.flex-space-interactive .flex-space-copy * {
    opacity: 0;
}
.flex-space-interactive .flex-space-copy h2 {
    opacity: 1;
    color: $gray;
}
.flex-space-interactive .flex-space-copy a {
    color: $white;
}
.flex-space-interactive.active .flex-space-copy {
    opacity: 1;
}

.flex-space-interactive.active .flex-space-copy h2 {
    color: $white;
}
.flex-space-interactive.active .flex-space-copy * {
    opacity: 1;
}
.flex-space-stacked a {
    display: block;
    cursor: pointer;
}

.flex-space-stacked .flex-space-copy {
    pointer-events: none;
}
.flex-space-interactive .flex-space-copy,
.flex-space-stacked .flex-space-copy {
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0;
    padding: $padding-vertical;
    @media only screen and (max-width: 1200px) {
        padding: $padding-vertical--small;
    }

}

.flex-space-stacked button {
    display: none;
}

.flex-space-copy > * {
    padding-top: 0;
    padding-bottom: 0;
}

.flex-space-copy > h3 {
    line-height: 1.2;
}

/*.flex-space-copy {
    padding-bottom: $padding-vertical--small;
}*/

.flex-space-interactive .flex-space-copy p,
.flex-space-stacked .flex-space-copy p {
    
    font-size: $font-size--small;
    line-height: 1.5;
    @media only screen and  (min-width: 992px ) and (max-width: 1200px) {
        line-height: 1.2;
        margin: 7px 0;
    }
}

.flex-space.col-md-4 .medium {
    display: none;
    @include media(xs) {
        display: block;
    }
    @include media(md) {
        display: none;
    }
}

.flex-space.col-md-4 .small {
    display: block;
    @include media(xs) {
        display: none;
    }
    @include media(md) {
        display: block;
    }
}

.flex-space.col-md-4 .medium-large,
.flex-space.col-md-4 .large {
    display: none;
}

.flex-space.col-md-6 .small,
.flex-space.col-md-6 .medium-large,
.flex-space.col-md-6 .large {
    display: none;
}

.flex-space.col-md-12 .small,
.flex-space.col-md-12 .medium-large {
    display: none;
}
.flex-space.col-md-12 .large {
    display: none;
    @include media(md){ 
        display: block;
    }
}

.flex-space.col-md-12 .medium {
    display: none; 
    @include media(xs) {
        display: block;
    }
    @include media(md) { 
        display: none;
    }

}
.flex-space.col-md-6 .medium {
    display: none;
    @include media(xs){ 
        display: block;
    }

}
.flex-space.col-md-3 .medium,
.flex-space.col-md-3 .medium-large
.flex-space.col-md-3 .large {
    display: none;
}

.flex-space.col-md-8 .small,
.flex-space.col-md-8 .medium,
.flex-space.col-md-8 .large {
    display: none;
}

.flex-space.col-md-6 .small,
.flex-space.col-md-12 .small,
.flex-space.col-md-8 .small {
    display: block;
    @include media(xs) { 
        display: none;
    }
}

.flex-space .small,
.flex-space .medium-large {
    @include media(xs){
        max-height: 263px;
    }
}

/* Page Specific Flex Space Styles */
/*.product-listing {
    margin-top: $margin-vertical;
}*/

.product-listing .flex-space {
    border-bottom: 1px solid $light-gray;
}
.product-listing .flex-space-copy {
    overflow: hidden;
    @include media(sm){
        height: 200px;
    }
}

.product-listing .price-tag {
    display: flex;
    @include media(md){
        min-height: 100px;
    }
}
/*
.product-listing .flex-space {
    margin-bottom: 50px;
}
*/
.promo-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: $primary transparent transparent transparent;
}

.promo-triangle span {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    color: $white;
    top: -55px;
    left: 2px;
}

.col-md-6 .flex-space .innerWrapper,
.col-md-8 .flex-space .innerWrapper,
.col-md-12 .flex-space .innerWrapper {
    height: 300px!important;
    @include media(md) { 
        height: 400px!important;
    }
}

.flex-space-copy.flex-space-copy--alt * {
    color: $white!important;
}
.bkgd-light-gray .flex-space {
    display: block;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media(md) { 
        clear: none;
    }
}

.bkgd-light-gray .flex-space > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bkgd-light-gray .flex-space img {
    width: 25%;
    float: left;
    display: block;
    margin-bottom: $margin-vertical;
    margin-right: $margin-horizontal;

    @include media(lg) {

        width: 50%;
        float: none;
        display: inline;
    }
}

.bkgd-light-gray .flex-space img.small {
    @include media(lg) {
        display: inline;
    }
}

.bkgd-light-gray .flex-space .flex-space-copy {
    text-align: left;
    @include media(md) { 
        text-align: center;
    }
}