////
/// Imported Fonts
/// @group fonts
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0;
}
/// Frutiger - Bold
@font-face {
  font-family:'Frutiger LT W01_65 Bold1475746';
}

/// Frutiger Bold Italic
@font-face {
  font-family:'Frutiger LT W01_66 Bold Italic';
  font-weight: 100;
}

/// Frutiger Light
@font-face {
  font-family:'Frutiger LT W01_45 Ligh1475730';
  font-weight: 200;
}

/// Frutiger Light Italic
@font-face {
  font-family:'Frutiger LT W01_46 Ligh1475734';
  font-weight: 500;
}
