footer {
    padding: $padding-vertical 0;
    background-color: $primary;
    color: $white;
    padding-bottom:0;
}

footer .container {
  margin-bottom: 0;
}

footer .bkgd-white {
  color: $primary;
  padding: $padding-vertical 0;
}
footer .bkgd-white a {
  color: $primary;
}

footer .bkgd-primary-dark a:hover {
  color: $primary;
}

footer .bkgd-white a:hover {

}
footer h3 {
  margin-bottom: 0;
}

footer h3 small {
  color: $white;
}

footer a {
  color: $white;
  text-decoration: none;
}

footer .lnr {
    
}

footer .container [class*='col-'] {
  margin-bottom: 0;
}

footer .accordion-mobile .accordion-trigger {
  display: block;
}
.back-to-top {
    border: 1px solid $primary;
    padding: $padding-vertical--small;
    position: relative;
    top: -10px;
    @include media(md) { 
      top: -70px;
    }
}
.back-to-top span {
    transition: $default-animation;
    top: 0;
    position: relative;
    
    margin-right: 5px;
}
.back-to-top:hover {
    text-decoration: none;
}
.back-to-top:hover span {
    top: -5px;
}

.language-container {
  position: relative;
  padding: $padding-vertical--small 0;
}


.language-container label {
  
  color: $white;
  padding-left: $padding-horizontal;
  font-size: 18px;
  display: block;
  @include media(xs){
    display: inline;
  }
  @include media(md) { 
    font-size: 24px;
  }
}

.language-container label:first-of-type  {
  padding-left: 0;
  @include media(xs){
    
    padding-left: 60px;
  }
}

.language-container label:after {
  content: '▾';
  padding-left: 10px;

}

footer a:hover,
footer a:active,
footer a:focus{
  text-decoration: none!important;

}

.language-container,
.language-container label {
  cursor: pointer;
  text-decoration: none!important;
}

.language-container .lnr {
  position: relative;
  font-size: 40px;
  top: 7px;
  color: $white;
  text-decoration: none!important;
  display: none;
  @include media(xs) {
    display: inline;
  }
  @include media(md) {  
    left: 50px;
  }
}

.language-container .container {
  text-align: center;
}

.disclaimer-bar a:before {
  content: "";
  display: inline;
  margin: 12px;
  border-right: 1px solid $primary;
}

.disclaimer-bar a:first-child:before {
  border-right: none;
}
