////
/// Form Elements
/// @group form 

// unstyled elements
datalist {}
fieldset {}
form {}
keygen {}
legend {}
meter {}
optgroup {}
option {}
output {}
progress {}
textarea {}
select {}

// styled elements
button, .btn, .btn-primary {
  background-color: $primary;
  border:none;
  box-sizing:border-box;
  color: $white;
  font-size: $font-size;
  font-family: $sans-serif;
  padding: 15px 0px;
  width:100%;
  outline: none;
  transition: $default-animation;
}

button[disabled],
html input[disabled] {
  opacity: .7;
}

.btn.disabled {
  opacity: .7;
}

button[disabled]:hover,
html input[disabled]:hover,
.btn.disabled:hover {
  background-color: $primary!important;
  cursor: default;
}
button:hover,
.btn:hover {
  background-color: $primary-dark;
  color: $white;
}

.btn-container button,
.btn-container .btn {
  margin-bottom: $margin-vertical--small;
}
/*
.btn-container button:last-child,
.btn-container .btn:last-child {
  margin-bottom: 0;
}*/

.button-alt {
  border: 1px solid $white;
  transparent: .7;
  background-color: rgba(145, 92, 164, 1);
  background-color: $primary;
}

.btn.btn-secondary {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;
}

.btn.btn-secondary:hover {
  color: $white;
  background-color: $primary;
}

.list-filters {
  padding-left: 0;
}
.checkbox label {
  padding-left: 0;
}

.checkbox input {
  display: none;
}

.checkbox input,
.checkbox input + .psuedo-input {
  position: absolute;
  top: 0;
  right: 5px;
  height: 20px;
  width: 20px;
  border: 1px solid $primary;
  color: $white;
}

.checkbox.checkbox-left input,
.checkbox.checkbox-left input + .psuedo-input {
  left: 0;
}

.checkbox.checkbox-left {
  padding-left: 35px;
}

.checkbox input + .psuedo-input {
  top: 0px;
  height: 23px;
  width: 23px;
}

.checkbox input[type=checkbox]:checked,
.checkbox input[type=checkbox]:checked + .psuedo-input {
  background-color: $primary;
}

.checkbox input[type=checkbox]:disabled,
.checkbox input[type=checkbox]:disabled + .psuedo-input {
  opacity: .3;
}

.checkbox.disabled {
  opacity: .3;
}



.checkbox input[type=checkbox]:checked + .psuedo-input:after {
  content: '\f00c';
  position: relative;
  top: -2px;
  right: -2px;
  font-family: FontAwesome;
}

.checkbox input[type=radio] + .psuedo-input {
  border-radius: 10px;
}
.checkbox input[type=radio]:checked,
.checkbox input[type=radio]:checked + .psuedo-input {
  background-color: $primary;
}

.checkbox input[type=radio]:disabled,
.checkbox input[type=radio]:disabled + .psuedo-input {
  opacity: .3;
}


.checkbox input[type=radio]:checked + .psuedo-input:after {
  content: '\f111';
  position: relative;
  top: -4px;
  right: -4px;
  font-size:15px;
  font-family: FontAwesome;
}

.form-control {
  border: 1px solid $primary;
  border-radius: 0!important;
}

.select-container {
}

.select-form-container label {
  z-index: $z-level-back
}

.select-form-container select {
  height: 57px;
  margin: 15px auto;
  position: relative;
  background-color: transparent;
  z-index: $z-level-mid;
}

.select-form-container.select-form-container--large select {
  @media only screen and (max-width: 450px) {
    margin-top: 45px;
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  box-sizing:border-box;
  display: block;
  font-family: $sans-serif;
  font-size: $font-size;
  line-height: 1.25em;
  margin: 15px auto;
  padding: $padding-vertical--small;
  width:100%;
  border: 1px solid $primary;

  &:focus {
    
  }

  &[type="button"] {}
  &[type="checkbox"] {}
  &[type="color"] {}
  &[type="date"] {}
  &[type="datetime"] {}
  &[type="date-time-local"] {}
  &[type="email"] {}
  &[type="file"] {}
  &[type="hidden"] {}
  &[type="image"] {}
  &[type="month"] {}
  &[type="number"] {}
  &[type="password"] {}
  &[type="radio"] {}
  &[type="range"] {}
  &[type="reset"] {}
  &[type="search"] {}
  &[type="submit"] {}
  &[type="tel"] {}
  &[type="text"] {
    color: $primary;
  }
  &[type="time"] {}
  &[type="url"] {}
  &[type="week"] {}
}
label {
  font-family:$sans-serif;
  font-size:$font-size;
  color: $gray;
  display: block;
  margin-top: $margin-vertical--small;
  margin-bottom: $margin-vertical--small;
}

.btn-primary.active, 
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background-color: $primary-dark!important;
  border-color: $white;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color: $primary;
}
.btn-primary.focus:hover,
.btn-primary:focus:hover {
  background-color: $primary-dark;
}

textarea {
  width: 100%;
  height: 150px;
  border: 1px solid $primary;
  padding: $padding-vertical--small;
  margin: 15px 0;

}

.textarea-container {
  margin-top: 15px;
}

.modal-header h4 {
  float: left;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.modal-header button {
  width: auto;
}

.form-control {
  font-size: 18px;
}


/* Add on stuff. Not sure if this will remain */

.form-group {
  position: relative;
}

.form-group label {
  font-weight: 400;
  pointer-events: none;
}
.form-group label span {
  position: absolute;
  color: $primary;
  top: 0;
  padding: $padding-vertical--small;
  transition: $default-animation;
}

.form-group input[type="text"] {
  color: $gray;
}
.form-group input:focus {
  border-color: $primary;
}

.form-group input + label > span,
.form-group select + label > span,
.form-group select.error + label + label > span,
.form-group input:valid.empty + label > span,
.form-group select:valid.empty + label > span,
.form-group select:valid.error.empty + label + label > span {
  color: $primary;
  top: -10px;
  font-size: $font-size--small;
  width: 100%;
  opacity: 1;
  line-height: 1;
}

.form-group.select-form-container--large input + label > span,
.form-group.select-form-container--large select + label > span,
.form-group.select-form-container--large select.error + label + label > span,
.form-group--large .form-group.select-form-container--large *.empty + label > span,
.form-group--large .form-group.select-form-container--large input.empty + label > span,
.form-group--large .form-group.select-form-container--large select.empty + label > span,
.form-group--large .form-group.select-form-container--large textarea.empty + label > span,
.form-group--large .form-group.select-form-container--large input.error.empty + label + label > span, 
.form-group--large .form-group.select-form-container--large textarea.error.empty + label + label > span,
.form-group--large .form-group.select-form-container--large select.error.empty + label + label > span {
  
  @media only screen and (max-width: 450px) {
    top: -10px;
  }
}

.form-group--large .form-group.select-form-container--large *:focus + label > span,
.form-group--large .form-group.select-form-container--large input:valid + label > span,
.form-group--large .form-group.select-form-container--large select:valid + label > span,
.form-group--large .form-group.select-form-container--large textarea:valid + label > span,
.form-group--large .form-group.select-form-container--large input.error:valid + label + label > span, 
.form-group--large .form-group.select-form-container--large textarea.error:valid + label + label > span,
.form-group--large .form-group.select-form-container--large select.error:valid + label + label > span {
  
  
  @media only screen and (max-width: 450px) {
    top: -45px;
  }
  @media only screen and (min-width: 992px) {
    top: -45px;
  }
}

.form-group--large .form-group.select-form-container--large *:focus + label > span {
  @media only screen and (min-width: 992px) {
    top: -45px!important;
  }
}

.form-group--large .form-group.select-form-container--large *.not-empty + label > span,
.form-group--large .form-group.select-form-container--large input.not-empty + label > span,
.form-group--large .form-group.select-form-container--large select.not-empty + label > span,
.form-group--large .form-group.select-form-container--large textarea.not-empty + label > span,
.form-group--large .form-group.select-form-container--large input.error.not-empty + label + label > span, 
.form-group--large .form-group.select-form-container--large textarea.error.not-empty + label + label > span,
.form-group--large .form-group.select-form-container--large select.error.not-empty + label + label > span {
  @media only screen and (max-width: 450px) {
    top: -45px;
  }
  @media only screen and (min-width: 992px) {
    top: -45px;
  }
}


.form-group--large {
  margin-top: 10px;
}

.form-group textarea + label > span {
  color: $primary;
  top: 0;
  font-size: $font-size--small;
  width: 100%;
  opacity: 1;
}

.form-group input + label > span > span,
.form-group textarea + label > span > span,
.form-group select + label > span > span {
  opacity: 0;
  right: -20px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: transparent;
  border-color: $primary;
}

.form-group *:focus + label > span,
.form-group input:valid + label > span,
.form-group select:valid + label > span,
.form-group textarea:valid + label > span,
.form-group input.error:valid + label + label > span, 
.form-group textarea.error:valid + label + label > span,
.form-group select.error:valid + label + label > span,

.form-group *:focus.not-empty + label > span,
.form-group input.not-empty + label > span,
.form-group select.not-empty + label > span,
.form-group textarea.not-empty + label > span

 {
  top: -30px;
}
.form-group select.not-valid.empty + label + label > span,
.form-group select.valid.empty + label + label > span,
.form-group select.not-empty + label + label > span, 
.form-group textarea.error.not-empty + label + label > span,
.form-group select.error.not-empty + label + label > span {
  top: -45px;
}

.form-group input.error.not-empty + label + label > span {
  top: -35px;
}
.form-group select.valid + label + label > span,
.form-group select.valid.empty + label + label > span {
  /*top: -45px!important;*/
  top: -35px!important;
}
.form-group select.not-valid.empty + label + label > span {
  color: red;
}

.form-group *:focus + label > span {
  top: -30px!important;
}

.form-group input.valid + label + label > span {
  top: -35px;
  color: $primary;
  font-size: $font-size--small;
}

.form-group textarea:focus + label > span, 
.form-group textarea:valid + label > span,
.form-group textarea.valid + label + label > span {
  top: -25px!important;
}

.form-group input:not(:focus):valid + label span,
.form-group select:not(:focus):valid + label span,
.form-group input.error:not(:focus):valid + label + label > span, 
.form-group textarea.error:not(:focus):valid + label + label > span  {
  /*color: $x-green;*/
}

.form-group input:not(:focus):valid + label > span > span,
.form-group select:not(:focus):valid + label > span > span,
.form-group input.error:not(:focus):valid + label + label > span > span, 
.form-group textarea.error:not(:focus):valid + label + label > span > span{
  opacity: 1;
  right: 0;
}
/*
.form-group label:after {
  position: absolute;
  content: attr(aria-label-helper);
  top: -67px;
  background: $white;
  right: 0;
  width: 50%;
  opacity: 0;
  border: 1px solid $primary;
  color: $gray;
  line-height: 1.8;
  font-size: $font-size--small;
  transition: $default-animation;
  height: 0;
  padding: 0;
}

.form-group input:focus + label:after {
  content: attr(aria-label-helper);
  opacity: 1;
  color: $x-green;
  border-color: $x-green;
  height: auto;

  padding: $padding-vertical--small;
}

.form-group.error input:focus + label:after {
  content: attr(aria-label-error);
  opacity: 1;
  color: red;
  border-color: red;
  height: auto;
  padding: $padding-vertical--small;
}
*/

.form-group.error input:invalid  {
  border-color: red;
}

.form-group.error input + label span,
label.error {
  color: red;
}

.video-modal .modal-dialog {
    @include media(md) {
        width: 670px;
    }
}

.video-modal #ooyalaplayer {
    max-width: 100%;
}

/* Loading Icon */
@keyframes loading {
  0% {
    transform-origin: 100% 100%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 100% 100%;
    transform: rotate(360deg);
  }
}


.loading {
  position: relative;
  display: block;
  z-index: 13;
  margin: 15px auto;
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  
  &:before {
    position: absolute;
    display: block;
    content: '';
    z-index: 12;
    top: 4px;
    left: 4px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: $white;
  }
  
  &:after {
    position: absolute;
    display: block;
    top: 0;
    content: '';
    z-index: 11;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 45px;
    border-radius: 200px 0 0 0;
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(145,92,164, 1) 50%,rgba(145,92,164,1) 100%);
    animation: loading .9s linear infinite;
  }
}

.form--large {
  padding-bottom: $padding-vertical;
}

.form-help-text {
  position: absolute;
  right: 10px;
  top: 7px;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  line-height: 1;
  z-index: $z-level-fore;
}

.side-form {
  padding: $padding-vertical--small;
  border: 1px solid $primary;
  margin-bottom: $margin-vertical;
}
.side-form > form  {
  margin-left: 15px;
  margin-right: 15px;
}

.modal-body .form--large {
  max-width: 100%;
}


label.help-button {
  padding-right: 40px;
}

.modal-body form .row .col-md-6:first-child .form-group,
form .row .col-md-6:first-child .form-group {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
.modal-dialog {
  width: 768px;
}
}


.error > span {
  display: block!important;
  color: red;
  padding-left: 15px;
  clear: both;
  color: red;
}