////
/// Heading Elements
/// @group headings 

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: $sans-serif;
  line-height: 1;
  margin: $margin-vertical--supersmall 0px;
  padding: 0;
  vertical-align: middle;
}

h1,
.heading-one {

  font-size: ceil($font-size * 1.6);

  @include media(md){
    
    font-size: ceil($font-size * 2.75);
  }
}



h2,
.heading-two {
  font-size: ceil($font-size * 1.2);

  @include media(md){
    
    font-size: ceil($font-size * 1.8);
  }
}

h3,
.heading-three {
  font-size: ceil($font-size * 1.5);
}

h4,
.heading-four {
  font-size: ceil($font-size * 1.25);
}

h5,
.heading-five {
  font-size: ceil($font-size * 1.125);
}

h6,
.heading-six {
  font-size: ceil($font-size * 1.1);
}

.heading {
  color: $primary;
}

hgroup {
  margin: 0;
  padding: 0;
}


.section-title > * {
  margin-bottom: 0;
}
.section-title > hr {
  margin: 0;
  margin-bottom: $margin-vertical--small;
}