////
/// Header Elements
/// @group header

header {
  background-color: $primary;
}

header .container-fluid {
  @include media(lg) {
    width: $screen-lg-container;
  }
}

header .lnr {
  font-size: ceil($font-size * 1.8);
}


.navigation {
  text-align: right;
}

.navigation ul {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  @include media(md) { 
      padding: 32px 0;
  }
}

.navigation li {
  display: inline;
  color: $white;
  /*padding-left: $padding-horizontal;*/
}

.navigation a {
    color: $white;
    padding: 0;
    text-decoration: none;
}

.navigation a:hover {
    color: $white;
    text-decoration: underline;
}

.navigation text {
  text-decoration: none;
}

.primary-nav > li {
  position: relative;
  /*padding: 30px;*/
  margin-right: -30px;
  top: 8px;
}

.primary-nav > li > a {

  padding: 26px;
  margin: 10px;
}

.primary-nav > li > a:hover {
  text-decoration: none;
}
.primary-nav > li:hover a {
  background-color: $primary-dark;
}

.primary-nav > li.search span {
  position: relative;
  top: 10px;
}
.navbar-desktop .utility-nav {
  position: relative;
  top: $padding-vertical--small;
}

.utility-nav {
  font-size: $font-size--small;
  padding: 0 !important;
}

.utility-nav li {
  display: inline;
}
.utility-nav a {
  text-decoration: none;
  padding-right: 12px;
}
.utility-nav a:after {
  padding-left: 12px;
  content: '|';
}

.utility-nav li:last-of-type a:after {
  content: '';
}
.navbar-desktop {
  min-height: 92px;
  height: 92px;
}
.navbar-logo {
  float: left;
  display: block;
}

.navbar-logo img {
  padding: 15px 0;
  width: 100%;
  max-width: 150px;
  margin-top: 12px;
  @include media(sm) { 
    margin-top: 5px;
    max-width: 300px;
  }
  @include media(md) {
    max-width: 100%;
  }
  @include media(lg) {
    padding: 24px 0;
    margin-top: 25px;
    padding-bottom: 22px;
  }
}

.mobile-nav li {
  padding-left: 0;
  margin-left: $margin-horizontal;
}
.mobile-nav a:hover {
  text-decoration: none;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  font-size: $font-size;
  z-index: $z-level-fore;
  left: -100%;
  transition: $default-animation;
  overflow: scroll;
  height: calc(90vh - 103px);

  @include media(md) {
    height: calc(100vh - 103px);
  }

}

.mobile-menu.active {
  left: 0;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li {
  background-color: $primary;
  border-top: 1px solid $primary-light;
}

.mobile-menu a {
  display: block;
  padding: 15px;
  color: $white;
  text-decoration: none;
}

.mobile-menu a:hover {
  color: $white;
  background-color: $primary-dark;
}

.mobile-menu a .lnr {
  margin-top: -5px;
}

.mobile-menu a .lnr:first-of-type {
  float: left;
  width: 50px;
  height: 50px;
}

.mobile-menu a .lnr:last-of-type {
  float: right;
}


/* Animation Bits */ 
.mobile-menu {
  background-color: $primary;
}
.mobile-menu [class*="mobile-menu--"] ~ ul {
  top: 0;
  left: -200%;
  width: 100%;
  position: absolute;
  transition: $default-animation;
  background-color: $primary;
  height: calc(100vh - 104px);
}
.mobile-menu.subnav-active > ul > li {
  background-color: transparent;
}
.mobile-menu.subnav-active > ul > li > a {
  display: none;
  opacity: 0;
}

.mobile-menu .active ~ ul > li > a {
  opacity: 1;
}

.mobile-menu .active ~ ul {
  left: 0%;
}

.mobile-menu .lnr-arrow-right {
  display: none;
}

.mobile-menu .mobile-menu-trigger--sub .lnr-arrow-right {
  display: inline;
}

/* Desktop Opened Menu */
.primary-nav > li:hover {
  /*background-color: $primary-dark;*/
}
.primary-nav > li:hover .desktop-mega-menu,
.primary-nav > li:hover .desktop-list-menu {
  display: block;
}

.desktop-mega-menu,
.desktop-list-menu {
  display: none;
  position: absolute;
  margin-top: 21px;
  background-color: $primary-dark;
  z-index: $z-level-fore;
}

.desktop-mega-menu {
  padding: $padding-horizontal 0;
}

.desktop-list-menu ul li {
  display: block;
}
.desktop-list-menu {
  left: 10px;
  width: 200px;
  /* This is an offset because the list-menu doesn't have a title */
  padding-top: 8px;
  padding-right: 26px;
  text-align: left;
  padding-left: 26px;
}

.desktop-mega-menu ul {
  padding: 0;
  text-align: left;
}

.desktop-mega-menu .list-unstyled {
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
}

.desktop-mega-menu li {
  display: block;
}

.desktop-mega-menu a {
  font-size: $font-size--small;
  padding-left: 0;
  cursor: pointer;
  

}

.desktop-mega-menu h3,
.desktop-mega-menu h3 small {
  color: $white;
  margin-bottom: 0;
}

.breadcrumb {
  background: none;
}

.breadcrumb .utility-nav {
  margin-top: $margin-vertical;
  margin-bottom: 0!important;
  @include media(md) { 
    float: left;
    width: 70%;
  }
}

.breadcrumb .social-list {
  margin-bottom: 0!important;
  @include media(md) { 
    float: left;
  }
}

.breadcrumb .social-list li:first-child {
  display: inline;

}

.breadcrumb .social-list li:first-child a {
    padding-left: 0;
}

/* Header Search Box */
.search-box {
  background-color: $white;
}

.search-box .search-submit {
  position: absolute;
  right: 0;
  top: 0;
}

.search-box .search-submit > * {
  margin: 0;
}

.search-box .search-submit > input {
  background-color: $primary;
  border-color: $primary;
  color: $white;
}

.search-box .search-submit > input:hover {
  background-color: $primary-dark;
  border-color: $primary-dark;
}

.search-box .search-submit > .lnr {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: -56px;
  padding: 13px;
}

.product-listing .search-box {
  margin-top: 0;
}

.button-navigation {
  border-top: 2px solid $white;
  display: block;
  background-color: $primary;
}

.button-navigation > *,
.button-navigation a > * {
  color: $white;
}

.button-navigation > * > * {
  padding: $padding-vertical 0;
  border-left: 1px solid $white;
}

.button-navigation > * > *:first-of-type {
  border-left: 0;
}
.header-search-box .form-group input::placeholder,
.header-search-box .form-group textarea::placeholder {
  color: $black;
  opacity: .3;
}

.header-search-box .container {
  margin-bottom: 0;
}
.header-search-box .form-group input:valid + label > span {
  opacity: 0;
}

.menu-active #mobile-menu-trigger .lnr-menu:before {
  content: "\e912";
}

.menu-active {
  position: fixed;
}

@media (max-width: 1200px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 140;
    top: 0;
  }

  body {
    padding-top: 75px!important;
  }
}
/*.primary-nav > li > a {
  font-size: 16px;
      line-height: 16px;
}*/

.primary-nav > li {
  position: static;
}


.primary-nav .dropdown-list-container {
  position: relative;
  top: 0;
}
/*
.desktop-list-menu {
  margin-top: 221px;
}*/

.desktop-mega-menu h3 a {
  font-size: 18px;
}

.header-search-box.collapse.in,
.header-search-box.collapsing {
  position: fixed;
  top: 75px;
  width: 100%;
  z-index: 100;
  @include media(sm) { 
    margin-top: 0;
  }
  @include media(md) { 
    margin-top: 20px;
  }
  @include media(lg) {
    margin-top: 0;
    position: relative;
    top: 0;
    z-index: 0;
  }
}

.header-search-box label {
  display: none;
}