////
/// Media Elements
/// @group media 

// unstyled elements
area {}
audio {}
figcaption {}
map {}
track {}
video {}

// styled elements
figure {
  position: relative;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}


#ooyalaplayer .innerWrapper {
    max-width:100%!important;
}
