.media-object {
    display: block;
    clear: both;
}

.media-object + .media-object {
    padding-top: $padding-vertical;
}

.media-object .media-object--image {
    padding-right: 30px;
    padding-bottom: 30px;
    @include media(lg) {
        float: left;
    }
}
.slick-slide .media-object .media-object--image > img {
    margin: 0 auto;
}

.media-object--horizontal {
    margin-bottom: $margin-vertical;
    /* Text-align center to center testimonials component when not a carousel */
    /*text-align: center;*/
}

.media-object--horizontal .media-object {
    border-bottom: none;
    padding-bottom: 0;
    padding: 0;
}

.media-object--horizontal .media-object--image {
    float: left;
    padding-right: 15px;
    padding-bottom: 0px;
}

.media-object--horizontal .media-object + .media-object {
    padding-top: 0;
}

.media-object--interactive .media-object--image {
    float: left;
    margin-right: 15px;
}


.slick-list {
    padding: 0 0!important;
}


.media-object--slider .slick-dots {
    text-align: center!important;
    margin-top: $margin-vertical;
}

.media-object--slider.media-object--horizontal {
    /*margin-bottom: -30px;*/
}

.locator-object {
    display: inline-block;
    padding: $padding-vertical 0;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    margin-bottom: $margin-vertical;
    background-color: $light-gray;
    @include media(md) {
        display: flex;
        background-color: transparent;

    }
}


.locator-section {
    border-bottom: 1px solid $primary;
    @include media(md) {
        border-top: 0px solid $primary;
        border-bottom: 0px solid $primary;
    }
}
.locator-section:last-child {
    border-bottom: 0px solid transparent;
}
@include media(md) {

    .locator-section:nth-child(2) {
        border-left: 1px solid $primary;
        border-right: 1px solid $primary;
    }
}

.media-object--horizontal {
    /*text-align: center;*/
}
.media-object--horizontal .col-sm-12 {
    float: none;
    display:inline-block;
    text-align: left;

}

.tab-pane .media-object {
    clear: both;
}

#externalVideo > * {
    width: 100%;
}