.price-tag > * {

}

.price-tag > * > * {
    display: block;
    color: $x-green;
    text-transform: uppercase;
}

.price-tag small {
    display: block;
    margin: 10px 0;
}

.price-tag .price-drop {
    text-decoration: line-through;
    display: inline;
    padding-right: 10px;
}
.product-listing .flex-space img {
    margin-bottom: $margin-vertical--supersmall;
}

.hero-slider object {
                    height: 350px!important;
                  }