/* See https://horizontal.atlassian.net/browse/XRP-321 */
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{ color: #ff0000; }
.field-validation-valid
{ display: none; }
.input-validation-error
{ border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors
{ font-weight: bold; color: #ff0000; }
.validation-summary-valid
{ display: none; }
/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{ margin: 1em 0 0 0; }
.display-field,
.editor-field
{ margin: 0.5em 0 0 0; }
.text-box
{ width: 30em; }
.text-box.multi-line
{ height: 6.5em; }
.tri-state
{ width: 6em; }
/* See https://horizontal.atlassian.net/browse/XRP-321 */


/* Required for JQuery Validate */ 
.form-group input.error + label + label > span {
    color: red;
    top: -18px;
    font-size: 14px;
    width: 100%;
    opacity: 1;
}

.form-group textarea.error + label + label > span {
    color: red;
    font-size: 14px;
    width: 100%;
    opacity: 1;
}
.form-group input.error + label + label > span > span, 
.form-group textarea.error + label + label > span > span {
    opacity: 0;
    right: -20px;
    color: $x-green;
}

.form-group input.error {
    border-color: red;
}

.form-group input.error + label {
    color: red;
}