.social-list {
  margin: $margin-vertical 0;
}
.social-list li {
  display: inline-block;
  padding-right: 0px;
}

.social-list li:first-child {
  display: block;
  @include media(sm) { 
    display: inline-block;
  }
}

footer .social-list li:first-child {
  display: inline-block;
}

.social-list a {
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  background-color: $white;
  opacity: 1;
  font-size: 20px;
}

.social-list a {
  
  line-height: 35px;
}

aside .social-list a {
  border: 1px solid $primary;
}
.social-list a:hover {
  transition: $default-animation;
  opacity: .7;
}

.social-list i {
  width: 20px;
  text-align: center;
  color: $primary;
}

nav.social {
  position: absolute;
  width: 250px;
  top: 80px;
  right: 48px;
  
}
nav.social h5 {
  position: relative;
  left: -50px;
  top: 65px;
}
.social-list.social-list-alt a {
  background-color: $gray;
}

.social-list.social-list-alt i{
  color: $white;
}