////
/// Table Elements
/// @group tabel 

caption {}

col {}

colgroup {}

table {
  box-sizing: border-box;
  width: 100%;
  font-size: $font-size;
}

tbody {}

td {
  border: 1px solid $primary;
  box-sizing: border-box;
  padding: $padding-vertical--small $padding-horizontal--small;
  text-align: left;
}

tfoot {}

th {
  border: 1px solid $primary;
  box-sizing: border-box;
  background-color: $primary;
  color: $white;
  padding: $padding-vertical--small $padding-horizontal--small;
  text-align: left;
}

thead {}

.stripped-table {
  border: 1px solid $primary;
}
.stripped-table th {
  background-color: transparent;
  color: $primary;
}

.stripped-table th,
.stripped-table td {
  border: none;
}


.stripped-table td {
  background-color: $light-gray;
  border: 1px solid $primary;
}
.compare-table.horizontal-border {
  min-width: 800px;
}
.compare-table th {
  padding: $padding-vertical--small $padding-horizontal;
}

.horizontal-border td,
.horizontal-border th {
  border: none;
}

.horizontal-border th {
  color: $gray;
  background-color: transparent;
}

.horizontal-border tr {
  border-bottom: 1px solid $primary;
}

.horizontal-border tr:last-child {
  border-bottom: none;
}

/*.horizontal-border td {
  border-right: 1px solid $primary;
}*/
tr {}

.table-responsive-hi {
  width: 100%;
  overflow-y: hidden;
}

.table-flex-header {
  padding: 0;
  vertical-align: top;
  padding-bottom: $padding-vertical--small;
}

.table-flex-header .flex-space-copy {
  /*height: 140px;*/

}
.tableHidden.collapse,
.accordion-mobile .tableHidden.collapse {
  min-height: 200px;
  height: 0!important;
  overflow: hidden;
  display: block;
}
.tableHidden.collapse.in,
.accordion-mobile .collapse.in{
  min-height: 100%!important;
  height: 100%!important;
}
table.collapse {
  max-height: 200px;
  overflow: hidden;
  display: block!important;
  padding-left: 0;
  padding-right: 0;
}

table.collapse.in {
  max-height: 100%!important;
  display: block!important;
}