////
/// Text Elements
/// @group text 

// unstyled elements
abbr {}
cite {}
code {
  background-color: $gray;
  border: 1px solid $black;
  border-radius: 3px;
  box-sizing: border-box;
  color: $black;
  display: block;
  margin-top: $margin-vertical--small;
  padding: 3px 5px;
}
data {}
dd {}
dfn {}
div {}
dl {}
dt {}
em {}
hr {
  border-color: $primary;
}
i {}
kbd {
  background-color: $gray;
  border-radius: 3px;
  box-sizing: border-box;
  color: $black;
  padding: 2px 4px;

  &:before {
    content: "\203A";
    display: inline;
    margin-right: 5px;
  }
}
main {}
mark {}
p {
  margin: $margin-vertical--small 0px;
}
pre {}
q {}
rt {}
span {}
sup {}
time {}

.article h1 small {
  display: block;
}

.article .social-list a:first-child {
  padding-left: 0;
}
// styled elements
a {
  color: $primary;
  text-decoration: none;
  
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  &:hover {
    color: darken($primary, 25%);
  }

  &:active,
  &:focus {
    color: lighten($primary, 25%);
  }
}

.strike-through {
  text-decoration: line-through;
}

.small,
small {
  font-size: 75%;
}