/// Typography variables & definitions.
/// @group Typography
/// @author 

/// @type List
$serif:            Noto, Georgia, "Times New Roman", Times, serif;

* {
	
}

.serif {
  font-family: $serif;
}

/// @type List
$sans-serif:      'Frutiger LT W01_45 Ligh1475730';

.sans-serif {
  font-family: $sans-serif;
}

/// @type List
$monospace:        AnonymousPro, "Courier New", Courier, monospace;

.monospace {
  font-family: $monospace;
}

/// @type String
$font-size:        16px;

/// @type String
$font-size--small: 14px;

/// @type String
$font-size--large: 28px;
