////
/// Margin variables & definitions
/// @group Margin

/// @type Size
$margin-vertical:              22.5px;

/// @type Size
$margin-vertical--small:       15px;

$margin-vertical--supersmall: 7px;

/// @type Size
$margin-vertical--large:       45px;

/// @type Size
$margin-horizontal:            2.5%;

/// @type Size
$margin-horizontal--small:    1%;

/// @type Size
$margin-horizontal--large:     5%;
