/// Typography variables & definitions.
/// @group Typography
/// @author 

@font-face {
	font-family: 'Linearicons-Free';
	src:url('fonts/Linearicons-Free.eot?w118d');
	src:url('fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
		url('fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('fonts/Linearicons-Free.woff?w118d') format('woff'),
		url('fonts/Linearicons-Free.ttf?w118d') format('truetype'),
		url('fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src:url('fonts/glyphicons-halflings-regular.eot?w118d');
	src:url('fonts/glyphicons-halflings-regular.eot?#iefixw118d') format('embedded-opentype'),
		url('fonts/glyphicons-halflings-regular.woff2?w118d') format('woff2'),
		url('fonts/glyphicons-halflings-regular.woff?w118d') format('woff'),
		url('fonts/glyphicons-halflings-regular.ttf?w118d') format('truetype'),
		url('fonts/glyphicons-halflings-regular.svg?w118d#glyphicons-halflings-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}@font-face {
    font-family: 'xrite-icons';
    src:    url('fonts/xrite-icons.eot?5lor9e');
    src:    url('fonts/xrite-icons.eot?5lor9e#iefix') format('embedded-opentype'),
        url('fonts/xrite-icons.ttf?5lor9e') format('truetype'),
        url('fonts/xrite-icons.woff?5lor9e') format('woff'),
        url('fonts/xrite-icons.svg?5lor9e#xrite-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*="lnr-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'xrite-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lnr-cart:before {
    content: "\e900";
}
.lnr-chat:before {
    content: "\e901";
}
.lnr-checkbox-off:before {
    content: "\e902";
}
.lnr-checkbox-on:before {
    content: "\e903";
}
.lnr-checkbox-solid:before {
    content: "\e904";
}
.lnr-contact:before {
    content: "\e905";
}
.lnr-eye:before {
    content: "\e906";
}
.lnr-find-a-dealer:before {
    content: "\e907";
}
.lnr-earth:before {
    content: "\e908";
}
.lnr-arrow-down:before {
    content: "\e909";
}
.lnr-arrow-left:before {
    content: "\e90a";
}
.lnr-arrow-right:before {
    content: "\e90b";
}
.lnr-arrow-up:before {
    content: "\e90c";
}
.lnr-briefcase:before {
    content: "\e90d";
}
.lnr-chevron-down:before {
    content: "\e90e";
}
.lnr-chevron-left:before {
    content: "\e90f";
}
.lnr-chevron-right:before {
    content: "\e910";
}
.lnr-chevron-up:before {
    content: "\e911";
}
.lnr-cross:before {
    content: "\e912";
}
.lnr-magic-wand:before {
    content: "\e913";
}
.lnr-menu:before {
    content: "\e914";
}
.lnr-plus:before {
    content: "\e915";
}
.lnr-radio-off:before {
    content: "\e916";
}
.lnr-radio-on:before {
    content: "\e917";
}
.lnr-products:before {
    content: "\e918";
}
.lnr-user:before {
    content: "\e919";
}
.lnr-magnifier:before {
    content: "\e91a";
}

