////
/// Z Index Levels
/// @group Zed

/// Anything that goes behind the main pane
/// @type behind
$z-level-back: 0;


/// Wrapper Level
/// @type main
$z-level-mid: 10;

/// Everything on top of Wrapper
/// @type front
$z-level-fore: 100;
