////
/// Color variables & definitions.
/// @group Colors

/// White
/// @type Color
$white:            #ffffff;

.white {
  color: $white;
}

.bkgd-white {
  background-color: $white;
}

/// Black
/// @type Color
$black:            #231f20;

.black {
  color: $black;
}

.bkgd-black {
  background-color: $black;
}

// Gray
/// @type Color
$gray:             #53555a;

.gray {
  color: $gray;
}

.bkgd-gray {
  background-color: $gray;
}

$light-gray:        #eaeaea;

.light-gray {
  color: $light-gray;
}

.bkgd-light-gray {
  background-color: $light-gray;
}

/// Primary Theme Color
/// @type Color
$primary:          #915ca4;
// XRP Purple - 915ca4
// Rose Quartz - f7cac9
// Serenity - 91a8d0
// Worlds ugliest Color - 4A412A

.primary {
  color: $primary;
}

.bkgd-primary {
  background-color: $primary;
}

$primary-dark:      #422a4b;

.bkgd-primary-dark {
  background-color: $primary-dark;
}

$primary-light:     #a174b2;

/// Theme Color - X-Rite Green
/// @type Color
$x-green:          #55a444;

.x-green {
  color: $x-green;
}

.bkgd-x-green {
  background-color: $x-green;
}

/// Theme Color - X-Rite Purple
/// @type Color
$x-purple:          #915ca4;

.x-purple {
  color: $x-purple;
}

.bkgd-x-purple {
  background-color: $x-purple;
}

/// Theme Color - X-Rite Blue
/// @type Color
$x-blue:          #00ace3;

.x-blue {
  color: $x-blue;
}

.bkgd-x-blue {
  background-color: $x-blue;
}

/// Theme Color - X-Rite Orange
/// @type Color
$x-orange:          #e98b00;

.x-orange {
  color: $x-orange;
}

.bkgd-x-orange {
  background-color: $x-orange;
}