////
/// Padding variables & definitions
/// @group Padding 

/// @type Size
$padding-vertical:             30px;

/// @type Size
$padding-vertical--small:      15px;

/// @type Size
$padding-vertical--large:      45px;

/// @type Size
$padding-horizontal:           2.5%;

/// @type Size
$padding-horizontal--small:    1.25%;

/// @type Size
$padding-horizontal--large:    5%;
