//-
//- @layout: Layout
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
doctype html
html(lang="en")
  head
    title= pageTitle
    
    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="description" content="")
      meta(name="keywords" content="")

    block links
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
      link(type="text/css" rel="stylesheet" media="all" href="css/stylesheet.css")
      link(type="text/css" rel="stylesheet" media="all" href="css/mathias-stylesheet.css")
    
  body
    .page-wrapper
      .svg-store
        include ../../svg/svg.min.jade

      include ../../components/navigation/navigation.jade

      <!-- CONTENT -->
      block content
      <!-- /CONTENT -->

      include ../partials/footer.jade
    .modal.fade(id="modal")
      .modal-dialog
        .modal-content
          .modal-header
            h4 Request a Quote
            button.close(data-dismiss="modal") Close X
          .modal-body 
            h3.text-center 
              a(href="tel:800-555-5555") 800-248-9748
            | This is an example modal / form with placeholder content. Form fields will be determined in sitecore.
            .row
              .col-md-12
                .form-group.select-form-container
                    select.form-control(id="sort-by", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="sort-by") 
                      span Select your Industry
              .col-md-12
                .form-group.select-form-container
                    select.form-control(id="sort-by", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="sort-by") 
                      span Select your Industry
              .col-md-12
                .form-group
                  input(id="first-name", type="text", placeholder="First Name", required)
                  label(for="first-name") 
                    span First Name
              .col-md-12
                .form-group
                  input(id="last-name", type="password", placeholder="Last Name", required)
                  label(for="last-name") 
                    span Last Name
              .col-md-12
                .form-group
                  input(id="email", type="text", placeholder="Email Address", required)
                  label(for="email") 
                    span Email
              .col-md-12
                .form-group
                  input(id="phone", type="text", placeholder="Phone Number", required)
                  label(for="phone") 
                    span Phone Number
              .col-md-12
                .form-group
                  textarea(type="text", placeholder="Leave us a message", required)
                  label(for="message")
                    span Leave us a Message
              
              .col-md-12
                .checkbox
                  label
                      | Keep me informed
                      input(type="checkbox")
                      span.psuedo-input
                p
                  a(href="#") Privacy Policy
              .col-md-12
                .form-group
                  button.btn.btn-primary Submit
    .modal.fade(id="emailsignup")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss="modal") Close X
          .modal-body 
            h2 Email Sign Up Form
            | This is an example modal / form with placeholder content. Form fields will be determined in sitecore.
            .row
              .col-md-12
                .form-group
                  input(id="first-name-2", type="text", placeholder="First Name", required)
                  label(for="first-name-2") 
                    span First Name
              .col-md-12
                .form-group
                  input(id="email-2", type="text", placeholder="Email Address", required)

                  label(for="email-2") 
                    span Email
              .col-md-12
                .form-group
                  button.btn.btn-primary Submit

    block scripts
      script(type="text/javascript" src="js/libs/jquery.min.js")
      script(type="text/javascript" src="js/libs/jquery.colorbox-min.js")
      script(type="text/javascript" src="js/libs/slick.min.js")
      script(type="text/javascript" src="js/libs/bootstrap.min.js")
      script(type="text/javascript" src="js/main.js")
      script(type="text/javascript" src="js/example-form-select.js")