//-
//- @layout: Layout
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
doctype html
html(lang="en")
  head
    title= pageTitle
    
    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="description" content="")
      meta(name="keywords" content="")

      // Open Graph Meta
      meta(property="og:type" content="website")
      meta(property="og:title" content="")
      meta(property="og:description" content="")
      meta(property="og:image" content="")
      meta(property="og:url" content="")
      meta(property="article:publisher" content="https://www.facebook.com/xritecolor/")
      meta(property="article:section" content="")
      meta(property="og:site_name" content="X-Rite")

      // Twitter Meta
      meta(name="twitter:card" value="")
      meta(name="twitter:url" value="")
      meta(name="twitter:title" value="")
      meta(name="twitter:description" content="")
      meta(name="twitter:image" value="")
      meta(name="twitter:site" value="@xritecolor")
      meta(name="twitter:creator" value="@xritecolor")

      // Bread Crumb Schema
      script(type="application/ld+json").
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "http://www.xrite.com/",
              "name": "Home"
            },
            // End Position One
            // Start Position Two
            {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://www.xrite.com/products",
              "name": "Products"
            },
            // End Position Two
            // Start Position Three
            ,{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://www.xrite.com/products",
              "name": "Products"
            },

          }]

      // Search Schema
      script(type="application/ld+json").
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://www.xrite.com/",
        "potentialAction": {
         "@type": "SearchAction",
         "target": "http://www.xrite.com/search_results.aspx?q={search_term_string}",
         "query-input": "required name=search_term_string"
        }

      // Global Schema
      script(type="application/ld+json").
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "X-Rite",
        "logo" : "http://www.xrite.com/graphics/xrite-logo.gif",
        "url" : "http://www.xrite.com/",
        "description" : "Global leader in color trends, science and technology.",
        "sameAs" : [ "http://en.wikipedia.org/wiki/X-Rite",
            "https://www.facebook.com/XRiteColor",
        "https://twitter.com/XRiteColor",
            "https://www.linkedin.com/company/x-rite",
        "http://plus.google.com/your_profile",
            "https://www.youtube.com/user/Xrite4Color",
            "http://vimeo.com/xrite"], 
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "Grand Rapids",
        "addressRegion": "MI",
        "postalCode": "49512",
        "streetAddress": "4300 44th St. SE"
        },
        "contactPoint" : [
        { "@type" : "ContactPoint",
          "telephone" : "+1-800-248-9748",
          "contactType" : "customer service",
          "areaServed": "US"
        } ] }
    block links
      link(rel="stylesheet" href="//fast.fonts.net/cssapi/570c51da-e395-463e-87b9-2b9be7b7fa8c.css")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
      link(type="text/css" rel="stylesheet" media="all" href="css/stylesheet.css")
    
  body
    .page-wrapper
      .svg-store
        include ../../svg/svg.min.jade

      include ../../components/navigation/navigation.jade

      <!-- CONTENT -->
      block content
      <!-- /CONTENT -->

      include ../partials/footer.jade
    .modal.fade(id="modal")
      .modal-dialog
        .modal-content
          .modal-header
            h4 Request a Quote
            button.close(data-dismiss="modal") Close X
          .modal-body
            form 
              h3.text-center 
                a(href="tel:800-555-5555") 800-248-9748
              | This is an example modal / form with placeholder content. Form fields will be determined in sitecore.
              .row
                .col-md-12
                  .form-group.select-form-container
                      select.form-control(id="sort-by", required)
                        option(value="")  
                        option option 1
                        option option 2
                        option option 3
                      label(for="sort-by") 
                        span Select your Industry
              .row
                .col-md-12
                  .form-group.select-form-container
                      select.form-control(id="sort-by", required)
                        option(value="")  
                        option option 1
                        option option 2
                        option option 3
                      label(for="sort-by") 
                        span Select your Industry
              .row
                .col-md-12
                  .form-group
                    input(id="first-name", type="text", placeholder="First Name", required)
                    label(for="first-name") 
                      span First Name
              .row
                .col-md-12
                  .form-group
                    input(id="last-name", type="password", placeholder="Last Name", required)
                    label(for="last-name") 
                      span Last Name
              .row
                .col-md-12
                  .form-group
                    input(id="email", type="text", placeholder="Email Address", required)
                    label(for="email") 
                      span Email
              .row
                .col-md-12
                  .form-group
                    input(id="phone", type="text", placeholder="Phone Number", required)
                    label(for="phone") 
                      span Phone Number
              .row
                .col-md-12
                  .form-group
                    textarea(type="text", placeholder="Leave us a message", required)
                    label(for="message")
                      span Leave us a Message
                
              .row
                .col-md-12
                  .checkbox
                    label
                        | Keep me informed
                        input(type="checkbox")
                        span.psuedo-input
                  p
                    a(href="#") Privacy Policy
                .col-md-12
                  .form-group
                    button.btn.btn-primary Submit
    .modal.fade(id="emailsignup")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss="modal") Close X
          .modal-body 
            h2 Email Sign Up Form
            | This is an example modal / form with placeholder content. Form fields will be determined in sitecore.
            .row
              .col-md-12
                .form-group
                  input(id="first-name-2", type="text", placeholder="First Name", required)
                  label(for="first-name-2") 
                    span First Name
              .col-md-12
                .form-group
                  input(id="email-2", type="text", placeholder="Email Address", required)

                  label(for="email-2") 
                    span Email
              .col-md-12
                .form-group
                  button.btn.btn-primary Submit
    .modal.fade(id="global-gateway")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss="modal") Close X
          .modal-body 
            h2 Global Gateway
            p Please change your Location and Language to your desired region.
            .row
              .col-md-12
                .form-group.select-form-container
                    select.form-control(id="language", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="language") 
                      span Select your Language
              .col-md-12
                .form-group.select-form-container
                    select.form-control(id="location", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="location") 
                      span Select your Location
              .col-md-12
                .form-group
                  button.btn.btn-primary Submit
    block scripts
      script(type="text/javascript" src="js/libs/jquery.min.js")
      script(type="text/javascript" src="js/libs/jquery.colorbox-min.js")
      script(type="text/javascript" src="js/libs/slick.min.js")
      script(type="text/javascript" src="js/libs/bootstrap.min.js")
      script(type="text/javascript" src="js/libs/jquery.dotdotdot.min.js")
      script(type="text/javascript" src="js/main.js")
      script(type="text/javascript" src="js/example-form-select.js")
      script(type="text/javascript" src="js/gtm.js")