//-
//- @layout: Layout
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
doctype html
html(lang="en")
  head
    title= pageTitle
    
    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="description" content="")
      meta(name="keywords" content="")

      // Open Graph Meta
      meta(property="og:type" content="website")
      meta(property="og:title" content="")
      meta(property="og:description" content="")
      meta(property="og:image" content="")
      meta(property="og:url" content="")
      meta(property="article:publisher" content="https://www.facebook.com/xritecolor/")
      meta(property="article:section" content="")
      meta(property="og:site_name" content="X-Rite")

      // Twitter Meta
      meta(name="twitter:card" value="")
      meta(name="twitter:url" value="")
      meta(name="twitter:title" value="")
      meta(name="twitter:description" content="")
      meta(name="twitter:image" value="")
      meta(name="twitter:site" value="@xritecolor")
      meta(name="twitter:creator" value="@xritecolor")

      // Bread Crumb Schema
      script(type="application/ld+json").
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "http://www.xrite.com/",
              "name": "Home"
            },
            // End Position One
            // Start Position Two
            {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://www.xrite.com/products",
              "name": "Products"
            },
            // End Position Two
            // Start Position Three
            ,{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://www.xrite.com/products",
              "name": "Products"
            },

          }]

      // Search Schema
      script(type="application/ld+json").
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://www.xrite.com/",
        "potentialAction": {
         "@type": "SearchAction",
         "target": "http://www.xrite.com/search_results.aspx?q={search_term_string}",
         "query-input": "required name=search_term_string"
        }

      // Global Schema
      script(type="application/ld+json").
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "X-Rite",
        "logo" : "http://www.xrite.com/graphics/xrite-logo.gif",
        "url" : "http://www.xrite.com/",
        "description" : "Global leader in color trends, science and technology.",
        "sameAs" : [ "http://en.wikipedia.org/wiki/X-Rite",
            "https://www.facebook.com/XRiteColor",
        "https://twitter.com/XRiteColor",
            "https://www.linkedin.com/company/x-rite",
        "http://plus.google.com/your_profile",
            "https://www.youtube.com/user/Xrite4Color",
            "http://vimeo.com/xrite"], 
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "Grand Rapids",
        "addressRegion": "MI",
        "postalCode": "49512",
        "streetAddress": "4300 44th St. SE"
        },
        "contactPoint" : [
        { "@type" : "ContactPoint",
          "telephone" : "+1-800-248-9748",
          "contactType" : "customer service",
          "areaServed": "US"
        } ] }
    block links
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
      link(type="text/css" rel="stylesheet" media="all" href="css/stylesheet.css")
    
  body.pw-hue-test
    .page-wrapper
      .svg-store
        include ../../svg/svg.min.jade

      include ../../components/navigation/navigation.jade

      <!-- CONTENT -->
      block content
      <!-- /CONTENT -->
      .modal.fade(id="hue-test" class="modal fade in hue-modal")
        .modal-dialog
          .modal-content
            .modal-body.text-center
              h2 Attention!
              | Please rotate your phone or view this test on a larger device for best results.
              
      .hue-modal-backdrop
      include ../partials/footer.jade
   
    block scripts
      script(type="text/javascript" src="js/libs/jquery.min.js")
      script(type="text/javascript" src="js/libs/jquery.colorbox-min.js")
      script(type="text/javascript" src="js/libs/slick.min.js")
      script(type="text/javascript" src="js/libs/bootstrap.min.js")
      script(type="text/javascript" src="js/libs/dragula.min.js")
      script(type="text/javascript" src="js/libs/Chart.min.js")
      script(type="text/javascript" src="js/main.js")
      script(type="text/javascript" src="js/hue-test.js")
      script(type="text/javascript" src="js/gtm.js")
  div(style="height: 0; padding: 0; margin: 0; line-height: 0;")
    <svg id="colorblind-filters" style="display: none"> <defs> <filter id="protanopia"> <feColorMatrix type="matrix" values="0.567,0.433,0,0,0 0.558,0.442,0,0,0 0 0.242,0.758,0,0 0,0,0,1,0" in="SourceGraphic"></feColorMatrix> </filter> <filter id="protanomaly"> <feColorMatrix type="matrix" values="0.817,0.183,0,0,0 0.333,0.667,0,0,0 0,0.125,0.875,0,0 0,0,0,1,0" in="SourceGraphic"></feColorMatrix> </filter> <filter id="deuteranopia"> <feColorMatrix type="matrix" values="0.625,0.375,0,0,0 0.7,0.3,0,0,0 0,0.3,0.7,0,0 0,0,0,1,0" in="SourceGraphic"></feColorMatrix> </filter> <filter id="deuteranomaly"> <feColorMatrix type="matrix" values="0.8,0.2,0,0,0 0.258,0.742,0,0,0 0,0.142,0.858,0,0 0,0,0,1,0" in="SourceGraphic"></feColorMatrix> </filter> <filter id="tritanopia"> <feColorMatrix type="matrix" values="0.95,0.05,0,0,0 0,0.433,0.567,0,0 0,0.475,0.525,0,0 0,0,0,1,0" in="SourceGraphic"></feColorMatrix> </filter> <filter id="tritanomaly"> <feColorMatrix type="matrix" values="0.967,0.033,0,0,0 0,0.733,0.267,0,0 0,0.183,0.817,0,0 0,0,0,1,0" in="SourceGraphic"></feColorMatrix> </filter> <filter id="achromatopsia"> <feColorMatrix type="matrix" values="0.299,0.587,0.114,0,0 0.299,0.587,0.114,0,0 0.299,0.587,0.114,0,0 0,0,0,1,0" in="SourceGraphic"></feColorMatrix> </filter> <filter id="achromatomaly"> <feColorMatrix type="matrix" values="0.618,0.320,0.062,0,0 0.163,0.775,0.062,0,0 0.163,0.320,0.516,0,0 0,0,0,1,0" in="SourceGraphic"></feColorMatrix> </filter> </defs> </svg></div>