//-
//- @component: Media Object Slider
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin banner-static()
  .banner.banner-carousel.without-arrows
    .banner-slide
      .span.banner-background.visible-xs-block
        img(src="assets/xrite-handheld-spectrophotometer-03.jpg")
      .span.banner-background.visible-sm-block
        img(src="assets/xrite-handheld-spectrophotometer-03.jpg")
      .span.banner-background.visible-md-block.visible-lg-block
        img(src="assets/xrite-handheld-spectrophotometer-03.jpg")
      .banner-copy
        h1 Generic Slideshow Placeholder