//-
//- @component: Rich Text
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
include social.jade
include utility-nav.jade
mixin breadcrumb()
                
    nav.container.breadcrumb
        +utility-nav()
        +social()