//-
//- @component: Flex
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin flexspace()
  section.item
    h3.heading(id="badges") Flex Space
    div.container
        .row
          .flex-space.col-sm-12.col-md-4 
            img(src="http://placehold.it/400x285")
            .flex-space-copy
              h3 
                  a(href="#") Title 1
          .flex-space.col-sm-12.col-md-4
            img(src="http://placehold.it/400x285")
            .flex-space-copy
              h3 
                a(href="#") Title 2
          .flex-space.col-sm-12.col-md-4 
            img(src="http://placehold.it/400x285")
            .flex-space-copy
              h3 
                a(href="#") Title 3
    div.container
        .row
          .flex-space.col-sm-12.col-md-6 
            img(src="http://placehold.it/600x285")
            .flex-space-copy
              h3 
                a(href="#") Title 4
          .flex-space.col-sm-12.col-md-6 
            img(src="http://placehold.it/600x285")
            .flex-space-copy
              h3 
                a(href="#") Title 5
    div.container
        .row
          .flex-space.col-sm-12.col-md-12 
            img(src="http://placehold.it/1200x285")
            .flex-space-copy
              h3 
                a(href="#") Title 6

    h3.heading(id="flex-space-noninteractive") Linkable Flex Space ( non interactive )
    div.container
        .row
          .flex-space.col-sm-12.col-md-4 
            a(href="#")
              img(src="http://placehold.it/400x285")
          .flex-space.col-sm-12.col-md-4
            a(href="#")
              img(src="http://placehold.it/400x285")
          .flex-space.col-sm-12.col-md-4
            a(href="#")
              img(src="http://placehold.it/400x285")
    div.container
        .row
          .flex-space.col-sm-12.col-md-6
            a(href="#")
              img(src="http://placehold.it/600x285")
          .flex-space.col-sm-12.col-md-6 
            a(href="#")
              img(src="http://placehold.it/600x285")
    div.container
        .row
          .flex-space.col-sm-12.col-md-12 
            a(href="#")
              img(src="http://placehold.it/1200x285")
    div.container
        .row
          .flex-space.col-sm-12.col-md-4
            .flex-space-interactive
              a(href="#")
                img.small(src="http://placehold.it/400x285")
                img.medium(src="http://placehold.it/600x285")
                img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Copy Without Link
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem, vitae hendrerit mauris. Donec facilisis consectetur diam ac interdum.
              button.flex-space-button

          .flex-space.col-sm-12.col-md-4
            .flex-space-stacked
              a(href="#")
                img.small(src="http://placehold.it/400x285")
                img.medium(src="http://placehold.it/600x285")
                img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Copy with Link
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem, vitae hendrerit mauris. Donec facilisis consectetur diam ac interdum.
                a(href="#") Click Me
              button.flex-space-button

          .flex-space.col-sm-12.col-md-4
            .flex-space-interactive
              a(href="#")
                img.small(src="http://placehold.it/400x285")
                img.medium(src="http://placehold.it/600x285")
                img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Copy With Click More
                p Lorem ipsum dolor sit amet, consectetur adipiscd.
                a(href="#") This is the link inside
              button.flex-space-button

        .row
          .flex-space.col-sm-12.col-md-6
            .flex-space-interactive
              a(href="#")
                img.small(src="http://placehold.it/400x285")
                img.medium(src="http://placehold.it/600x285")
                img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Copy Without Link
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem, vitae hendrerit mauris. Donec facilisis consectetur diam ac interdum.
              button.flex-space-button

          .flex-space.col-sm-12.col-md-6
            .flex-space-interactive
              a(href="#")
                img.small(src="http://placehold.it/400x285")
                img.medium(src="http://placehold.it/600x285")
                img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                a(href="#")
                  h2 Copy with Link
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem, vitae hendrerit mauris. Donec facilisis consectetur diam ac interdum.
              button.flex-space-button
        .row
          .flex-space.col-sm-12.col-md-12
            .flex-space-interactive
              a(href="#")
                img.small(src="http://placehold.it/400x285")
                img.medium(src="http://placehold.it/600x285")
                img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                a(href="#")
                  h2 Copy with Link
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem, vitae hendrerit mauris. Donec facilisis consectetur diam ac interdum.
              button.flex-space-button
          

