//-
//- @component: Media Object
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin media-object()
  article.media-object
      div.media-object--image
        img(src="https://placehold.it/100x100")
      div.media-object--title
        h1.heading-four 
          a(href="#") Results Title
          small.show Subtitle -- ( Optional Date )
      div.media-object--description
        p This is a result description that can be as many or as little words as you want.
      div.media-object--cta.text-right
        a(href="#") Optional CTA