//-
//- @component: Media Object Slider
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin media-object--slider()
  .media-object.media-object--horizontal.media-object--slider.without-arrows
            article.media-object--interactive.col-sm-12.col-md-4
                div.media-object--image
                  img(src="https://placehold.it/100x100")
                div.media-object--title
                  h1.heading-four 
                    a(href="#") Testimonial First
                div.media-object--description
                  p This is a Testimonial Description that can be as many or as little words as you want.
            article.media-object--interactive.col-sm-12.col-md-4
                div.media-object--image
                  img(src="https://placehold.it/100x100")
                div.media-object--title
                  h1.heading-four 
                    a(href="#") Testimonial Second
                div.media-object--description
                  p This is a Testimonial Description that can be as many or as little words as you want.
            article.media-object--interactive.col-sm-12.col-md-4
                div.media-object--image
                  img(src="https://placehold.it/100x100")
                div.media-object--title
                  h1.heading-four 
                    a(href="#") Testimonial Third
                div.media-object--description
                  p This is a Testimonial Description that can be as many or as little words as you want.
            article.media-object--interactive.col-sm-12
                div.media-object--image
                  img(src="https://placehold.it/100x100")
                div.media-object--title
                  h1.heading-four 
                    a(href="#") Testimonial Fourth
                div.media-object--description
                  p This is a Testimonial Description that can be as many or as little words as you want.