//-
//- @component: Pagination
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin pagination()
    .pagination.utility-nav
      ul
        li.first
          a.productComparePager(data-page="0")
            span.lnr.lnr-chevron-left
        
        li
          a(href="#") 1
        li ...
        li.hidden-xs
          a(href="#") 2
        li.hidden-xs
          a(href="#") 3
        li.hidden-xs
          a(href="#") 4
        li.hidden-xs
          a(href="#") 5
        li.hidden-xs
          a(href="#") 6
        li
          a(href="#") 7
        li.active
          a(href="#") 8
        li
          a(href="#") 9
        li.hidden-xs
          a(href="#") 10
        li.hidden-xs
          a(href="#") 11
        li.hidden-xs
          a(href="#") 12
        li.hidden-xs
          a(href="#") 13
        li.hidden-xs
          a(href="#") 14
        li ...
        li
          a(href="#") 32
        li.last
          a.productComparePager(data-page="0")
            span.lnr.lnr-chevron-right