//-
//- @component: Phone Number Banner
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin phone-number()
    section
        .row.text-center
            .container
                h2 Questions? 
                      a(href="#") Want to place an order?
                      |&nbsp;800.232.2345
                      | or
                      a(href="#") &nbsp;Contact Us
