//-
//- @component: Rich Text
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin social()
                
    ul.list-unstyled.social-list
        li
            a(href="#")
                | share
        li
            a(href="https://twitter.com/intent/tweet?text=sitecorecontentmanaged%20@Xrite-photo" target="_blank")
                i.fa.fa-twitter
        li
            a(href="https://www.linkedin.com/cws/share?url=http%3A%2F%2Fgoogle.com" target="_blank")
                i.fa.fa-linkedin
        li
            a(href="https://www.facebook.com/sharer/sharer.php?")
                i.fa.fa-facebook
        li
            a(href="http://pinterest.com/pin/create/button/?" target="_blank")
                i.fa.fa-pinterest-p
        li
            a(href="mailto:?subject=content%20managed%20title&body=content%20managed%20body%20with%20link")
                i.fa.fa-envelope

