//-
//- @component: Rich Text
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin utility-nav()
                
    ul.utility-nav(style="margin-bottom: 30px;", itemscope,  itemtype="http://schema.org/BreadcrumbList")
      li(itemprop="itemListElement", itemscope, 
      itemtype="http://schema.org/ListItem")
        a(href="#", itemprop="item" ) 
            span(itemprop="name") product listing
        meta(itemprop="position", content="1" )
      li(itemprop="itemListElement", itemscope, 
      itemtype="http://schema.org/ListItem")
        a(href="#", itemprop="item" ) 
            span(itemprop="name") Products
        meta(itemprop="position", content="2" )
      li(itemprop="itemListElement", itemscope, 
      itemtype="http://schema.org/ListItem")
        a(href="#", itemprop="item" ) 
            span(itemprop="name") Software
        meta(itemprop="position", content="2" )
      li(itemprop="itemListElement", itemscope, 
      itemtype="http://schema.org/ListItem")
        a(href="#", itemprop="item" ) 
            span(itemprop="name") Colormunki
        meta(itemprop="position", content="3" )