//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout-about.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content

  include ../../components/banner/banner.jade

  nav.container.breadcrumb
      +utility-nav()


  .container.coloratti
    .row
      aside.col-sm-12.col-lg-3.visible-lg-block
        ul.list-unstyled
          li
            h4
              a(href="#") About X-Rite Pantone
          li
            h4
              a(href="#") Our Brands
          li
            h4
              a(href="#") Partners
          li
            h4
              a(href="#") Locations
          li
            h4
              a(href="#") News and Events
          li
            h4
              a(href="#") Careers
          li
            h4
              a(href="#") Coloratti
        hr
        h4 Contact Us
        address  X-Rite Pantone<br>
          | 4300 44th Street<br>
          | Grand Rapids MI, 99999 USA<br>
          a(href="tel:0000000000") (000)000-0000

        hr
        h4 Connect With Us
        p Lorum ipsum dolar imet. Connect with X-Rite. See our awesome social media.
        ul.list-unstyled.social-list
          li
            a(href="#")
              i.fa.fa-facebook
              //- | Become a fan on Facebook
          li
            a(href="#")
              i.fa.fa-twitter
              //- | Follow us on Twitter
          li
            a(href="#")
              i.fa.fa-linkedin
              //- | Join our color group
          li
            a(href="#")
              i.fa.fa-youtube
              //- | Watch our Presentation
      .col-sm-12.col-md-9
        .row
          .col-xs-12
            h1 Locations Near Me
            p Headquartered in Grand Rapids, Michigan, X-Rite is a global company with locations around the world. Experts in blending the art and science of color, we focus on providing complete end-to-end color management solutions for our clients in every industry where color matters. 

        
        section
          h2 
            u America<br>
          
          .row
            .col-md-6
              h3 X-Rite — Corporate Headquarters USA
              address 
                  | 4300 44th St. SE <br>
                  | Grand Rapids, MI 49512 Stati Uniti <br>
                  | Telefono 800-248-9748 or 616-803-2100
            .col-md-6
              h3 Pantone
              address 
                  | 590 Commerce Blvd <br>
                  | Carlstadt, NJ 07072-3098 Stati Uniti <br>
                  | Telefono 201-935-5500 <br>
                  | Fax 201-896-0242
          .row
            .col-md-6
              h3 X-Rite — Brazil

              address 
                  | René Guiraldo <br>
                  | Country Manager <br>
                  | Brasile <br>
                  | Telefono +55 11 99119-8097 <br>
                  | Email <a href="mailto:reneguiraldo@xrite.com">reneguiraldo@xrite.com</a>
            .col-md-6
              h3 X-Rite — Director Latin America
              address 
                  | Luca Tubbini<br>
                  | Sales and Marketing Latin America <br><br>
                  | 4300 44th Street SE <br>
                  | Grand Rapids, MI 49512 Stati Uniti <br>
                  | Telefono +1 702-235-4166 <br>
                  | Email <a href="mailto:LTubbini@xrite.com">LTubbini@xrite.com</a>
          .row 
            .col-md-6
              h3 X-Rite, Ames Pond Development Center

              address 
                    | 2 Highwood Drive, Suite 102<br>
                    | Tewksbury, MA 01876 Stati Uniti <br>
                    | Fax 1-978-851-6697<br>
          hr
        section
          h2 
            u Europe<br>
          
          .row
            .col-md-6
              h3 X-Rite Europe GmbH
              address 
                  | Althardstrasse 70 <br>
                  | Regensdorf, 8105 Svizzera <br>
                  | Telefono +800 700 300 01 <br>
                  | Fax +41 44 842 22 22
            .col-md-6
              h3 X-Rite — Czech Republic
              address 
                  | Palánek 374/1a, 2nd floor <br>
                  | Vyškov, CZ-682 01 Repubblica Ceca <br>
                  | Telefono +420 517 332 331 <br>
                  | Email <a href="mailto:xritecz@infos.cz">xritecz@infos.cz</a>
          .row
            .col-md-6
              h3 X-Rite — Moscow

              address 
                  | Andrey Kotik <br>
                  | Sales Director Russia/CIS/Ukraine <br><br>
                  | 2a, Pryanishnikova St. <br>
                  | Moscow, 127550 Russia <br>
                  | Telefono  +7 (495) 988-45- 52<br>
                  | Fax +7 (499) 976-37-10
            .col-md-6
              h3 X-Rite — Neu-Isenburg, Germany
              address 
                  | Siemensstraße 12b<br>
                  | Neu-Isenburg, 63263 Germania<br>
                  | Telefono +49 61 0279 57-0 <br>
                  | Fax +49 61 0279 5757 <br>
          .row 
            .col-md-6
              h3 X-Rite — United Kingdom

              address 
                    | Mike Smyth<br>
                    | Managing Director<br><br>
                    | The Acumen Centre, First Avenue<br>
                    | Poynton, Cheshire, SK12 1FJ Regno Unito<br>
                    | Telefono 01625 871100<br>
                    | Fax 01625 871444
            .col-md-6
              h3 X-Rite Iberica — Spain

              address 
                    | Nacho Benito<br>
                    | Sales Director Spain and Portugal<br><br>
                    | Torre Realia-BCN Pl. Europa 41-43, 4º Planta<br>
                    | L’Hospitalet de Llobregat, Barcelona, 08908 Spagna<br>
                    | Telefono +34935473709(Ventas)/+34935473741(Soporte Técnico)<br>
                    | Email <a href="mailto:x-riteiberica@xrite.com">x-riteiberica@xrite.com</a>
          .row 
            .col-md-6
              h3 X-Rite Italy S.r.l.

              address 
                    | Andrea Vannacci<br>
                    | Sales Director Southern Europe<br><br>
                    | Via Braille, 69/69A<br>
                    | Prato, 59100 Italia<br>
                    | Telefono +39 0574 527755 Int.210<br>
                    | Fax +39 0574 527671
            .col-md-6
              h3 X-Rite Méditerranée

              address 
                    | Marie-Hélène Boucher<br>
                    | Office Manager<br><br>
                    | Parc d’Activités du Moulin - 43, rue du Saule Trapu<br>
                    | Massy, 91300 Francia<br>
                    | Telefono +33 (0)1 69 53 66 20<br>
                    | Fax +33 (0)1 69 53 00 52</a>
          .row 
            .col-md-6
              h3 X-Rite - Munich, Germany

              address 
                    | Fraunhoferstr. 14<br>
                    | Martinsried, 82152 Germania<br>
                    | Telefono +49 89 85 707-0<br>
                    | Fax +49 89 85 707-222<br>
                    | Email <a href="info@ERX50.com">info@ERX50.com</a>
            .col-md-6
              h3 X-Rite Méditerranée

              address 
                    | Marie-Hélène Boucher<br>
                    | Office Manager<br><br>
                    | Parc d’Activités du Moulin - 43, rue du Saule Trapu<br>
                    | Massy, 91300 Francia<br>
                    | Telefono +33 (0)1 69 53 66 20<br>
                    | Fax +33 (0)1 69 53 00 52</a>
          hr
        section
          h2 
            u Asia<br>
          
          .row
            .col-md-6
              h3 X-Rite (Shanghai) Color Management Co., Ltd.
              address 
                  | Room 1802, Block B New Caohejing International Business Center, No.391 Gui Ping Road <br>
                  | Shanghai, 200233 Cina <br>
                  | Telefono +86 21 6448 1155 <br>
                  | Fax +86 21 6448 2468 <br>
                  | Email <a href="mailto:info_shanghai@xrite.com">info_shanghai@xrite.com</a>
            .col-md-6
              h3 X-Rite — Beijing
              address 
                  | Room 1201, Block C Wangjing Fangheng Building ,No 6 Futong East Street, Chaoyang District<br>
                  | Beijing, 100101 Cina<br>
                  | Telefono 010-8478 5490 <br>
                  | Fax 010-8478 5491 <br>
                  | Email <a href="mailto:info_beijing@xrite.com">info_beijing@xrite.com</a>
          .row
            .col-md-6
              h3 X-Rite — China Service Center

              address 
                  | Room 1802, Block B New Caohejing International Business Center, No.391 Gui Ping Road<br>
                  | Shanghai, 200233 Cina <br>
                  | Telefono (021) 644 81155 <br>
                  | Fax (021) 644 82468  <br>
            
            .col-md-6
              h3 X-Rite — Guangzhou
              address 
                  | 2510 Tower B China International Center<br>
                  | Guangzhou, 101125 Cina<br>
                  | Telefono 86-20-8375-2900 <br>
                  | Fax 86-20-8375-2911<br>
                  | Email <a href="mailto:info_guangzhou@xrite.com">info_guangzhou@xrite.com</a>
          .row 
            .col-md-6
              h3 X-Rite — Japan

              address 
                    | 6/F Telecom Center, <br>
                    | 2-5-10 Aomi, Koto-ku, Tokyo, 135-0064 Giappone <br>
                    | Telefono +81-3-5579-6545<br>
                    | Fax  +81-3-5579-6547
            .col-md-6
              h3 X-Rite Asia Pacific Limited

              address 
                    | Suite 2801, 28th Floor, AXA Tower, Landmark East, 100 How Ming Street <br>
                    | Kwun Tong, Kowloon, Hong Kong, Cina<br>
                    | Telefono (852) 2568-6283<br>
                    | Fax (852) 2885-8610
                    | Email <a href="mailto:info_ap@xrite.com">info_ap@xrite.com</a>
          .row 
            .col-md-6
              h3 X-Rite — Korea

              address 
                    | Mr Han, Sang Yong <br><br>
                    | 13F, PANTECH Building, 179 Seongam-ro, Mapo-gu <br>
                    | Seoul, 03929 Sud Corea<br>
                    | Telefono +82-70-4790-9587
                    | Email <a href="mailto:SangYongHan@xrite.com">SangYongHan@xrite.com</a>
            .col-md-6
              h3 X-Rite — South East Asia and Pacific

              address 
                    | 8 Changi Business Park Ave 1 #07-51, UE BizHub East (South Tower) S486018<br>
                    | Singapore, Singapore<br>
                    | Telefono +65-64200411<br>
                    | Email <a href="mailto:info.SEAsiaPacific@xrite.com">info.SEAsiaPacific@xrite.com</a>
          .row 
            .col-md-6
              h3 X-Rite — Korea

              address 
                    | Mr Han, Sang Yong <br><br>
                    | 13F, PANTECH Building, 179 Seongam-ro, Mapo-gu <br>
                    | Seoul, 03929 Sud Corea<br>
                    | Telefono +82-70-4790-9587
                    | Email <a href="mailto:SangYongHan@xrite.com">SangYongHan@xrite.com</a>
            .col-md-6
              h3 X-Rite — India Pvt. Ltd

              address 
                    | Esteem Tower, No. 71, Railway Parallel Road, Kumara Park (west)<br>
                    | Bangalore, 560020 India<br>
                    | Telefono +91 98 45038126<br>
                    | Email <a href="mailto:FPinto@xrite.com">FPinto@xrite.com</a>


          hr
        
  .container.text-right
    a(href="#").back-to-top
      span.lnr.lnr-chevron-up
      | &nbsp; back to top