//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/pagination.jade
include ../styleguide/ui-components/components/media-object.jade

include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    .row
      .col-sm-12
        h2 Press Release Listing
        | Here's a super long description

  .container.product-listing
    .row
      aside.filters.col-sm-12.col-md-3.tab-pane
        .row
          .col-sm-6.filter-header
            h5.accordion-trigger.collapsed
              a(data-toggle="collapse", href="#filters", aria-controls="collapseExample") Filters
          .col-sm-6.filter-reset
            a(href="#") Reset
        section(id="filters").filter-container
          section.accordion
            a(data-toggle="collapse",href="#need",aria-expanded="false",aria-controls="collapseExample") 
              a.heading-four.collapsed.accordion-trigger
                | Industry
                span.accordion-icon
            ul(id="need").list-filters.collapse
                li.checkbox
                    label Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Filter With a Long Name # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Filter # 3
                      input(type="checkbox")
                      span.psuedo-input
          section.accordion
            a(data-toggle="collapse",href="#category",aria-expanded="false",aria-controls="collapseExample")
              a.heading-four.collapsed.accordion-trigger Prodcut
                span.accordion-icon
            ul(id="category").list-filters.collapse
                li.checkbox
                    label Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Filter # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Filter # 3
                      input(type="checkbox")
                      span.psuedo-input
          


      .col-sm-12.col-md-9
        .row
          +pagination()
        
        +media-object()
        +media-object()
        +media-object()
        +media-object()
        +media-object()
        .row
          +pagination()
  .container.text-right
    a(href="#").back-to-top
      span.lnr.lnr-chevron-up
      | &nbsp; back to top