//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout-about.jade

include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    .row
      aside.col-sm-12.col-lg-3.visible-lg-block
        ul.list-unstyled
          li
            h4
              a(href="#") About X-Rite Pantone
          li
            h4
              a(href="#") Our Brands
          li
            h4
              a(href="#") Partners
          li
            h4
              a(href="#") Locations
          li
            h4
              a(href="#") News and Events
          li
            h4
              a(href="#") Careers
          li
            h4
              a(href="#") Coloratti
        hr
        h4 Contact Us
        address  X-Rite Pantone<br>
          | 4300 44th Street<br>
          | Grand Rapids MI, 99999 USA<br>
          a(href="tel:0000000000") (000)000-0000

        hr
        h4 Connect With Us
        p Lorum ipsum dolar imet. Connect with X-Rite. See our awesome social media.
        ul.list-unstyled.social-list
          li
            a(href="#")
              i.fa.fa-facebook
              //- | Become a fan on Facebook
          li
            a(href="#")
              i.fa.fa-twitter
              //- | Follow us on Twitter
          li
            a(href="#")
              i.fa.fa-linkedin
              //- | Join our color group
          li
            a(href="#")
              i.fa.fa-youtube
              //- | Watch our Presentation
      .col-sm-12.col-lg-9
        .row
          .col-xs-12
            h1 News and Events
            p paragraph talks about X-Rite News and Events. Donec lorem nulla, semper at mollis ut, auctor id magna. Donec dapibus eget nibh id tincidunt. Nam semper eros ac tempor feugiat.

        .row
          .col-xs-12
            h2 Press Release
          .flex-space.col-xs-12.col-sm-6
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p This text Area has a height of 330px. This will accomodate a small paragraph and 4 short bullet points. This is done to ensure that all buttons are on the same line.
          .flex-space.col-xs-12.col-sm-6
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 2
              p This is the Product Description, full of important text that can be digested easily by the consumer. Lorum ipsum dollar ismet
          .col-xs-12
            .btn-container
              button.btn.btn-primary Load More
        .row
          .col-xs-12
            h2 Tradeshows
          .flex-space.col-xs-12.col-sm-6
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 3
              p This is the Product Description, full of important text that can be digested easily by the consumer. Lorum ipsum dollar ismet
          .flex-space.col-xs-12.col-sm-6
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 4
              p This is the Product Description, full of important text that can be digested easily by the consumer. Lorum ipsum dollar isme

          .col-xs-12.col-md-6
            .btn-container
              button.btn.btn-primary Load More


        
  .container.text-right
    a(href="#").back-to-top
      span.lnr.lnr-chevron-up
      | &nbsp; back to top