c//-
//- @page: About Landing Page
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout-about.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    h2 About Landing Page
    | About Landing Categories
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  .container.google-maps
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.566538316177!2d-85.55942623471768!3d42.88149403910281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88184c58e314d031%3A0x27406a389ed3b704!2sX-Rite%2C+Inc.!5e0!3m2!1sen!2sus!4v1471874921587" allowfullscreen></iframe>
  section.extra-spaccing
    .container
      .row
        .flex-space.col-sm-12.col-md-4(style="margin-bottom: 0")
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Our Company
                p Category Copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .flex-space.col-sm-12.col-md-4(style="margin-bottom: 0")
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Our Brands
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
        .flex-space.col-sm-12.col-md-4(style="margin-bottom: 0")
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Partners
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem

        .flex-space.col-sm-12.col-md-4(style="margin-bottom: 0")
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Locations
                p Category Copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .flex-space.col-sm-12.col-md-4(style="margin-bottom: 0")
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 News &amp; Events
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
        .flex-space.col-sm-12.col-md-4(style="margin-bottom: 0")
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Careers
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem