//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout-about.jade

append content
    .container
      h1 About X-Rite Pantone
      p X-Rite Inc., a Danaher Company headquartered in Grand Rapids, Michigan, was founded in 1958 and is the global leader in color trends, science and technology. X-Rite provides a complete suite of services and solutions to help brands, manufacturers and suppliers select, define and manage color from design inspiration to final product. X-Rite helps customers communicate and manage color standards for raw materials, paper-based products, ink, photography, video, metal, glass, textiles, plastics and wood. With expertise in forecasting trends, communicating color specifications, formulating and measuring color, X-Rite serves customers across the consumer product industry from packaging, apparel, footwear, electronics, cosmetics, home furnishings, paint, food and beverage, and construction.
      p Pantone LLC, a wholly owned subsidiary of X-Rite, is the world-renowned authority on color and provider of color systems. The PANTONE® name is known worldwide as the language of color communication, from designer to manufacturer to retailer to customer. The Pantone Color Institute provides color forecasting, insights and consulting services. Its “Pantone Color of the Year” is a highly anticipated annual announcement that defines color trends for the fashion, cosmetics, home goods and paint industries.
      p Other X-Rite brands include Munsell Color, Gretag Macbeth, i1, CAPSURE and eXact. These brands showcase a continued dedication to the art and science of color, from ideation through production to products on the shelf or showroom floor.
      p X-Rite has the infrastructure and the global experience to deliver turnkey solutions ensuring that color is communicated and produced reliability through the supply chain for accurate color representation on the final product. X-Rite’s professional services staff work with clients through trainings and seminars to incorporate industry standards, efficient color management process and lean manufacturing practices into their operations to reduce waste, chargebacks and rejects.
      p Danaher Corporation, who purchased X-Rite in 2012, is a $19 billion company headquartered in Washington, D.C. It is a global science and technology innovator committed to helping customers solve complex challenges and to improving quality of life around the world. Danaher operates in five segments: Test &amp; Measurement, Environmental, Dental, Life Sciences & Diagnostics, and Industrial Technologies. X-Rite and its subsidiaries are part of the Product Identification Division along with sister companies Esko and Videojet.
    div.container
        .row
          .flex-space.col-sm-12.col-md-4 
            img(src="http://placehold.it/400x285")
            h3 
                a(href="#") Flex Space 1
          .flex-space.col-sm-12.col-md-4
            img(src="http://placehold.it/400x285")
            h3 
                a(href="#") Flex Space 2
          .flex-space.col-sm-12.col-md-4 
            img(src="http://placehold.it/400x285")
            h3 
                a(href="#") Flex Space 3

