//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout-about.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content

  include ../../components/banner/banner.jade

  nav.container.breadcrumb
      +utility-nav()


  .container.coloratti
    .row
      aside.col-sm-12.col-lg-3.visible-lg-block
        ul.list-unstyled
          li
            h4
              a(href="#") About X-Rite Pantone
          li
            h4
              a(href="#") Our Brands
          li
            h4
              a(href="#") Partners
          li
            h4
              a(href="#") Locations
          li
            h4
              a(href="#") News and Events
          li
            h4
              a(href="#") Careers
          li
            h4
              a(href="#") Coloratti
        hr
        h4 Contact Us
        address  X-Rite Pantone<br>
          | 4300 44th Street<br>
          | Grand Rapids MI, 99999 USA<br>
          a(href="tel:0000000000") (000)000-0000

        hr
        h4 Connect With Us
        p Lorum ipsum dolar imet. Connect with X-Rite. See our awesome social media.
        ul.list-unstyled.social-list
          li
            a(href="#")
              i.fa.fa-facebook
              //- | Become a fan on Facebook
          li
            a(href="#")
              i.fa.fa-twitter
              //- | Follow us on Twitter
          li
            a(href="#")
              i.fa.fa-linkedin
              //- | Join our color group
          li
            a(href="#")
              i.fa.fa-youtube
              //- | Watch our Presentation
      .col-sm-12.col-md-9
        .row
          .col-xs-12
            h1 About Internal Pages
            h2 About Internal Sub Title Page
            p Paragraph ti explain the About Landing Page -- the world's top professional photographers and ﬁlmmakers, a group whose vision, passion, leadership, and partnership are recognized and valued by X-Rite. The Coloratti understand the importance of implementing color management in their workﬂow and freely share their knowledge on how to get the very best color for any image. How they achieve accurate color is presented in many of their workshops, seminars and events. They foster creativity in others and inspire their students and audiences to easily master color control in their imagery and their art.
            p We invite you to visit our individual Coloratti pages to learn more about these top professionals and how color management inﬂuences their workﬂows.
        
  .container.text-right
    a(href="#").back-to-top
      span.lnr.lnr-chevron-up
      | &nbsp; back to top