//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    .row
      article.article.col-md-8
        h1 Title of Article
          small 
            a(href="#", rel="author") First, Last Name 
            | on 
            time July 17th, 2015
        ul.list-unstyled.social-list
          li
            a(href="#") Email  
              i.fa.fa-envelope
          li
            a(href="#") Print  
              i.fa.fa-print
        p X-Rite Inc., a Danaher Company headquartered in Grand Rapids, Michigan, was founded in 1958 and is the global leader in color trends, science and technology. X-Rite provides a complete suite of services and solutions to help brands, manufacturers and suppliers select, define and manage color from design inspiration to final product. X-Rite helps customers communicate and manage color standards for raw materials, paper-based products, ink, photography, video, metal, glass, textiles, plastics and wood. With expertise in forecasting trends, communicating color specifications, formulating and measuring color, X-Rite serves customers across the consumer product industry from packaging, apparel, footwear, electronics, cosmetics, home furnishings, paint, food and beverage, and construction.
      .flex-space.col-sm-12.col-md-4
        img.small(src="http://placehold.it/400x285")
        img.medium(src="http://placehold.it/400x285")
        img.large(src="http://placehold.it/400x285")
        h3 
            a(href="#") Video 1
        

    .row.btn-container
      .col-md-4
        a(href="#").btn.btn-primary Back to Article Listing
      .col-md-4.col-md-offset-4
        a(href="#").btn.btn-primary Next Article 
