//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    h2 Category Product Page
    | Category Listing Description
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  section
    .container
      .row
        .flex-space.col-sm-4
          img(src="http://placehold.it/360x200")
          .flex-space-copy
            h3 
              a(href="#") Product Title 1
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu
          .price-tag
            h4 329.00
              small free shipping
          .btn-container
            button.btn.btn-primary Add to Cart
            button.btn.btn-secondary View Details
          .compare-select
            .checkbox.checkbox-left
              label Compare
                input(type="checkbox")
                span.psuedo-input
        .flex-space.col-sm-4
          img(src="http://placehold.it/360x200")
          .flex-space-copy
            h3 
              a(href="#") Product Title 1
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu
          .price-tag
            h4 329.00
              small free shipping
          .btn-container
            button.btn.btn-primary Add to Cart
            button.btn.btn-secondary View Details
          .compare-select
            .checkbox.checkbox-left
              label Compare
                input(type="checkbox")
                span.psuedo-input
        .flex-space.col-sm-4
          img(src="http://placehold.it/360x200")
          .flex-space-copy
            h3 
              a(href="#") Product Title 1
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu
          .price-tag
            h4 329.00
              small free shipping
          .btn-container
            button.btn.btn-primary Add to Cart
            button.btn.btn-secondary View Details
          .compare-select
            .checkbox.checkbox-left
              label Compare
                input(type="checkbox")
                span.psuedo-input
      
 
  section.bkgd-light-gray.extra-spaccing
    .container
      .row
        .flex-space.col-xs-12.col-sm-4
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Whitepapers
                p Category Copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .flex-space.col-xs-12.col-sm-4
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Webinars
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
        .flex-space.col-xs-12.col-sm-4
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Case Studies
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem