//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade

include ../styleguide/ui-components/components/media-object--slider.jade
include ../styleguide/ui-components/components/media-object--static.jade
include ../styleguide/ui-components/components/banner-static.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content
  +banner-static()
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    h1 Category Detail Page
    | Category Listing Description
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

  section.bkgd-light-gray.extra-spaccing
    .container
      .row
        .flex-space.col-xs-12.col-sm-4.col-md-4
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Whitepapers
        .flex-space.col-xs-12.col-sm-4.col-md-4
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Webinars
        .flex-space.col-xs-12.col-sm-4.col-md-4
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Case Studies

  .container
    .row
      .flex-space.col-sm-12.col-md-4 
        .flex-space-interactive.half.active
          a(href="#")
            img.small(src="/assets/industry-automotive-small.jpg")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              h2 Coating Industry
              p Category Copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .flex-space-copy.secondary
          p X-Rite offers end-to-end formulation, production, and quality assurance solutions to help you consistently execute color harmony between interior, exterior and aftermarket components.
      .flex-space.col-sm-12.col-md-4
        .flex-space-interactive.half.active
          a(href="#")
            img.small(src="/assets/industry-design-small.jpg")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              h2 Automotive
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
        .flex-space-copy.secondary
          p X-Rite offers end-to-end formulation, production, and quality assurance solutions to help you consistently execute color harmony between interior, exterior and aftermarket components.
      .flex-space.col-sm-12.col-md-4
        .flex-space-interactive.half.active
          a(href="#")
            img.small(src="/assets/industry-paper-small.jpg")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              h2 More Industries Text Wrap
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
        .flex-space-copy.secondary
          p X-Rite offers end-to-end formulation, production, and quality assurance solutions to help you consistently execute color harmony between interior, exterior and aftermarket components.
    .row
      .flex-space.col-sm-12.col-md-4 
        .flex-space-interactive.half.active
          a(href="#")
            img.small(src="/assets/industry-paper-small.jpg")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              h2 Coating Industry
              p Category Copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .flex-space-copy.secondary
          p X-Rite offers end-to-end formulation, production, and quality assurance solutions to help you consistently execute color harmony between interior, exterior and aftermarket components.
      .flex-space.col-sm-12.col-md-4
        .flex-space-interactive.half.active
          a(href="#")
            img.small(src="/assets/industry-automotive-small.jpg")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              h2 Automotive
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
        .flex-space-copy.secondary
          p X-Rite offers end-to-end formulation, production, and quality assurance solutions to help you consistently execute color harmony between interior, exterior and aftermarket components.
      .flex-space.col-sm-12.col-md-4
        .flex-space-interactive.half.active
          a(href="#")
            img.small(src="/assets/industry-design-small.jpg")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              h2 More Industries Text Wrap
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
        .flex-space-copy.secondary
          p X-Rite offers end-to-end formulation, production, and quality assurance solutions to help you consistently execute color harmony between interior, exterior and aftermarket components.
  .container
    .row
      .btn-container.col-sm-12.col-md-4
          a(href="#").btn.btn-primary View All Products

  hr
  include ../../components/product-banner/product-banner.jade