//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container.coloratti
    .row
      .col-sm-12.col-md-12
        .row
          .col-xs-12
            h1 Martin Bailey,
              small &nbsp; Coloratti Master
            hr
            p Meguro, Tokyo, Japan
            em Photographer, Author, Instructor and  digital imaging expert, JA
        h2 Images
        hr
        .row
          .col-xs-12
            .modal.fade.coloratti--lightbox(id="coloratti-lightbox")
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal") Close X
                  .modal-body 
                    .coloratti--slider
                      .flex-space
                        
                        img(src="http://placehold.it/700x351")
                        .flex-space-copy.text-center
                          | 1 of 10
                        .flex-space-copy
                          h3 Title 1
                            small By Author
                      .flex-space
                        img(src="http://placehold.it/700x352")
                        .flex-space-copy.text-center
                          | 2 of 10
                        .flex-space-copy
                          h3 Title 2
                      .flex-space
                        img(src="http://placehold.it/700x353")
                        .flex-space-copy.text-center
                          | 3 of 10
                        .flex-space-copy
                          h3 Title 3
                      .flex-space
                        img(src="http://placehold.it/700x350")
                        .flex-space-copy.text-center
                          | 4 of 10
                        .flex-space-copy
                          h3 Title 4
                      .flex-space
                        img(src="http://placehold.it/700x350")
                        .flex-space-copy.text-center
                          | 5 of 10
                        .flex-space-copy
                          h3 Title 5
                      .flex-space
                        img(src="http://placehold.it/700x350")
                        .flex-space-copy.text-center
                          | 6 of 10
                        .flex-space-copy
                          h3 Title 6
                      .flex-space
                        img(src="http://placehold.it/700x350")
                        .flex-space-copy.text-center
                          | 7 of 10
                        .flex-space-copy
                          h3 Title 7
                      .flex-space
                        img(src="http://placehold.it/700x350")
                        .flex-space-copy.text-center
                          | 8 of 10
                        .flex-space-copy
                          h3 Title 8 
                      .flex-space
                        img(src="http://placehold.it/700x350")
                        .flex-space-copy.text-center
                          | 9 of 10
                        .flex-space-copy
                          h3 Title 9
            .coloratti--slider.hidden-xs.hidden-sm
              .flex-space
                img(src="http://placehold.it/700x351")
              .flex-space
                img(src="http://placehold.it/700x352")
              .flex-space
                img(src="http://placehold.it/700x353")
              .flex-space
                img(src="http://placehold.it/700x350")
              .flex-space
                img(src="http://placehold.it/700x350")
              .flex-space
                img(src="http://placehold.it/700x350")
              .flex-space
                img(src="http://placehold.it/700x350")
              .flex-space
                img(src="http://placehold.it/700x350")
              .flex-space
                img(src="http://placehold.it/700x350")
            .coloratti-sub--slider.row
                .flex-space.col-xs-4
                  a.coloratti-sub--anchor(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox")
                  img(src="http://placehold.it/700x350?text=Slide+1")
                .flex-space.col-xs-4
                  a.coloratti-sub--anchor(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox")
                  img(src="http://placehold.it/700x350?text=Slide+2")
                .flex-space.col-xs-4
                  a.coloratti-sub--anchor(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox")
                  img(src="http://placehold.it/700x350?text=Slide+3")
                .flex-space.col-xs-4
                  a.coloratti-sub--anchor(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox")
                  img(src="http://placehold.it/700x350?text=Slide+4")
                .flex-space.col-xs-4
                  a.coloratti-sub--anchor(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox")
                  img(src="http://placehold.it/700x350?text=Slide+5")
                .flex-space.col-xs-4
                  a.coloratti-sub--anchor(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox")
                  img(src="http://placehold.it/700x350?text=Slide+6")
                .flex-space.col-xs-4
                  a.coloratti-sub--anchor(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox")
                  img(src="http://placehold.it/700x350?text=Slide+7")
                .flex-space.col-xs-4
                  a.coloratti-sub--anchor(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox")
                  img(src="http://placehold.it/700x350?text=Slide+8")
                .flex-space.col-xs-4
                  a.coloratti-sub--anchor(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox")
                  img(src="http://placehold.it/700x350?text=Slide+9")
                .flex-space.col-xs-4
                  a.coloratti-sub--anchor(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox")
                  img(src="http://placehold.it/700x350?text=Slide+10")

            a.visible-lg-block(href="#coloratti-lightbox", data-toggle="modal", data-target="#coloratti-lightbox") Click for Slideshow
        section
          h2 Biography
          hr
          .row
            .col-xs-12
              .flex-space.col-xs-12.col-sm-6.col-md-3.pull-right
                img(src="http://placehold.it/300x300")
                .flex-space-copy
                  ul.list-unstyled
                    li
                      a(href="#") Website
                    li
                      a(href="#") Blog
              h3 Rich Text Space
              p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

              p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        section
          h2 Color Story
          hr
          .row
            .col-xs-12
              h3 Rich Text Space
              p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

              p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        section
          h2 Equipment Toolkit
          hr
          .row
            .col-xs-12
              h3 Rich Text Space
              p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

              p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        section
          h2 Seminars and Workshops
          hr
          .row
            .col-xs-12
              h3 Rich Text Space
              p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

              p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        section
          h2 Videos
          hr
          .row
            .col-xs-12
              h3 Rich Text Space
              p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

              p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        section
          h2 Books
          hr
          .row
            .col-xs-12
              h3 Rich Text Space
              p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

              p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.


        .row.btn-container
          .col-md-4
            a(href="#").btn.btn-primary Back
          .col-md-4.col-md-offset-4
            a(href="#").btn.btn-primary Next Profile 
  