//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade

append content

  include ../../components/banner/banner.jade

  .container.coloratti
      .row
        .col-xs-12
          h1 Coloratti
          h2 The Worlds Top Professional Photographers and Filmmakers
          p X-Rite's Coloratti includes the world's top professional photographers and ﬁlmmakers, a group whose vision, passion, leadership, and partnership are recognized and valued by X-Rite. The Coloratti understand the importance of implementing color management in their workﬂow and freely share their knowledge on how to get the very best color for any image. How they achieve accurate color is presented in many of their workshops, seminars and events. They foster creativity in others and inspire their students and audiences to easily master color control in their imagery and their art.
          p We invite you to visit our individual Coloratti pages to learn more about these top professionals and how color management inﬂuences their workﬂows.
          .btn-container
            button.btn.btn-primary Interested? Apply now.

      section.accordion.accordion-mobile
        a.h2.collapsed.accordion-trigger(data-toggle="collapse" href="#asia" aria-expanded="false" aria-controls="collapseExample") Asia
          span.accordion-icon.hidden-lg
        hr
        .collapse(id="asia")
          .row
            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Martin Bailey
                i Coloratti Master ( FPO )
                p Photographer, Author, Instructor and Digital Imaging expert, JA

            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Gavin Gough
                i Coloratti Pro ( FPO )
                p Photographer, Author, Instructor and Digital Imaging expert, JA

            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Ethan Lim
                p Photographer, Author, Instructor and Digital Imaging expert, JA
            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Ethan Lim
                p Photographer, Author, Instructor and Digital Imaging expert, JA
          .row
            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Martin Bailey
                i Coloratti Master ( FPO )
                p Photographer, Author, Instructor and Digital Imaging expert, JA

            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Gavin Gough
                i Coloratti Pro ( FPO )
                p Photographer, Author, Instructor and Digital Imaging expert, JA

            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Ethan Lim
                p Photographer, Author, Instructor and Digital Imaging expert, JA
            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Ethan Lim
                p Photographer, Author, Instructor and Digital Imaging expert, JA
        
      section.accordion.accordion-mobile
        a.h2.collapsed.accordion-trigger(data-toggle="collapse" href="#north-america" aria-expanded="false" aria-controls="collapseExample") North America

          span.accordion-icon.hidden-lg
        hr
        .collapse(id="north-america")
          .row
            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Martin Bailey
                i Coloratti Master ( FPO )
                p Photographer, Author, Instructor and Digital Imaging expert, JA

            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Gavin Gough
                i Coloratti Pro ( FPO )
                p Photographer, Author, Instructor and Digital Imaging expert, JA

            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Ethan Lim
                p Photographer, Author, Instructor and Digital Imaging expert, JA
            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Ethan Lim
                p Photographer, Author, Instructor and Digital Imaging expert, JA
          .row
            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Martin Bailey
                i Coloratti Master ( FPO )
                p Photographer, Author, Instructor and Digital Imaging expert, JA

            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Gavin Gough
                i Coloratti Pro ( FPO )
                p Photographer, Author, Instructor and Digital Imaging expert, JA

            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Ethan Lim
                p Photographer, Author, Instructor and Digital Imaging expert, JA
            .flex-space.col-xs-12.col-sm-6.col-md-3
              img(src="http://placehold.it/300x300")
              .flex-space-copy
                h3 
                  a(href="#") Ethan Lim
                p Photographer, Author, Instructor and Digital Imaging expert, JA
    