//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade

append content

  include ../../components/banner/banner.jade

  include ../styleguide/ui-components/components/social.jade

  .container.coloratti
      .row
        .col-xs-12
          h1 Coloratti
          h2 Thank you for inquiring into our Coloratti program.
          p X-Rite's Coloratti includes the world's top professional photographers and ﬁlmmakers, a group whose vision, passion, leadership, and partnership are recognized and valued by X-Rite. The Coloratti understand the importance of implementing color management in their workﬂow and freely share their knowledge on how to get the very best color for any image. How they achieve accurate color is presented in many of their workshops, seminars and events. They foster creativity in others and inspire their students and audiences to easily master color control in their imagery and their art.
          +social()
          .btn-container
            button.btn.btn-primary Apply now.
