//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade

include ../styleguide/ui-components/components/media-object--slider.jade
include ../styleguide/ui-components/components/banner-static.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content
  +banner-static()
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    h2 Family Detail Page
    | Family Listing Description
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

  

  .container.product-listing
    .row
      .flex-space.col-xs-12.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu
            .price-tag
              h4 329.00
            .btn-container
              button.btn.btn-primary Product Details
            
      .flex-space.col-xs-12.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 2
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu
            .price-tag
              h4 329.00
            .btn-container
              button.btn.btn-primary Product Details
            
      .flex-space.col-xs-12.col-md-4
              img(src="http://placehold.it/360x200")
              .flex-space-copy
                h3 
                  a(href="#") Product Title 3
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu
              .price-tag
                h4 329.00
              .btn-container
                button.btn.btn-primary Product Details
            
  