//-
//- @page: Dynamic Form - Technical Support
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content
    nav.container.breadcrumb
      +utility-nav()
    .container
      h1 Manage Email Preferences
      p Enter your email below to change your preferences

      form.container.form--large     
        .row
          .col-md-6
            .form-group
              input(id="email", type="email", placeholder="Email Address", required)
              label(for="email")
                span Email Address
        hr
        .row
          .col-md-12
            p Our support and communications are tailored to your specific needs. Let us know how you would like to update your preferences
            .checkbox.checkbox-left
              label I want to manage the type of emails I receive from X-Rite
                input.radio-open-manage(type="radio", name="email-pref")
                span.psuedo-input
            .container-checkbox-hidden.collapse.radio-open-manage.radio-close-manage
              em Only send me email about... (check all that apply)
              .checkbox.checkbox-left.col-xs-offset-1
                label Input Label
                  input(type="checkbox")
                  span.psuedo-input
              .checkbox.checkbox-left.col-xs-offset-1
                label Input Label
                  input(type="checkbox")
                  span.psuedo-input
              .checkbox.checkbox-left.col-xs-offset-1
                label Input Label
                  input(type="checkbox")
                  span.psuedo-input
              .checkbox.checkbox-left.col-xs-offset-1
                label Input Label
                  input(type="checkbox")
                  span.psuedo-input


            .checkbox.checkbox-left
              label I want to fully unsubscribe from X-Rite's mailing list.
                input.radio-close-manage(type="radio",name="email-pref")
                span.psuedo-input

            
                  
      
        hr    
        .row
          .col-md-6.btn-container
            button.btn.btn-primary Save Changes

