//-
//- @page: Dynamic Form - Initial
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content
    nav.container.breadcrumb
      +utility-nav()
    .container
      h1 Dynamic Form - Initial State
      p This paragraph talks about contacting X-Rite. Represented here is the large, dynamic form showing that a user has chosen Product Purchase as the primary interest.
      hr
      h2 How can we help you?
      
    form.container.form--large
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="interest", required, onchange="changeEventHandler(event);")
                option(value="") 
                option(value="product-purchase") Product Purchase
                option(value="training-and-education") Training &amp; Education
                option(value="service-and-repairs")  Service &amp; Repairs
                option(value="technical-support")  Technical Support
                option(value="product-information")  Product Information
                option(value="OEM-customized-solutions")  OEM &amp; Customized Solutions
                option(value="media-contact")  Media Contact
              label(for="interest") 
                span What is your primary interest?
        hr    
        h2 Your Information
               
        .row
          .col-md-6
            .form-group
              a.btn.btn-danger.form-help-text(tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-placement="top", data-content="This is the help text information associated with this button") ?
              input(id="first-name", type="text", placeholder="First Name", required)
              label(for="first-name")
                span First Name *
            
                  
          .col-md-6
            .form-group
              input(id="last-name", type="text", placeholder="Last Name", required)
              label(for="last-name")
                span Last Name

              //- input.valid(id="last-name", type="text", placeholder="Last Name", required)
              //- label(for="LastName" class="error" style="display: none;")
              //-   Last Name field is required
              //- label(for="last-name")
              //-   span Last Name
            
                  
        .row
          .col-md-6
            .form-group
              input(id="email", type="email", placeholder="Email Address", required)
              label(for="email")
                span Email Address
            
                  
          .col-md-6
            .form-group
              input(id="phone", type="tel", placeholder="Phone Number", required)
              label(for="phone")
                span Phone Number
            
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="country", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="country")
                span Country
            
                  
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="state-province", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="state-province") 
                span State / Province 

        .row
          .col-md-12
            .form-group
              input(id="company", type="text", placeholder="Company", required)
              label(for="company")
                span Company
            
                 
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="industry", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="industry")
                span Select your Industry
            
                  
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="job-function", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="job-function") 
                span Is funding allocated for product purchase
                
        .row
          .col-md-6
            button.btn.btn-primary Submit your Request
          
