//-
//- @page: Dynamic Form - Product Purchase / Product Info
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content
    nav.container.breadcrumb
      +utility-nav()
    .container
      h1 Dynamic Form - Product Purchase / Product Info
      p This paragraph talks about contacting X-Rite. Represented here is the large, dynamic form showing that a user has chosen Product Purchase as the primary interest.
      hr
      h2 How can we help you?
    form.container.form--large
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="interest", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="interest") 
                span What is your primary interest?
        hr    
        h2 Your information      
        .row
          .col-md-6
            .form-group
              a.btn.btn-danger.form-help-text(tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-placement="top", data-content="This is the help text information associated with this button") ?
              input(id="first-name", type="text", placeholder="First Name", required)
              label(for="first-name")
                span First Name
            
                  
          .col-md-6
            .form-group
              input(id="last-name", type="text", placeholder="Last Name", required)
              label(for="last-name")
                span Last Name
            
                  
        .row
          .col-md-6
            .form-group
              input(id="email", type="email", placeholder="Email Address", required)
              label(for="email")
                span Email Address
            
                  
          .col-md-6
            .form-group
              input(id="phone", type="tel", placeholder="Phone Number", required)
              label(for="phone")
                span Phone Number
            
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="country", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="country")
                span Country
            
                  
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="state-province", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="state-province") 
                span State / Province 
                          
        .row
          .col-md-12
            .form-group
              input(id="company", type="text", placeholder="Company", required)
              label(for="company")
                span Company
            
                  
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="industry", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="industry")
                span Select your Industry
            
                  
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="job-function", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="job-function") 
                span Select your primary Job Function
            
                  
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="product-evaluation", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="product-evaluation")
                span What is your role in product evaluation?
            
                  

          .col-md-6
            .form-group.select-form-container
              select.form-control(id="plan-purchase", required)
                option(value="") 
                option option 1
                option option 2
                option option 3
              label(for="plan-purchase") 
                span When do you plan to purchase?
            
                  
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="funding", required)
                option(value="") 
                option option 1
                option option 2
                option option 3
              label(for="funding")
                span Is funding allocated for the purchase?
            
        .row
          .col-md-12
            .form-group.textarea-container
              textarea(id="textform" type="text", placeholder="Leave us a message",required)
              label(for="textform")
                  span Leave us a message        
        .row
          .col-md-6
            button.btn.btn-primary Submit your Request

