//-
//- @page: Dynamic Form - Technical Support
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content
    nav.container.breadcrumb
      +utility-nav()
    .container
      h1 RMA Request
      p This paragraph talks about contacting X-Rite. Represented here is the large, dynamic form showing that a user has chosen Product Purchase as the primary interest.
      hr
    form.container.form--large
        
        h2 Your information      
        .row
          .col-md-6
            .form-group
              a.btn.btn-danger.form-help-text(tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-placement="top", data-content="This is the help text information associated with this button") ?
              input(id="first-name", type="text", placeholder="First Name", required)
              label(for="first-name")
                span First Name
            
                  
          .col-md-6
            .form-group
              input(id="last-name", type="text", placeholder="Last Name", required)
              label(for="last-name")
                span Last Name
            
                  
        .row
          .col-md-6
            .form-group
              input(id="email", type="email", placeholder="Email Address", required)
              label(for="email")
                span Email Address
            
                  
          .col-md-6
            .form-group
              input(id="phone", type="tel", placeholder="Phone Number", required)
              label(for="phone")
                span Phone Number
        .row
          .col-md-12
            .form-group
              input(id="street-address", type="text", placeholder="Street Address", required)
              label(for="street-address")
                span Street Address
        
        .row
          .col-md-6
            .form-group
              input(id="city", type="text", placeholder="city", required)
              label(for="city")
                span City
          .col-md-6
            .form-group
              input(id="postal", type="number", placeholder="postal", required)
              label(for="postal")
                span Postal Code    
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="country", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="country")
                span Country
            
                  
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="state-province", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="state-province") 
                span State / Province 
                          
        .row
          .col-md-12
            .form-group
              input(id="company", type="text", placeholder="Company", required)
              label(for="company")
                span Company
            
                  
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="industry", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="industry")
                span Select your Industry
            
                  
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="job-function", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="job-function") 
                span Select your primary Job Function
        
        h2 Details of your Request    
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="service-type", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="service-type") 
                span Select a Service Type
        .row
          .col-md-6
            .form-group
              input(id="model", type="text", placeholder="Company", required)
              label(for="model")
                span Model
          .col-md-6
            .form-group
              input(id="serial-number", type="number", placeholder="serial-number", required)
              label(for="serial-number")
                span Seriel Number
        .row
          .col-md-4
            label Are you receiving an error message?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input.radio-open-error(type="radio",name="error-message")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input.radio-close-error(type="radio",name="error-message")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label N/A
                input.radio-close-error(type="radio",name="error-message")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label N/A
                input.radio-close-error.hidden-radio(type="radio",name="error-message", checked)
                span.psuedo-input

        .row

          .collapse.radio-open-error.radio-close-error
            .col-md-12
                .form-group.textarea-container
                  textarea(id="describe-error" type="text", placeholder="Please describe the error.",required)
                  label(for="describe-error")
                      span Describe the Error
            .col-md-12
                .form-group.textarea-container
                  textarea(id="what-were-you-doing-error" type="text", placeholder="What were you doing?",required)
                  label(for="what-were-you-doing-error")
                      span What were you doing when the error appeared?
            .col-md-12
              .row
                .col-md-4
                  label Was this the first time this has appeared?
                .col-md-2
                  .checkbox.checkbox-left
                    label Yes
                      input.radio-toggle(type="radio",name="first-error")
                      span.psuedo-input
                .col-md-2
                  .checkbox.checkbox-left
                    label No
                      input.radio-toggle(type="radio",name="first-error")
                      span.psuedo-input
            .col-md-12
                .form-group.textarea-container
                  textarea(id="any-other-errors" type="text", placeholder="Any other errors?",required)
                  label(for="any-other-errors")
                      span Any other errors?
        .row
          .col-md-4
            label Does the display come on correctly?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input(type="radio",name="display-correct")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input(type="radio",name="display-correct")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label N/A
                input(type="radio",name="display-correct")
                span.psuedo-input
        .row
          .col-md-4
            label Does the lamp come on when attempting a reading?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input(type="radio",name="lamp-come-on")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input(type="radio",name="lamp-come-on")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label N/A
                input(type="radio",name="lamp-come-on")
                span.psuedo-input
        .row
          .col-md-4
            label Are you using the along with software?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input.radio-open-with-software(type="radio",name="using-w-software")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input.radio-close-with-software(type="radio",name="using-w-software")
                span.psuedo-input
        .row
          .collapse.radio-open-with-software.radio-close-with-software
            .col-md-12
              .form-group
                input(id="version-software", type="text", placeholder="What Software", required)
                label(for="version-software")
                  span Name and Version of Software
        .row
          .col-md-4
            label Is this problem related to a specific color?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input.radio-open-specific-color(type="radio",name="specific-color")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input.radio-close-specific-color(type="radio",name="specific-color")
                span.psuedo-input

          .col-md-2
            .checkbox.checkbox-left
              label N/A
                input.radio-close-specific-color.hidden-radio(type="radio",name="specific-color", checked)
                span.psuedo-input
        .row
          .collapse.radio-open-specific-color.radio-close-specific-color
            .col-md-12
              .form-group
                input(id="description-color", type="text", placeholder="Description of Color", required)
                label(for="description-color")
                  span Description of Color
        .row
          .col-md-4
            label Has the device been dropped or damaged?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input(type="radio",name="device-damaged")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input(type="radio",name="device-damaged")
                span.psuedo-input
        .row
          .col-md-12
            .form-group.textarea-container
              textarea(id="additional-comments" type="text", placeholder="Additional Comments",required)
              label(for="additional-comments")
                  span Additional Comments
        h2 Additional Services Requested
        .row
          .col-md-4
            label.help-button Calibration Report?
              a.btn.btn-danger.form-help-text(tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-placement="top", data-content="Content Managed Help Info") ?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input(type="radio",name="calibration-report")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input(type="radio",name="calibration-report")
                span.psuedo-input
        .row
          .col-md-4
            label.help-button A2LA (ISO 17025) Documents?
              a.btn.btn-danger.form-help-text(tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-placement="top", data-content="Content Managed Help Info") ?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input(type="radio",name="a2la-documents")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input(type="radio",name="a2la-documents")
                span.psuedo-input
        .row
          .col-md-4
            label.help-button Loaner device requested?
              a.btn.btn-danger.form-help-text(tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-placement="top", data-content="Content Managed Help Info") ?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input(type="radio",name="loaner-device")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input(type="radio",name="loaner-device")
                span.psuedo-input
        .row
          .col-md-4
            label Would you like to be contacted about training opportunities
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input(type="radio",name="training-opportunities")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input(type="radio",name="training-opportunities")
                span.psuedo-input
        h2 Billing Information
        .row
          .col-md-4
            label Is the billing information the same as the contact information you entered above?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input.radio-close-billing-info(type="radio",name="billing-info")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input.radio-open-billing-info(type="radio",name="billing-info")
                span.psuedo-input
        .collapse.radio-open-billing-info.radio-close-billing-info
          .row
            .col-md-6
              .form-group
                input(id="first-name-billing", type="text", placeholder="First Name", required)
                label(for="first-name-billing")
                  span First Name
              
                    
            .col-md-6
              .form-group
                input(id="last-name-billing", type="text", placeholder="Last Name", required)
                label(for="last-name-billing")
                  span Last Name
            
                  
          .row
            .col-md-6
              .form-group
                input(id="email-billing", type="email", placeholder="Email Address", required)
                label(for="email-billing")
                  span Email Address
              
                    
            .col-md-6
              .form-group
                input(id="phone-billing", type="tel", placeholder="Phone Number", required)
                label(for="phone-billing")
                  span Phone Number
          .row
            .col-md-12
              .form-group
                input(id="street-address-billing", type="text", placeholder="Street Address", required)
                label(for="street-address-billing")
                  span Street Address
          
          .row
            .col-md-6
              .form-group
                input(id="city-billing", type="text", placeholder="city", required)
                label(for="city-billing")
                  span City
            .col-md-6
              .form-group
                input(id="postal-billing", type="number", placeholder="postal", required)
                label(for="postal-billing")
                  span Postal Code    
          .row
            .col-md-6
              .form-group.select-form-container
                select.form-control(id="country-billing", required)
                  option(value="")  
                  option option 1
                  option option 2
                  option option 3
                label(for="country-billing")
                  span Country
              
                    
            .col-md-6
              .form-group.select-form-container
                select.form-control(id="state-province-billing", required)
                  option(value="")  
                  option option 1
                  option option 2
                  option option 3
                label(for="state-province-billing") 
                  span State / Province 
                            
          .row
            .col-md-12
              .form-group
                input(id="company", type="text", placeholder="Company", required)
                label(for="company")
                  span Company
          .row
            .col-md-6
              .form-group
                input(id="postal-billing", type="number", placeholder="postal", required)
                label(for="postal-billing")
                  span Postal Code 
        .row
          .col-md-12
            .form-group
              a.btn.btn-danger.form-help-text(tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-placement="top", data-content="Content Managed Help Info") ?
              input(id="x-rite-account-num", type="number", placeholder="postal", required)
              label(for="x-rite-account-num")
                span You're X-Rite Account Number
        .row
          .col-md-12
            .form-group.select-form-container
                select.form-control(id="payment-method", required)
                  option(value="")  
                  option option 1
                  option option 2
                  option option 3
                label(for="payment-method") 
                  span Select Payment Method
        .row
          .col-md-4
            label.help-button Would you like to receive a Proforma Invoice? 
              a.btn.btn-danger.form-help-text(tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-placement="top", data-content="Content Managed Help Info") ?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input(type="radio",name="training-opportunities")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input(type="radio",name="training-opportunities")
                span.psuedo-input
        h2 Shipping Information
        .row
          .col-md-4
            label Is the Shipping Information the same as the contact information you entered above?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input.radio-close-shipping-info(type="radio",name="shipping-info")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input.radio-open-shipping-info(type="radio",name="shipping-info")
                span.psuedo-input
        .collapse.radio-open-shipping-info.radio-close-shipping-info
          .row
            .col-md-6
              .form-group
                input(id="first-name-shipping", type="text", placeholder="First Name", required)
                label(for="first-name-shipping")
                  span First Name
              
                    
            .col-md-6
              .form-group
                input(id="last-name-shipping", type="text", placeholder="Last Name", required)
                label(for="last-name-shipping")
                  span Last Name
            
                  
          .row
            .col-md-6
              .form-group
                input(id="email-shipping", type="email", placeholder="Email Address", required)
                label(for="email-shipping")
                  span Email Address
              
                    
            .col-md-6
              .form-group
                input(id="phone-shipping", type="tel", placeholder="Phone Number", required)
                label(for="phone-shipping")
                  span Phone Number
          .row
            .col-md-12
              .form-group
                input(id="street-address-shipping", type="text", placeholder="Street Address", required)
                label(for="street-address-shipping")
                  span Street Address
          
          .row
            .col-md-6
              .form-group
                input(id="city-shipping", type="text", placeholder="city", required)
                label(for="city-shipping")
                  span City
            .col-md-6
              .form-group
                input(id="postal-shipping", type="number", placeholder="postal", required)
                label(for="postal-shipping")
                  span Postal Code    
          .row
            .col-md-6
              .form-group.select-form-container
                select.form-control(id="country-shipping", required)
                  option(value="")  
                  option option 1
                  option option 2
                  option option 3
                label(for="country-shipping")
                  span Country
              
                    
            .col-md-6
              .form-group.select-form-container
                select.form-control(id="state-province-shipping", required)
                  option(value="")  
                  option option 1
                  option option 2
                  option option 3
                label(for="state-province-shipping") 
                  span State / Province 
                            
          .row
            .col-md-12
              .form-group
                input(id="company-shipping", type="text", placeholder="Company", required)
                label(for="company-shipping")
                  span Company
          .row
            .col-md-6
              .form-group
                input(id="postal-shipping", type="number", placeholder="postal", required)
                label(for="postal-shipping")
                  span Postal Code 
        .row
          .col-md-4
            label.help-button Has a Temporary Export Procedure been opened with customs in your country?
              a.btn.btn-danger.form-help-text(tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-placement="top", data-content="Content Managed Help Info") ?
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input.radio-open-export(type="radio",name="export-procedure")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input.radio-close-export(type="radio",name="export-procedure")
                span.psuedo-input
        .collapse.radio-open-shipping-info.radio-close-shipping-info
          .row
            .col-md-12
              .form-group
                input(id="courier-used", type="text", placeholder="Courier Used?", required)
                label(for="courier-used")
                  span Courier used for your export?
        .row
          .col-md-12
            .form-group
              input(id="declared-value", type="number", placeholder="Courier Used?", required)
              label(for="declared-value")
                span Declared Value    
        .row
          .col-md-4
            label Do you have a preference courier for return shipment?
              
          .col-md-2
            .checkbox.checkbox-left
              label Yes
                input.radio-open-pref-courier(type="radio",name="export-procedure")
                span.psuedo-input
          .col-md-2
            .checkbox.checkbox-left
              label No
                input.radio-close-pref-courier(type="radio",name="export-procedure")
                span.psuedo-input
        .collapse.radio-open-pref-courier.radio-close-pref-courier
          .row
            .col-md-6
              .form-group
                input(id="courier-name", type="text", placeholder="Courier Name", required)
                label(for="courier-name")
                  span Courier Name
            .col-md-6
              .form-group
                input(id="courier-account", type="text", placeholder="Courier Account Number", required)
                label(for="courier-account")
                  span Courier Account Number
        .row
          .col-md-6
            button.btn.btn-primary Submit your Request

