//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    .row
      .col-md-8
        div.flex-space
          div(id="1sNHBuMjppOuy3C0Le33qp7L8gQy11nv")
                  <script type="text/javascript" src="https://player.ooyala.com/v3/d9efb6567249496db41cbb6f300baf83"></script>
                  script.
                    var ooyalaPlayer;

                    OO.ready(function() {
                        var playerConfiguration = {
                            playlistsPlugin: {"data":[]},
                            autoplay: false,
                            loop: false,
                            height: '',
                            width: '',
                            useFirstVideoFromPlaylist: false
                        };

                        ooyalaPlayer = OO.Player.create('1sNHBuMjppOuy3C0Le33qp7L8gQy11nv', '1sNHBuMjppOuy3C0Le33qp7L8gQy11nv', playerConfiguration);
                    });
        h1 Title of Whatever
        p X-Rite Inc., a Danaher Company headquartered in Grand Rapids, Michigan, was founded in 1958 and is the global leader in color trends, science and technology. X-Rite provides a complete suite of services and solutions to help brands, manufacturers and suppliers select, define and manage color from design inspiration to final product. X-Rite helps customers communicate and manage color standards for raw materials, paper-based products, ink, photography, video, metal, glass, textiles, plastics and wood. With expertise in forecasting trends, communicating color specifications, formulating and measuring color, X-Rite serves customers across the consumer product industry from packaging, apparel, footwear, electronics, cosmetics, home furnishings, paint, food and beverage, and construction.
      .col-md-4.side-form 
        form
          h3 CTA Text - Fill Out Now
            
          .row
            .col-md-12
              .form-group
                input.empty(id="first-name", type="text", placeholder="First Name")
                label(for="first-name") 
                  span First Name
            .col-md-12
              .form-group
                input.empty(id="last-name", type="password", placeholder="Last Name")
                label(for="last-name") 
                  span Last Name
            .col-md-12
              .form-group
                input.empty(id="email", type="text", placeholder="Email Address")
                label(for="email") 
                  span Email
            .col-md-12
              .form-group
                input.empty(id="phone", type="text", placeholder="Phone Number")
                label(for="phone") 
                  span Phone Number
            .col-md-12
              .form-group.select-form-container
                  select.empty.form-control(id="sort-by")
                    option(value="")  
                    option option 1
                    option option 2
                    option option 3
                  label(for="sort-by") 
                    span Select your Industry
            .col-md-12
              .form-group.select-form-container
                  select.empty.form-control(id="job-function")
                    option(value="")  
                    option option 1
                    option option 2
                    option option 3
                  label(for="job-function") 
                    span Select your Job Function
            .col-md-12
              .form-group.select-form-container
                  select.empty.form-control(id="session")
                    option(value="")  
                    option option 1
                    option option 2
                    option option 3
                  label(for="session") 
                    span Choose a Session
            .col-md-12
              .form-group
                textarea.empty(type="text", placeholder="Leave us a message")
                label(for="message")
                  span Leave us a Message
            
            .col-md-12
              .checkbox.checkbox-left
                label
                    | I'm interested in lorum ipsum.
                    input(type="checkbox")
                    span.psuedo-input
            .col-md-12
              .form-group
                button.btn.btn-primary Submit


