//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

include ../styleguide/ui-components/components/phone-number.jade
append content

  include ../../components/banner/banner.jade

  include ../../components/product-banner/product-banner.jade
  section
    .container
      .row
        .flex-space.col-sm-12.col-md-6
          a(href="#")
            img.small(src="http://placehold.it/400x285")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
        .flex-space.col-sm-12.col-md-6 
          a(href="#")
            img.small(src="http://placehold.it/400x285")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
  section
    .container
      .row
        .flex-space.col-sm-12.col-md-4
          .flex-space-interactive
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
            .flex-space-copy.flex-space-copy--alt
              span
                h2 Alt Flex Color
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem, vitae hendrerit mauris. Donec facilisis consectetur diam ac interdum.
                a(href="#") Click Me
            button.flex-space-button
        .flex-space.col-sm-12.col-md-4
          .flex-space-interactive
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              span
                h2 Copy with Link
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem, vitae hendrerit mauris. Donec facilisis consectetur diam ac interdum.
                a(href="#") Click Me
            button.flex-space-button
        .flex-space.col-sm-12.col-md-4
          .flex-space-interactive
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              span
                h2 Copy with Link
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem, vitae hendrerit mauris. Donec facilisis consectetur diam ac interdum.
                a(href="#") Click Me
            button.flex-space-button
  section
    .container
      .row
        .flex-space.col-sm-12.col-md-12 
          .flex-space-interactive.active
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              span
                h2 Copy with Link
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem, vitae hendrerit mauris. Donec facilisis consectetur diam ac interdum.
  +phone-number()
  