//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout-hue-test.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade

append content
    nav.container.breadcrumb
        +utility-nav()
        +social()
    script.
        var switchTo5x=true;
    script(src="http://w.sharethis.com/button/buttons.js")
    script.
        stLight.options({publisher: "1d371865-3a12-4928-af50-2312760996b4", doNotHash: false, doNotCopy: false, hashAddressBar: false});





    .container.hue-test.in()
        h1 The X-Rite Color Challenge
        p How well do you see color? Take the online color challenge, based on the Farnsworth Munsell 100 Hue Test.
        div.text-center
            strong FACT: 1 out of 255 women and 1 out of 12 men have some form of color vision deficiency.
        hr
        h3 Instructions
        ol
            li The first and last color chips are fixed.
            li Drag and drop the colors in each row to arrange them by hue color
            li For best results complete all four color tests
            li Click 'Score My Test' at any time to review results
        h3 Test
        div
          section.hue-container.container-1
            div.hue-box.mr-0-fm-01(data-position="0")
            div(id="row-1")
                div(class="hue-box mr-2-fm-03" data-position="1")
                div(class="hue-box mr-4-fm-05" data-position="2")
                div(class="hue-box mr-6-fm-07" data-position="3")
                div(class="hue-box mr-8-fm-09" data-position="4")
                div(class="hue-box mr-a-fm-11" data-position="5")
                div(class="hue-box mr-c-FM-13" data-position="6")
                div(class="hue-box mr-e-FM-15" data-position="7")
                div(class="hue-box mr-g-FM-17" data-position="8")
                
            div(class="hue-box mr-i-FM-19" data-position="9")
          
          section(class="hue-container container-2")
            div(class="hue-box mr-k-FM-21" data-position="10")
            div(id="row-2")
                div(class="hue-box mr-m-FM-23" data-position="11")
                div(class="hue-box mr-o-FM-25" data-position="12")
                div(class="hue-box mr-q-FM-27" data-position="13")
                div(class="hue-box mr-s-FM-29" data-position="14")
                div(class="hue-box mr-v-FM-33" data-position="15")
                div(class="hue-box mr-x-FM-35" data-position="16")
                div(class="hue-box mr-z-FM-37" data-position="17")
                div(class="hue-box mr-B-FM-39" data-position="18")
            
            div(class="hue-box mr-E-FM-41" data-position="19")
           
          
          section(class="hue-container container-3")
            div(class="hue-box mr-G-FM-43" data-position="20")
            div(id="row-3")
                div(class="hue-box mr-I-FM-45" data-position="21")
                div(class="hue-box mr-K-FM-47" data-position="22")
                div(class="hue-box mr-M-FM-49" data-position="23")
                div(class="hue-box mr-O-FM-51" data-position="24")
                div(class="hue-box mr-S-FM-55" data-position="25")
                div(class="hue-box mr-U-FM-57" data-position="26")
                div(class="hue-box mr-W-FM-59" data-position="27")
                div(class="hue-box mr-Y-FM-61" data-position="28")
             
            div(class="hue-box mr-FM-63" data-position="29")
      
          section(class="hue-container container-4")
            div(class="hue-box mr-FM-65" data-position="30")
            div(id="row-4")
                div( class="hue-box mr-FM-67" data-position="31")
                div( class="hue-box mr-FM-69" data-position="32")
                div( class="hue-box mr-FM-71" data-position="33")
                div( class="hue-box mr-FM-73" data-position="34")
                div( class="hue-box mr-FM-77" data-position="35")
                div( class="hue-box mr-FM-79" data-position="36")
                div( class="hue-box mr-FM-81" data-position="37")
                div( class="hue-box mr-FM-83" data-position="38")
                
            div(class="hue-box mr-FM-85" data-position="39")
        
        div
            .container
                .row
                    .col-xs-12
                        .btn-container
                            button(id="calculate") Score the Test
        hr          
    .container.hue-test-results.collapse
        section
            h2 Hue Test Results
            .row
                .col-xs-12.col-sm-4
                    div.results-container()
                        canvas( id="canvas" height="450" width="450" )
                
                .col-xs-12.col-sm-8
                    h3 Score: 
                        span.hue-score 
                    ul.compare-container.collapse.list-unstyled
                        li 
                            strong Gender &nbsp;
                            span(id="gender") 
                        li 
                            strong Age Range &nbsp;
                            span(id="age")
                        li 
                            strong Best Score for your Gender &nbsp;
                            span(id="best")
                        li 
                            strong Worst Score for your Gender &nbsp;
                            span(id="worst")
                    p
                        strong About your score: 
                        | A lower score is better, with ZERO being a perfect score. The circle graph displays the regions of the color spectrum where your hue discrimination is low.
                    section.compare-form-container.in
                        h2 Compare
                        .row
                            form
                                .col-md-4
                                    .form-group.select-form-container
                                        select(required).form-control.toggle-age-range
                                            option Select Age Range
                                            option Below 10
                                            option 10 - 15
                                            option 16 - 19
                                            option 20 - 29
                                            option 30 - 39
                                            option 40 - 49
                                            option 50 - 59
                                            option 60 - 69
                                            option Above 70
                                .col-md-2
                                    .checkbox.checkbox-left
                                        label Male
                                            input(type="radio" name="sex" value="Male", required)
                                            span.psuedo-input
                                .col-md-2
                                    .checkbox.checkbox-left
                                        label Female
                                            input(type="radio" name="sex" value="Female", required)
                                            span.psuedo-input
                                .col-md-4
                                    .btn-container
                                        button(id="compare" type="button") Compare Results
    
    .container.hue-share-container.text-center
        span.st_sharethis_hcount(displayText='ShareThis')
        span.st_facebook_hcount(displayText='Facebook')
        span.st_twitter_hcount(displayText='Tweet')
        span.st_linkedin_hcount(displayText='LinkedIn')
        span.st_pinterest_hcount(displayText='Pinterest')
        span.st_email_hcount(displayText='Email')

    .container.hue-test-content
        section
            h2 Get the Facts
            p
                strong Lighting: 
                | Light plays a significant role in color perception. It's actually the color of the light that determines the color your brain will perceive. Examine samples side-by-side when comparing colors, preferably under controlled lighting conditions.

            p
                strong Background Effects: 
                | A phenomenon called simultaneous contrast means that the background upon which we’re evaluating color strongly affects our eye's ability to correctly perceive the color.
            p 
                strong Retinal Fatigue: 
                | Our eyes get tired very easily. When we stare at an object for longer than a few seconds, chemicals in our eyes start to deplete and begin sending incorrect information to our brains.
            p
                strong Poor Color Memory:  
                | Our brains find it extremely difficult to remember the specifics of any given color. Even looking at two colors across the room from each other to see if they match is a challenge.