//-
//- @page: Industry Detail Page
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/media-object.jade
include ../styleguide/ui-components/components/media-object--slider.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    h2 Automotive
    | Category Listing Description
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    a(href="assets/L10-508-BBC-Paints-case-study_EN.pdf" target="_blank") Learn More 

    hr
    .container
      +media-object--slider()

  section.bkgd-light-gray.extra-spaccing
    .container
      .row
        .flex-space.col-sm-12.col-md-4(style="margin-bottom: 0")
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Whitepapers
                p Category Copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .flex-space.col-sm-12.col-md-4(style="margin-bottom: 0")
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Webinars
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
        .flex-space.col-sm-12.col-md-4(style="margin-bottom: 0")
          .flex-space-unstacked.text-center
            a(href="#")
              img.small(src="http://placehold.it/400x285")
              img.medium(src="http://placehold.it/600x285")
              img.large(src="http://placehold.it/1200x285")
              .flex-space-copy
                h2 Case Studies
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
  section.tab-component.tab-component--hero.container.accordion-mobile
        .row
          ul.nav.nav-tabs.col-sm-12
            li.col-xs-6.active
              a(href="#example1a", data-toggle="tab") 
                span.lnr.lnr-magic-wand
                |  SHOOT
            li.col-xs-6
              a(href="#example2a", data-toggle="tab") 
                i.lnr.lnr-briefcase
                |  VIEW
        .row.tab-content
          a(data-toggle="collapse" href="#example1a" aria-expanded="true" aria-controls="collapseExample" class="heading-four accordion-trigger collapsed")
            | Shoot
            span.accordion-icon
          #example1a.tab-pane.active.clearfix
            .col-sm-12
              p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              h3 Basic
              +media-object()
              +media-object()
              +media-object()
              +media-object()
          
           a(data-toggle="collapse" href="#example2a" aria-expanded="false" aria-controls="collapseExample" class="heading-four accordion-trigger collapsed")
            | View
            span.accordion-icon
          #example2a.tab-pane.clearfix
            .col-sm-12.col-md-12
              p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              +media-object()
              +media-object()
              +media-object()
              +media-object()


          
  section.tab-component.tab-component--hero.container.accordion-mobile
        .row
          ul.nav.nav-tabs.col-sm-12
            li.col-xs-4.active
              a(href="#example1b", data-toggle="tab") 
                span.lnr.lnr-magic-wand
                |  SHOOT
            li.col-xs-4
              a(href="#example2b", data-toggle="tab") 
                i.lnr.lnr-briefcase
                |  VIEW
            li.col-xs-4
              a(href="#example3b", data-toggle="tab") 
                i.lnr.lnr-briefcase
                |  PRINT
        .row.tab-content
          a(data-toggle="collapse" href="#example1b" aria-expanded="false" aria-controls="collapseExample" class="heading-four accordion-trigger collapsed")
            | View
            span.accordion-icon
          #example1b.tab-pane.active.clearfix
            .col-sm-12
              p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              h3 Basic
              +media-object()
              +media-object()
              +media-object()
              +media-object()
          
          a(data-toggle="collapse" href="#example2b" aria-expanded="false" aria-controls="collapseExample" class="heading-four accordion-trigger collapsed")
            | View
            span.accordion-icon
          #example2b.tab-pane.clearfix
            .col-sm-12.col-md-12
              p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              +media-object()
              +media-object()
              +media-object()
              +media-object()
          a(data-toggle="collapse" href="#example3b" aria-expanded="false" aria-controls="collapseExample" class="heading-four accordion-trigger collapsed")
            | View
            span.accordion-icon
          #example3b.tab-pane.clearfix
            .col-sm-12.col-md-12
              p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              +media-object()
              +media-object()
              +media-object()
              +media-object()
          
  section.tab-component.tab-component--hero.container
        .row
          ul.nav.nav-tabs.col-sm-12
            li.col-xs-3.active
              a(href="#example1c", data-toggle="tab") 
                span.lnr.lnr-magic-wand
                |  SHOOT
            li.col-xs-3
              a(href="#example2c", data-toggle="tab") 
                i.lnr.lnr-briefcase
                |  VIEW
            li.col-xs-3
              a(href="#example3c", data-toggle="tab") 
                i.lnr.lnr-briefcase
                |  PRINT
            li.col-xs-3
              a(href="#example4c", data-toggle="tab") 
                i.lnr.lnr-briefcase
                |  Fourth
        .row.tab-content
          
          #example1c.tab-pane.active.clearfix
            .col-sm-12
              p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              h3 Basic
              +media-object()
              +media-object()
              +media-object()
              +media-object()
          
          
          #example2c.tab-pane.clearfix
            .col-sm-12.col-md-12
              p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              +media-object()
              +media-object()
              +media-object()
              +media-object()
              
          #example3c.tab-pane.clearfix
            .col-sm-12.col-md-12
              p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              +media-object()
              +media-object()
              +media-object()
              +media-object()
          #example4c.tab-pane.clearfix
            .col-sm-12.col-md-12
              p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              +media-object()
              +media-object()
              +media-object()
              +media-object()