//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    h2 Learning
    | Learning Listing Description
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


  .container
    .section-title
      h3 I'm interested in
      hr
    .row
      .flex-space.col-sm-12.col-md-4 
        .flex-space-stacked
          a(href="#")
            img.small(src="http://placehold.it/400x285")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              h2 Category Title
              p Category Copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .flex-space.col-sm-12.col-md-4
        .flex-space-stacked
          a(href="#")
            img.small(src="http://placehold.it/400x285")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              h2 By Industry
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
      .flex-space.col-sm-12.col-md-4
        .flex-space-stacked
          a(href="#")
            img.small(src="http://placehold.it/400x285")
            img.medium(src="http://placehold.it/600x285")
            img.large(src="http://placehold.it/1200x285")
            .flex-space-copy
              h2 By Industry
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at convallis sem
    
  .container
    .row
      .flex-space.col-sm-12
        | This is an empty flex space holder. Please be mindful of the column grid on this container.