//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout-mathias.jade

append content
    .container
      h1 Headline
      p This paragraph talks about contacting X-Rite. Represented here is the large, dynamic form showing that a user has chosen Product Purchase as the primary interest.
      h2 How can we help you?
    form.container.form--large
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="interest", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="interest") 
                span What is your primary interest?
                  span.success Looks good!
                  span.failure
                  
        .row
          .col-md-6
            .form-group
              input(id="first-name", type="text", placeholder="First Name", required)
              label(for="first-name")
                span First Name
                  span.success Looks good!
                  span.failure Looks bad!
                  
          .col-md-6
            .form-group
              input(id="last-name", type="text", placeholder="Last Name", required)
              label(for="last-name")
                span Last Name
                  span.success Looks good!
                  span.failure Looks bad!
                  
        .row
          .col-md-6
            .form-group
              input(id="email", type="email", placeholder="Email Address", required)
              label(for="email")
                span Email Address
                  span.success Looks good!
                  span.failure Please enter a valid email address
                  
          .col-md-6
            .form-group
              input(id="phone", type="tel", placeholder="Phone Number", required)
              label(for="phone")
                span Phone Number
                  span.success Looks good!
                  span.failure Please enter a valid phone number.
                  
        .row
          .col-md-12
            .form-group
              input(id="company", type="text", placeholder="Company", required)
              label(for="company")
                span Company
                  span.success Looks good!
                  
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="industry", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="industry")
                span Select your Industry
                  span.success Looks good!
                  
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="job-function", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="job-function") 
                span Select your primary Job Function
                  span.success Looks good!
                  
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="product-evaluation", required)
                option(value="")  
                option option 1
                option option 2
                option option 3
              label(for="product-evaluation")
                span What is your role in product evaluation?
                  span.success Looks good!
                  

          .col-md-6
            .form-group.select-form-container
              select.form-control(id="plan-purchase", required)
                option(value="") 
                option option 1
                option option 2
                option option 3
              label(for="plan-purchase") 
                span When do you plan to purchase?
                  span.success Looks good!
                  
        .row
          .col-md-6
            .form-group.select-form-container
              select.form-control(id="industry", required)
                option(value="") 
                option option 1
                option option 2
                option option 3
              label(for="industry")
                span Is funding allocated for the purchase?
                  span.success Looks good!
                  
        .row
          .col-md-6
            button.btn.btn-primary Submit your Request

