//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade

append content

  include ../../components/banner/banner.jade

  .container.product-listing
    .row
      aside.filters.col-sm-12.col-md-3.tab-pane
        .row
          .col-sm-6.filter-header
            h5.accordion-trigger.collapsed
              a(data-toggle="collapse", href="#filters", aria-controls="collapseExample") Filters
          .col-sm-6.filter-reset
            a(href="#") Reset

        section(id="filters").filter-container
          section.accordion
            a(data-toggle="collapse",href="#country-accordion",aria-expanded="true",aria-controls="collapseExample") 
              h3.accordion-trigger
                | Country
                span.accordion-icon
            form(id="country-accordion").list-filters.collapse.in
                  .form-group.select-form-container
                    select.form-control(id="country", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="country")
                      span Country
                  .form-group.select-form-container
                    select.form-control(id="state", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="state")
                      span State

                  .form-group.select-form-container
                    select.form-control(id="industry", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="industry")
                      span Industry
          section.accordion
            a(data-toggle="collapse",href="#market-accordion",aria-expanded="true",aria-controls="collapseExample")
              h3.accordion-trigger Market
                span.accordion-icon
            form(id="market-accordion").list-filters.collapse.in
                  .form-group.select-form-container
                    select.form-control(id="market", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="market")
                      span Market
                  
          section.accordion
            a(data-toggle="collapse",href="#partner-accordion",aria-expanded="true",aria-controls="collapseExample")
              h3.accordion-trigger
                | Partner Type
                span.accordion-icon
            form(id="partner-accordion").list-filters.collapse.in
                  .form-group.select-form-container
                    select.form-control(id="partner", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="partner")
                      span Partner
        
      .col-sm-12.col-md-9
        .row
          .col-xs-12
            h1 Find a Partner
            p Our goal is to make it easy for you to do business with us.
            p With X-Rite's Partner Locator, you will ﬁnd a wide array of partners to help you get the solutions, services and help you need to manage and implement your technology.
            p Our Partner Locator provides you with address and contact information, maps and driving instructions, and is your internet link to dealer web pages. You can search by location, industry or partner type to get started.
            p Need help? Check out our 
              a(href="#") FAQ
        
        
  .container.text-right
    a(href="#").back-to-top
      span.lnr.lnr-chevron-up
      | &nbsp; back to top