//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/pagination.jade
append content

  include ../../components/banner/banner.jade

  .container.product-listing
    .row
      aside.filters.col-sm-12.col-md-3.tab-pane
        .row
          .col-sm-6.filter-header
            h5.accordion-trigger.collapsed
              a(data-toggle="collapse", href="#filters", aria-controls="collapseExample") Filters
          .col-sm-6.filter-reset
            a(href="#") Reset
        section(id="filters").filter-container
          section.accordion
            form(id="country-accordion").list-filters
                  .form-group.select-form-container
                    select.form-control(id="country", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="country")
                      span Country
                  .form-group.select-form-container
                    select.form-control(id="state", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="state")
                      span State

                  .form-group.select-form-container
                    select.form-control(id="industry", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="industry")
                      span Industry
          section.accordion
            form(id="market-accordion").list-filters
                  .form-group.select-form-container
                    select.form-control(id="market", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="market")
                      span Market
                  
          section.accordion
            form(id="partner-accordion").list-filters
                  .form-group.select-form-container
                    select.form-control(id="partner", required)
                      option(value="")  
                      option option 1
                      option option 2
                      option option 3
                    label(for="partner")
                      span Partner
        
      .col-sm-12.col-md-9
        .row
          .col-sm-12
            h2 Results  
              small XX Results
        .row
          +pagination()
        .row
          .locator-object
            .locator-section.col-xs-12.col-md-4
              address
                strong Donna Sumafumaphone. <br>
                | 1355 Market Street, Suite 900 <br>
                | San Francisco, CA 94103 <br>
                abbr(title="Phone") Phone: (123) 456-7890 <br>
                abbr(title="Cell") Cell: (123) 456-7890 <br>
                abbr(title="Fax") Fax: (123) 456-7890 <br>
              a(href="#") Contact Me
            .locator-section.col-xs-12.col-md-4
              div
                label Area Serviced
                i USA, Iowa, Kansas, Minnesota, Missouri, North Dakota, Nebraska, South Dakota
              div
                label West Coast Region
                i USA, Iowa, Kansas, Minnesota, Missouri, North Dakota, Nebraska, South Dakota
            .locator-section.col-xs-12.col-md-4
              div
                label Markets
                i Paint and Coatings, Automotive, Ink, Textiles, Plastics, Retail/Apparel, Cosmetics, Food
        .row
          .locator-object
            .locator-section.col-xs-12.col-md-4
              address
                strong Donna Sumafumaphone. <br>
                | 1355 Market Street, Suite 900 <br>
                | San Francisco, CA 94103 <br>
                abbr(title="Phone") Phone: (123) 456-7890 <br>
                abbr(title="Cell") Cell: (123) 456-7890 <br>
                abbr(title="Fax") Fax: (123) 456-7890 <br>
              a(href="#") Contact Me
            .locator-section.col-xs-12.col-md-4
              div
                label Area Serviced
                i USA, Iowa, Kansas, Minnesota, Missouri, North Dakota, Nebraska, South Dakota
              div
                label West Coast Region
                i USA, Iowa, Kansas, Minnesota, Missouri, North Dakota, Nebraska, South Dakota
            .locator-section.col-xs-12.col-md-4
              div
                label Markets
                i Paint and Coatings, Automotive, Ink, Textiles, Plastics, Retail/Apparel, Cosmetics, Food
        .row
          .locator-object
            .locator-section.col-xs-12.col-md-4
              address
                strong Donna Sumafumaphone. <br>
                | 1355 Market Street, Suite 900 <br>
                | San Francisco, CA 94103 <br>
                abbr(title="Phone") Phone: (123) 456-7890 <br>
                abbr(title="Cell") Cell: (123) 456-7890 <br>
                abbr(title="Fax") Fax: (123) 456-7890 <br>
              a(href="#") Contact Me
            .locator-section.col-xs-12.col-md-4
              div
                label Area Serviced
                i USA, Iowa, Kansas, Minnesota, Missouri, North Dakota, Nebraska, South Dakota
              div
                label West Coast Region
                i USA, Iowa, Kansas, Minnesota, Missouri, North Dakota, Nebraska, South Dakota
            .locator-section.col-xs-12.col-md-4
              div
                label Markets
                i Paint and Coatings, Automotive, Ink, Textiles, Plastics, Retail/Apparel, Cosmetics, Food
      
  .container.text-right
    a(href="#").back-to-top
      span.lnr.lnr-chevron-up
      | &nbsp; back to top