//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
include ../styleguide/ui-components/components/pagination.jade
append content
  nav.container.breadcrumb
    +utility-nav()
  .container
    .row
      .col-sm-12
        h1 Product Filters Page
        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        | The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

  .container.product-listing
    .row
      aside.filters.col-sm-12.col-md-3.tab-pane
        .row
          .col-sm-6.filter-header
            h5.accordion-trigger.collapsed
              a(data-toggle="collapse", href="#filters", aria-controls="collapseExample") Filters
          .col-sm-6.filter-reset
            h5
              a(href="#") Reset
        section(id="filters").filter-container
          section.accordion
            a(data-toggle="collapse",href="#need",aria-expanded="false",aria-controls="collapseExample") 
              h3.collapsed.accordion-trigger
                | Need
                span.accordion-icon
            ul(id="need").list-filters.collapse
                li.checkbox
                    label Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Filter With a Long Name # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Filter # 3
                      input(type="checkbox")
                      span.psuedo-input
          section.accordion
            a(data-toggle="collapse",href="#category",aria-expanded="false",aria-controls="collapseExample")
              h3.collapsed.accordion-trigger Category
                span.accordion-icon
            ul(id="category").list-filters.collapse
                li.checkbox
                    label Category Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Category Filter # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Category Filter # 3
                      input(type="checkbox")
                      span.psuedo-input
          section.accordion
            a(data-toggle="collapse",href="#Industry",aria-expanded="false",aria-controls="collapseExample")
              h3.collapsed.accordion-trigger
                | Industry
                span.accordion-icon
            ul(id="Industry").list-filters.collapse
                li.checkbox
                    label Industry Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Industry Filter # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Industry Filter # 3
                      input(type="checkbox")
                      span.psuedo-input
          section.accordion
            a(data-toggle="collapse",href="#Material",aria-expanded="false",aria-controls="collapseExample")
              h3.collapsed.accordion-trigger
                | Material
                span.accordion-icon
            ul(id="Material").list-filters.collapse
                li.checkbox
                    label Material Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Material Filter # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Material Filter # 3
                      input(type="checkbox")
                      span.psuedo-input
          section.accordion
            a(data-toggle="collapse",href="#Availability",aria-expanded="false",aria-controls="collapseExample")
              h3.collapsed.accordion-trigger Availability
                span.accordion-icon
            ul(id="Availability").list-filters.collapse
                li.checkbox
                    label Availability Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Availability Filter # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Availability Filter # 3
                      input(type="checkbox", "checked")
                      span.psuedo-input


      .col-sm-12.col-md-9
        .row
          
          .col-sm-12.compare-label-container
            label Compare Products: 3 of 3
          .col-sm-12.compare-container
            .compare-input.col-xs-4.col-sm-3
              .compare-border
                img(src="http://placehold.it/360x200")
                .compare-remove
                  span.lnr.lnr-cross
            .compare-input.compare-empty.col-xs-4.col-sm-3
              .compare-border
                img(src="http://placehold.it/360x200")
                .compare-remove 
                  span.lnr.lnr-cross
            .compare-input.compare-empty.col-xs-4.col-sm-3
              .compare-border
                img(src="http://placehold.it/360x200")
                .compare-remove
                  span.lnr.lnr-cross
            .compare-input.col-xs-12.col-sm-3
              button Compare
        .row
          .col-sm-12.select-container
            .row 
              .col-sm-4.select-form-container
                label(for="sort-by") Sort by:
                select.form-control(name="sort-by")
                  option Newest
                  option Option 2
                  option Option 3
              .col-sm-4.select-form-container
                label(name="filter-by") Show:
                select.form-control(name="filter-by")
                  option 6 items
                  option Option 2
                  option Option 3
        .row
          +pagination()

          .flex-space.col-xs-12.col-sm-6.col-md-4
            .promo-triangle
              span New
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              h4 <em> Formulation </em>
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu
            .price-tag
                
              h4 
                span.price-drop 500.00
                | 329.00
                
                
                small free pantone color guide with purchase
            .btn-container
              button.btn.btn-primary Request a Quote
              button.btn.btn-secondary View Details
            .compare-select

          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 2
              h4 <em> Formulation </em>
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculu
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary ein Angebot anzufordern
              button.btn.btn-secondary Details Anzeigen
            .compare-select
              .checkbox.checkbox-left
                label Compare
                  input(type="checkbox")
                  span.psuedo-input
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 3
              h4 <em> Formulation </em>
              p This is a short description.
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary Add to Cart
              button.btn.btn-secondary View Details
            .compare-select
              .checkbox.checkbox-left
                label Compare
                  input(type="checkbox")
                  span.psuedo-input
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              h4 <em> Formulation </em>
              p This text Area has a height of 330px. This will accomodate a small paragraph and 4 short bullet points. This is done to ensure that all buttons are on the same line.
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary Request a Quote
              button.btn.btn-secondary View Details
            .compare-select
              .checkbox.checkbox-left
                label Compare
                  input(type="checkbox")
                  span.psuedo-input
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 2
              h4 <em> Formulation </em>
              p This is the Product Description, full of important text that can be digested easily by the consumer. Lorum ipsum dollar ismet
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary ein Angebot anzufordern
              button.btn.btn-secondary Details Anzeigen
            .compare-select
              .checkbox.checkbox-left
                label Compare
                  input(type="checkbox")
                  span.psuedo-input
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 3
              h4 <em> Formulation </em>
              p This is a short description.
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary Add to Cart
              button.btn.btn-secondary View Details
            .compare-select
              .checkbox.checkbox-left
                label Compare
                  input(type="checkbox")
                  span.psuedo-input
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 4
              h4 <em> Formulation </em>
              p This is the Product Description, full of important text that can be digested easily by the consumer. Lorum ipsum dollar ismet
          +pagination()
  .container.text-right
    a(href="#").back-to-top
      span.lnr.lnr-chevron-up
      | &nbsp; back to top