//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
append content
  nav.container.breadcrumb
    +utility-nav()
  article(itemscope itemtype="http://schema.org/Product")
    section
      .container
        .row
          .col-sm-12.col-md-4.product-carousel
            .hero-slider
              .flex-space(data-toggle="modal", data-target="#video-modal-1")
                img(src="http://placehold.it/700x350")
          .col-sm-12.col-md-8
            h5(itemprop="model")
              small Model #: 1234567
            h2(itemprop="name") Benchtop Ci42000
            h4.primary(itemprop="offers" itemscope itemtype="http://schema.org/Offer") 
              span(itemprop="priceCurrency") $
              span(itemprop="price") 595.00 
              small(itemprop="addOn") FREE SHIPPING
            p(itemprop="description") No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life.
            .row
              .col-sm-4
                button.btn.btn-primary(data-toggle="modal", data-target="#modal") Request a Quote
              .col-sm-4
                button.btn.btn-primary(data-toggle="modal", data-target="#modal") Register Your Product
              .col-sm-4
                button.btn.btn-primary(data-toggle="modal", data-target="#modal") Purchase
          
    section
      .container
          h2 Specifications
          p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
          h3 List of Features
          #tableShow.tableHidden.collapse
                    table.compare-table.horizontal-border.col-xs-12.col-md-12
                      tbody
                         
                          tr
                            th.col-xs-3 Price
                            td.col-xs-3 $2,300
                          tr
                            th.col-xs-3 Light Source
                            td.col-xs-3 Gas-filled tungsten lamp
                          tr
                            th.col-xs-3 Price
                            td.col-xs-3 $2,300
                          tr
                            th.col-xs-3 Light Source
                            td.col-xs-3 Gas-filled tungsten lamp
                          tr
                            th.col-xs-3 Price
                            td.col-xs-3 $2,300
                          tr
                            th.col-xs-3 Light Source
                            td.col-xs-3 Gas-filled tungsten lamp
                          tr
                            th.col-xs-3 Price
                            td.col-xs-3 $2,300
                          tr
                            th.col-xs-3 Light Source
                            td.col-xs-3 Gas-filled tungsten lamp
                  a(href="#tableShow" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="showMore1" class="toggler collapsed")
                    span.accordion-closed Show More
                    span.accordion-open Show Less
      hr
    section
      .container
        
          h2 User Guides and Manuals

          .row
            div.col-xs-12.col-sm-6
              h3 Software
              ul.list-unstyled
                li
                  | This is the name of a User Guide. ver.1.2     
                  a(href="#") Download PDF
                li
                  | This is the name of a User Guide. ver.1.2 
                  a(href="#") Download PDF
                li
                  | This is the name of a User Guide. ver.1.2 
                  a(href="#") Download PDF

              ul.list-unstyled.collapse(id="showMore1",aria-expanded="false")
                li
                  | This is the name of a User Guide. ver.1.2 
                  a(href="#") Download PDF
                li
                  | This is the name of a User Guide. ver.1.2 
                  a(href="#") Download PDF
                li
                  | This is the name of a User Guide. ver.1.2 
                  a(href="#") Download PDF
              a.toggler.collapsed(href="#showMore1",role="button", data-toggle="collapse", aria-expanded="false", aria-controls="showMore1")
                  span.accordion-closed Show More
                  span.accordion-open Show Less

            div.col-xs-12.col-sm-6
              h3 Firmware
              ul.list-unstyled
                li
                  | This is the name of a User Guide. ver.1.2 
                  a(href="#") Download PDF
                li
                  | This is the name of a User Guide. ver.1.2 
                  a(href="#") Download PDF
                li
                  | This is the name of a User Guide. ver.1.2 
                  a(href="#") Download PDF
                li
                  | This is the name of a User Guide. ver.1.2 
                  a(href="#") Download PDF
       
      hr
     section
      .container
        
          h2 Frequently Asked Questions

          .flexible-feature-area.flexible-feature-area--alt
            section.accordion
              a.heading-four.collapsed.accordion-trigger(data-toggle="collapse",href="#question-1",aria-expanded="false",aria-controls="collapseExample") Question 1
                  span.accordion-icon
              div(id="question-1").collapse
                 | No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life. No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life.

          .flexible-feature-area.flexible-feature-area--alt
            section.accordion
              a.heading-four.collapsed.accordion-trigger(data-toggle="collapse",href="#question-2",aria-expanded="false",aria-controls="question-2") Question 2
                  span.accordion-icon
              div(id="question-2").collapse
                 | No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life. No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life.
       
      hr