//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    .row
      .col-sm-12
        h2 Product Comparison Version 2
        | 

  .container
    .row
      .table-responsive-hi
        table.compare-table.horizontal-border.col-xs-12
          tbody
              tr
                th
                td.table-flex-header
                  .flex-space.col-xs-12
                    img(src="http://placehold.it/360x200")
                    .flex-space-copy
                      h3 
                        a(href="#") Product 1
                  table
                    tbody
                      tr
                        .btn-container
                          button.btn.btn-secondary Details Anzeigen
                td.table-flex-header
                  .flex-space.col-xs-12
                    img(src="http://placehold.it/360x200")
                    .flex-space-copy
                      h3 
                        a(href="#") Product 2

                  table
                    tbody
                      tr
                        .btn-container
                          button.btn.btn-secondary Details Anzeigen
                td.table-flex-header
                  .flex-space.col-xs-12
                    img(src="http://placehold.it/360x200")
                    .flex-space-copy
                      h3 
                        a(href="#") Software de pontuação de matiz Farnsworth-Munsell 100
                  table
                    tbody
                      tr

                        .btn-container
                          button.btn.btn-secondary Details Anzeigen
              tr
                th.col-xs-3 Price
                td.col-xs-3 $2,300
                td.col-xs-3 $2,300
                td.col-xs-3 $2,300
              tr
                th.col-xs-3 Light Source
                td.col-xs-3 Gas-filled tungsten lamp
                td.col-xs-3 Lorum Pixel Mixum Ipsum
                td.col-xs-3 N/A
              tr
                th.col-xs-3 Price
                td.col-xs-3 $2,300
                td.col-xs-3 $2,300
                td.col-xs-3 $2,300
              tr
                th.col-xs-3 Light Source
                td.col-xs-3 Gas-filled tungsten lamp
                td.col-xs-3 Lorum Pixel Mixum Ipsum
                td.col-xs-3 N/A
