//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/media-object.jade
include ../styleguide/ui-components/components/media-object--slider.jade
include ../styleguide/ui-components/components/pagination.jade


append content
  nav.container.breadcrumb
    ul.utility-nav(style="margin-bottom: 30px;")
      li
        a(href="#") product listing
      li
        a(href="#") Products
  .container
    .row
      .col-sm-12
        h2 Search Category
        | Here's a super long description

  .container.product-listing
    .row
      aside.filters.col-sm-12.col-md-3.tab-pane
        .row
          .col-sm-6.filter-header
            h5.accordion-trigger.collapsed
              a(data-toggle="collapse", href="#filters", aria-controls="collapseExample") Filters
          .col-sm-6.filter-reset
            a(href="#") Reset
        section(id="filters").filter-container
          section.accordion
            a(data-toggle="collapse",href="#need",aria-expanded="false",aria-controls="collapseExample") 
              a.heading-four.collapsed.accordion-trigger
                | Need
                span.accordion-icon
            ul(id="need").list-filters.collapse
                li.checkbox
                    label Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Filter With a Long Name # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Filter # 3
                      input(type="checkbox")
                      span.psuedo-input
          section.accordion
            a(data-toggle="collapse",href="#category",aria-expanded="false",aria-controls="collapseExample")
              a.heading-four.collapsed.accordion-trigger Category
                span.accordion-icon
            ul(id="category").list-filters.collapse
                li.checkbox
                    label Category Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Category Filter # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Category Filter # 3
                      input(type="checkbox")
                      span.psuedo-input
          section.accordion
            a(data-toggle="collapse",href="#Industry",aria-expanded="false",aria-controls="collapseExample")
              a.heading-four.collapsed.accordion-trigger
                | Industry
                span.accordion-icon
            ul(id="Industry").list-filters.collapse
                li.checkbox
                    label Industry Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Industry Filter # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Industry Filter # 3
                      input(type="checkbox")
                      span.psuedo-input
          section.accordion
            a(data-toggle="collapse",href="#Material",aria-expanded="false",aria-controls="collapseExample")
              a.heading-four.collapsed.accordion-trigger
                | Material
                span.accordion-icon
            ul(id="Material").list-filters.collapse
                li.checkbox
                    label Material Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Material Filter # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Material Filter # 3
                      input(type="checkbox")
                      span.psuedo-input
          section.accordion
            a(data-toggle="collapse",href="#Availability",aria-expanded="false",aria-controls="collapseExample")
              a.heading-four.collapsed.accordion-trigger Availability
                span.accordion-icon
            ul(id="Availability").list-filters.collapse
                li.checkbox
                    label Availability Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Availability Filter # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Availability Filter # 3
                      input(type="checkbox", "checked")
                      span.psuedo-input

        
      .col-sm-12.col-md-9
        form.search-box
          .form-group
            input(id="search-box" type="text" placeholder="search box" title="Content Managed Error Message" required="required")
            
            .search-submit
              input(type="submit" value="search")
        hr
        +media-object()
        hr
        +media-object()
        hr
        +media-object()
        hr
        +media-object()
        hr
        +pagination()
  .container.text-right
    a(href="#").back-to-top
      span.lnr.lnr-chevron-up
      | &nbsp; back to top