//-
//- @page: Styleguide
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/components.jade

include ../styleguide/design/index.jade
include ../styleguide/ui-components/index.jade
include ../styleguide/widgets/index.jade
include ../../components/list/list.jade

append content
    article.container
      section.main
        h1.heading X-Rite Components
        p This is the static component library for the X-Rite.com redesign. Elements on this page are a result of a combination of two or more base styles referenced on the styleguide. These Elements can be combined to quickly build templates.
        section.sections
          +ui-components()
