//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
append content
  nav.container.breadcrumb
    +utility-nav()
  article
    section
      .container
        .row
          .col-sm-12.col-md-7
            .flex-space
              img(src="http://placehold.it/700x350")
            .row.visible-lg-block(style="margin-top: 20px")
              .col-sm-12.col-md-4
                .flex-space
                  img(src="http://placehold.it/700x350")
              .col-sm-12.col-md-4
                .flex-space
                  img(src="http://placehold.it/700x350")
              .col-sm-12.col-md-4
                .flex-space
                  img(src="http://placehold.it/700x350")
          .col-sm-12.col-md-5
            h5 
              small Model #: 1234567
            h2 Colormunki Display
            h4.primary 189.00 
              small FREE SHIPPING
            p No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life.
            .row
              .col-sm-12
                button.btn Add to Cart
      .container
        .flexible-feature-area
          section.accordion
            a.heading-four.collapsed.accordion-trigger(data-toggle="collapse",href="#need",aria-expanded="false",aria-controls="collapseExample") Flexible Feature Area
                span.accordion-icon
            div(id="need").collapse
               | No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life. No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life.
      section.tab-component.container
          .row
            ul.nav.nav-tabs.col-sm-12
              li.active
                a(href="#overview", data-toggle="tab") Overview
              li
                a(href="#specification", data-toggle="tab") Specification
              li
                a(href="#training", data-toggle="tab") Training and Support
              li
                a(href="#testimonials", data-toggle="tab") Case Studies &amp; Testimonials

          .row.tab-content
            #overview.tab-pane.active
              .col-sm-12.col-md-9
                  h2 Overview
                  p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
                  h3 Enhanced Features:
                  ul
                      li Technologically advanced and ergonomic multi-functional measurement device
                      li Easy to use software – “Easy” and “Advanced” modes with simple one-click presets or wizard-driven options for more control
                      li Free ColorTRUE mobile app for calibrating Apple® iOS and Android® mobile devices
                      li Intelligent Iterative Profiling – an adaptive technology that measures and analyzes the color capabilities
                      li X-Rite Ambient Light Smart Control - measurement, compensation and ongoing monitoring of ambient lighting conditions
                      li X-Rite Flare Correct™ - measurement and compensation of display surface glare
                      li Automatic Display Control (ADC) adjusts your display’s hardware to speed up process and eliminate
                      li Broadcast video standards support: NTSC, PAL SECAM, and ITU-R Rec.BT.709 manual adjustments
              .flex-space.col-sm-12.col-md-3
                  img(src="http://placehold.it/400x285")
                  h3 
                      a(href="#") Video 1
              .flex-space.col-sm-12.col-md-3
                  img(src="http://placehold.it/400x285")
                  h3 
                      a(href="#") Video 1
            #specification.tab-pane
              .col-sm-12.col-md-12
                  h2 Specifications
                  p No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life.
                  h3 List of Features
                  table.stripped-table
                    tbody
                        tr
                          th Optical Apeture
                        tr
                          td 8mm measurement area / 14mm target window
                        tr
                          th Light Source
                        tr
                          td Gas-filled tungsten lamp
                        tr
                          th Inter-Instrument Agreement
                        tr
                          td CIE *a*b*: Ave .4 E*ab based on ave. of 12 BCRA Series II titles (specular component included) Max .6 E*ab on any title (specular component] included)

            #training.tab-pane
              .col-sm-12.col-md-9
                  h2 Training and Support
                  p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
                  h3 List of Features
                  table
                    tbody
                        tr
                          th Optical Apeture
                        tr
                          td 8mm measurement area / 14mm target window
                        tr
                          th Light Source
                        tr
                          td Gas-filled tungsten lamp
                        tr
                          th Inter-Instrument Agreement
                        tr
                          td CIE *a*b*: Ave .4 E*ab based on ave. of 12 BCRA Series II titles (specular component included) Max .6 E*ab on any title (specular component] included)
              .flex-space.col-sm-12.col-md-3
                  img(src="http://placehold.it/400x285")
                  h3 
                      a(href="#") Video 1
              .flex-space.col-sm-12.col-md-3
                  img(src="http://placehold.it/400x285")
                  h3 
                      a(href="#") Video 1

            #testimonials.tab-pane
              .col-sm-12.col-md-9
                  h2 Testimonials
                  p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
                  h3 List of Features
                  ul
                      li Feature One
                      li Feature Two
                      li Feature Three
                      li Feature Four
              .flex-space.col-sm-12.col-md-3
                  img(src="http://placehold.it/400x285")
                  h3 
                      a(href="#") Video 1
              .flex-space.col-sm-12.col-md-3
                  img(src="http://placehold.it/400x285")
                  h3 
                      a(href="#") Video 1



