//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/product-listing.jade
include ../styleguide/ui-components/components/social.jade
include ../styleguide/ui-components/components/utility-nav.jade
append content
  nav.container.breadcrumb
    +utility-nav()
    +social()
  .container
    h2 Webinars Listing Page
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper neque vel massa condimentum, sed egestas eros scelerisque. Nunc tellus ex, eleifend a eros a, gravida fringilla erat. Sed non tellus turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper neque vel massa condimentum, sed egestas eros scelerisque.

  .container
    .row
      aside.filters.col-sm-12.col-md-3
        .row
          .col-sm-6 
            h5 Filter by
          .col-sm-6.filter-reset
            a(href="#") Reset
        section.accordion
          a(data-toggle="collapse",href="#type",aria-expanded="true",aria-controls="collapseExample") 
            h3.accordion-trigger Type
              span.accordion-icon
          ul(id="type").list-filters.collapse.in
              li.checkbox
                  label Upcoming
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label On demand
                    input(type="checkbox")
                    span.psuedo-input
        section.accordion
          a.collapsed(data-toggle="collapse",href="#category",aria-expanded="false",aria-controls="collapseExample")
            h3.accordion-trigger Industry
              span.accordion-icon
          ul(id="category").list-filters.collapse
              li.checkbox
                  label Automotive
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Cosmetics
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Design
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Paint &amp; Coating
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Photo &amp; Video
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Plastics
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Print &amp; Packing
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Retail Paint
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Textile
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Other
                    input(type="checkbox")
                    span.psuedo-input
        section.accordion
          a.collapsed(data-toggle="collapse",href="#Industry",aria-expanded="false",aria-controls="collapseExample") 
            h3.accordion-trigger Product
              span.accordion-icon
          ul(id="Industry").list-filters.collapse
              li.checkbox
                  label Product Filter # 1
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Product Filter # 2
                    input(type="checkbox")
                    span.psuedo-input
              li.checkbox
                  label Product Filter # 3
                    input(type="checkbox")
                    span.psuedo-input


      .col-sm-12.col-md-9
        
        .row
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p This text Area has a height of 330px. This will accomodate a small paragraph and 4 short bullet points. This is done to ensure that all buttons are on the same line.
            .btn-container
              button.btn View Details
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p This text Area has a height of 330px. This will accomodate a small paragraph and 4 short bullet points. This is done to ensure that all buttons are on the same line.
            .btn-container
              button.btn View Details
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 2
              p This is the Product Description, full of important text that can be digested easily by the consumer. Lorum ipsum dollar ismet
            .btn-container
              button.btn.btn-primary Details Anzeigen
        .row
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 3
              p This is the Product Description, full of important text that can be digested easily by the consumer. Lorum ipsum dollar ismet

            .btn-container
              button.btn.btn-primary View Details
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p This text Area has a height of 330px. This will accomodate a small paragraph and 4 short bullet points. This is done to ensure that all buttons are on the same line.
            .btn-container
              button.btn View Details
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 4
              p This is the Product Description, full of important text that can be digested easily by the consumer. Lorum ipsum dollar isme
        .row
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 3
              p This is the Product Description, full of important text that can be digested easily by the consumer. Lorum ipsum dollar ismet

            .btn-container
              button.btn.btn-primary View Details
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p This text Area has a height of 330px. This will accomodate a small paragraph and 4 short bullet points. This is done to ensure that all buttons are on the same line.
            .btn-container
              button.btn View Details
          .flex-space.col-xs-12.col-sm-6.col-md-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 4
              p This is the Product Description, full of important text that can be digested easily by the consumer. Lorum ipsum dollar isme
