@import 'main';

.component {
  margin: $margin-vertical--large 0;
}

.color {
  display: block;
  margin: $margin-vertical--small 0;
}

.content {
  display: block;
  margin: 0;
  width: 100%;

  @include media(md) {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 80%;
  }
}

.code-name {
  background-color: $gray;
  border-radius: 5px;
  box-sizing: border-box;
  color: $white;
  display: block;
  margin: $margin-vertical--small 12.5%;
  padding: 10px 15px;
  text-align: center;
  width: 75%;

  @include media(md) {
    display: in-block;
    margin: $margin-vertical--small 1%;
    vertical-align: top;
    white-space: normal;
    width: 18%;
  }
}

.heading {
  border-bottom: 1px solid $gray;
  /*margin: 0;
  margin-bottom: $margin-vertical;*/
  width: 100%;
}

.item {
  margin: $margin-vertical 0 $margin-vertical--large;
  padding: 0;
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
    [class*='col-'] {
      /*border: 1px solid $primary;*/
      /*padding:$padding-horizontal;
      margin: 0 0 $margin-vertical;*/
    }
  }
}


.styleguide .container [class*='col-'] {
  border: 1px solid $primary;
  /*padding:$padding-horizontal;*/
  margin: 0 0 $margin-vertical;
}
.main {
  display: block;
  width: 100%;

  @include media(md) {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
}

.legal {
  float: right;
}

.line-item {
  display: block;
  position: relative;
  width: 100%;

  p {
    white-space: normal;
    
    @include media(sm) {
      width: auto;
    }
  }

  .run-animation {
    display: block;
    width: 80px;
    margin: $margin-vertical--small 0 $margin-vertical--large;

  }
}

.swatch {
  box-sizing:border-box;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  height: 44px;
  margin: 10px 0;
  position: absolute;
  right: 5%;
  width: 44px;

  @include media(xs) {
    position: static;
  }

  @include media(sm) {
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: top;
  }

  & + p {
    line-height: 44px;
    margin: 0;

    @include media(xs) {
      display: inline-block;
      vertical-align: middle;
    }

    &.white,
    &.accent {
      background-color: $black;
    }
  }
}

.styleguide footer .container [class*='col-'] {
  margin-bottom: 0;
}
.styleguide header .container [class*='col-'] {
  border: none;
}
