//-
//- @component: Navigation
//- @type:
//- @description:
//- @author:
//- @comments:
//-
<!-- HEADER -->
navigation.button-navigation.hidden-lg
  .container
    .col-xs-4.text-center
      a(href="#")
        i.glyphicon.glyphicon-th-large
        div About Us
    .col-xs-4.text-center
      a(href="#")
        i.glyphicon.glyphicon-chevron-left
        div Previous
    .col-xs-4.text-center
      a(href="#")
        i.glyphicon.glyphicon-chevron-right
        div Next

<!-- /HEADER -->
