//-
//- @component: Navigation
//- @type:
//- @description:
//- @author:
//- @comments:
//-
<!-- HEADER -->
header
  div.container-fluid
    nav.navigation
      a(href="/").navbar-logo
            picture.logo
              img(src="assets/logo-wide.png",alt="This picture loads on non-supporting browsers.")
              
      .navbar-desktop.visible-lg-block
        ul.utility-nav
          li
            a(href="styleguide-elements.html") Styleguide
          li
            a(href="styleguide-components.html") Components
        ul.primary-nav
          li
            a(href="../product.html" target="_blank") Products
            nav.navigation.desktop-mega-menu
              .container
                ul.col-md-3.list-unstyled
                  
                  li
                    h3
                      small 
                        a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                  li
                    h3
                      small 
                        a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  li
                    h3
                      small 
                        a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  li
                    h3
                      small
                        a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  li
                    h3
                        small 
                          a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                  li
                    h3
                      small 
                        a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                  li
                    h3
                        small 
                          a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
          li
            a(href="/styleguide/components.html" target="_blank") Industry Solutions
            nav.navigation.desktop-mega-menu
              .container
                ul.col-md-3.list-unstyled
                  
                  li
                    h3
                      small 
                        a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                  li
                    h3
                      small 
                        a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  li
                    h3
                      small 
                        a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  li
                    h3
                      small 
                        a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                      li 
                        a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  li
                    h3
                        small 
                          a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                  li
                    h3
                      small 
                        a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
                  li
                    h3
                        small 
                          a(href="#") Level Two
                    ul
                      li 
                        a(href="#") Level Three
          li
            a(href="/styleguide/pages/" target="_blank") Service &amp; Support
          li.dropdown-list-container
            a(href="/styleguide/pages/" target="_blank") Learning
            nav.navigation.desktop-list-menu
              ul.list-unstyled
                li
                  a(href="#") Level Two
                li 
                  a(href="#") Level Two
                li 
                  a(href="#") Level Two
                li
                  a(href="#") Level Two
                li
                  a(href="#") Level Two
                li
                  a(href="#") Level Two
          li.dropdown-list-container
            a(href="../about.html") Contact
            nav.navigation.desktop-list-menu
              ul.list-unstyled
                li
                  a(href="#") Level Two
                li 
                  a(href="#") Level Two
                li 
                  a(href="#") Level Two
                li
                  a(href="#") Level Two
                li
                  a(href="#") Level Two
                li
                  a(href="#") Level Two
          li.search
            a(data-toggle="collapse" data-target="#header-search" aria-expanded="false" aria-controls="header-search", tabindex="0")
              span.lnr.lnr-magnifier
      .navbar-mobile.hidden-lg
        ul.mobile-nav
          li
            a(href="#header-search" data-toggle="collapse" data-target="#header-search" aria-expanded="false" aria-controls="header-search") 
              i.lnr.lnr-magnifier
          li
            a(href="/styleguide/components.html" target="_blank")
              i.lnr.lnr-user
          li
            a(href="/styleguide/components.html" target="_blank")
              i.lnr.lnr-products
          li
            a(id="mobile-menu-trigger")
              i.lnr.lnr-menu
  
  nav.mobile-menu.hidden-lg
    ul
      li
        a(href="#").mobile-menu--level-one.mobile-menu-trigger--sub
          span.lnr.lnr-cart
          | Level One
          span.lnr.lnr-arrow-right
        ul
          li
            a(href="#").mobile-menu--back 
              span.lnr.lnr-arrow-left 
              | Back
              span.lnr
          li
            a(href="#").mobile-menu--level-two.mobile-menu-trigger--sub
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
             ul
              li
                a(href="#").mobile-menu--back 
                  span.lnr.lnr-arrow-left 
                  | Back
                  span.lnr
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
            li
              a(href="#").mobile-menu--level-two.mobile-menu-trigger--sub
                span.lnr
                | Level Two
                span.lnr.lnr-arrow-right
               ul
                li
                  a(href="#").mobile-menu--back 
                    span.lnr.lnr-arrow-left 
                    | Back
                    span.lnr
                li
                  a(href="#").mobile-menu--level-three
                    span.lnr
                    | Level Three
                    span.lnr.lnr-arrow-right
                li
                  a(href="#").mobile-menu--level-three
                    span.lnr
                    | Level Three
                    span.lnr.lnr-arrow-right
                li
                  a(href="#").mobile-menu--level-three
                    span.lnr
                    | Level Three
                    span.lnr.lnr-arrow-right
      li
        a(href="#").mobile-menu--level-one.mobile-menu-trigger--sub
          span.lnr
          | Level One
          span.lnr.lnr-arrow-right
        ul
          li
            a(href="#").mobile-menu--back 
              span.lnr.lnr-arrow-left 
              | Back
              span.lnr
          li
            a(href="#").mobile-menu--level-two.mobile-menu-trigger--sub
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
             ul
              li
                a(href="#").mobile-menu--back 
                  span.lnr.lnr-arrow-left 
                  | Back
                  span.lnr
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two.mobile-menu-trigger--sub
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
            ul
              li
                a(href="#").mobile-menu--back 
                  span.lnr.lnr-arrow-left 
                  | Back
                  span.lnr
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right

      li 
        a(href="#").mobile-menu--level-one.mobile-menu-trigger--sub 
          span.lnr
          | Level One
          span.lnr.lnr-arrow-right
        ul
          li
            a(href="#").mobile-menu--back 
              span.lnr.lnr-arrow-left 
              | Back
              span.lnr
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
      li 
        a(href="#").mobile-menu--level-one
          span.lnr
          | Level One
          span.lnr.lnr-arrow-right
      li 
        a(href="#").mobile-menu--level-one
          span.lnr.lnr-diamond
          | Level One
          span.lnr.lnr-arrow-right
      li 
        a(href="#").mobile-menu--level-one
          span.lnr.lnr-phone-handset
          | Level One
          span.lnr.lnr-arrow-right
      li
        a(href="#").mobile-menu--level-one
          span.lnr.lnr-cart
          | Level One
          span.lnr.lnr-arrow-right

.collapse.header-search-box.search-box(id="header-search")
  .container
    form.form-group
      input(id="search", type="text", placeholder="Search X-Rite For Stuff", title="")
      label(for="search")
        span Search
      .search-submit
        input(type="submit", value="search")

<!-- /HEADER -->
