body {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto; }

.hue-container {
  font-size: 0;
  margin-bottom: 20px; }

.hue-box {
  padding: 20px;
  display: inline-block;
  border: 1px solid #000000; }

.key-slot {
  height: 45px;
  width: 45px;
  background-color: green;
  display: inline-block; 
}

/* Media query that hides the hue test and displays the modal based
   on screen orientation and the minimum size required for the test 
   to be visible */ 
@media screen and (orientation:portrait) and (max-width: 430px) {
    * {
        background-color: red;
    }
}
.row {
  display: inline; }

.mr-0-fm-01 {
  background-color: #b2766f; }

.mr-1-fm-02 {
  background-color: #b1746a; }

.mr-2-fm-03 {
  background-color: #b17466; }

.mr-3-fm-04 {
  background-color: #b07464; }

.mr-4-fm-05 {
  background-color: #ae725f; }

.mr-5-fm-06 {
  background-color: #aa725b; }

.mr-6-fm-07 {
  background-color: #a8745a; }

.mr-7-fm-08 {
  background-color: #a87456; }

.mr-8-fm-09 {
  background-color: #a87452; }

.mr-9-fm-10 {
  background-color: #a97650; }

.mr-a-fm-11 {
  background-color: #a8794e; }

.mr-b-fm-12 {
  background-color: #a77c4e; }

.mr-c-FM-13 {
  background-color: #A97E4C; }

.mr-d-FM-14 {
  background-color: #A57E46; }

.mr-e-FM-15 {
  background-color: #A78244; }

.mr-f-FM-16 {
  background-color: #A48546; }

.mr-g-FM-17 {
  background-color: #A28946; }

.mr-h-FM-18 {
  background-color: #9F8B46; }

.mr-i-FM-19 {
  background-color: #9D8E48; }

.mr-j-FM-20 {
  background-color: #9B8F49; }

.mr-k-FM-21 {
  background-color: #97914B; }

.mr-l-FM-22 {
  background-color: #91924D; }

.mr-m-FM-23 {
  background-color: #8D9352; }

.mr-n-FM-24 {
  background-color: #899557; }

.mr-o-FM-25 {
  background-color: #86955C; }

.mr-p-FM-26 {
  background-color: #84975F; }

.mr-q-FM-27 {
  background-color: #7E9760; }

.mr-r-FM-28 {
  background-color: #7D9666; }

.mr-s-FM-29 {
  background-color: #7C9567; }

.mr-t-FM-30 {
  background-color: #7A986B; }

.mr-C-FM-31 {
  background-color: #73966B; }

.mr-u-FM-32 {
  background-color: #70996D; }

.mr-v-FM-33 {
  background-color: #699A71; }

.mr-w-FM-34 {
  background-color: #679A74; }

.mr-x-FM-35 {
  background-color: #649A76; }

.mr-y-FM-36 {
  background-color: #619778; }

.mr-z-FM-37 {
  background-color: #5B947A; }

.mr-A-FM-38 {
  background-color: #5A957F; }

.mr-B-FM-39 {
  background-color: #589480; }

.mr-D-FM-40 {
  background-color: #559584; }

.mr-E-FM-41 {
  background-color: #529687; }

.mr-F-FM-42 {
  background-color: #519688; }

.mr-G-FM-43 {
  background-color: #4E9689; }

.mr-H-FM-44 {
  background-color: #4C968E; }

.mr-I-FM-45 {
  background-color: #4C9691; }

.mr-J-FM-46 {
  background-color: #4A9794; }

.mr-K-FM-47 {
  background-color: #4A9696; }

.mr-L-FM-48 {
  background-color: #4B9596; }

.mr-M-FM-49 {
  background-color: #4A9698; }

.mr-N-FM-50 {
  background-color: #50969C; }

.mr-O-FM-51 {
  background-color: #52949F; }

.mr-P-FM-52 {
  background-color: #5393A1; }

.mr-Q-FM-53 {
  background-color: #5494A3; }

.mr-R-FM-54 {
  background-color: #5A92A4; }

.mr-S-FM-55 {
  background-color: #6090A5; }

.mr-T-FM-56 {
  background-color: #6690A5; }

.mr-U-FM-57 {
  background-color: #688FA7; }

.mr-V-FM-58 {
  background-color: #6B8CA6; }

.mr-W-FM-59 {
  background-color: #6C8AA6; }

.mr-X-FM-60 {
  background-color: #6F89A6; }

.mr-Y-FM-61 {
  background-color: #7489A7; }

.mr-Z-FM-62 {
  background-color: #7686A6; }

.mr-FM-63 {
  background-color: #7B84A3; }

.mr-FM-64 {
  background-color: #8084A3; }

.mr-FM-65 {
  background-color: #8484A3; }

.mr-FM-66 {
  background-color: #8A86A6; }

.mr-FM-67 {
  background-color: #8D85A3; }

.mr-FM-68 {
  background-color: #9185A3; }

.mr-FM-69 {
  background-color: #9483A0; }

.mr-FM-70 {
  background-color: #97839F; }

.mr-FM-71 {
  background-color: #99819D; }

.mr-FM-72 {
  background-color: #9D809B; }

.mr-FM-73 {
  background-color: #9F7F98; }

.mr-FM-74 {
  background-color: #A37D94; }

.mr-FM-75 {
  background-color: #A57C92; }

.mr-FM-76 {
  background-color: #A67A8E; }

.mr-FM-77 {
  background-color: #A9798B; }

.mr-FM-78 {
  background-color: #AB7788; }

.mr-FM-79 {
  background-color: #AE7787; }

.mr-FM-80 {
  background-color: #B07683; }

.mr-FM-81 {
  background-color: #B1757F; }

.mr-FM-82 {
  background-color: #B3747C; }

.mr-FM-83 {
  background-color: #B3757A; }

.mr-FM-84 {
  background-color: #B37576; }

.mr-FM-85 {
  background-color: #B37673; }

/*# sourceMappingURL=main.css.map */


.protanopia {
  -webkit-filter: url(#protanopia);
  -moz-filter: url(#protanopia);
  -ms-filter: url(#protanopia);
  -o-filter: url(#protanopia);
  filter: url(#protanopia);
}



.protanomaly {
  -webkit-filter: url(#protanomaly);
  -moz-filter: url(#protanomaly);
  -ms-filter: url(#protanomaly);
  -o-filter: url(#protanomaly);
  filter: url(#protanomaly);
}
.deuteranopia  {
  -webkit-filter: url(#deuteranopia);
  -moz-filter: url(#deuteranopia);
  -ms-filter: url(#deuteranopia);
  -o-filter: url(#deuteranopia);
  filter: url(#deuteranopia);
}
.deuteranomaly {
  -webkit-filter: url(#deuteranomaly);
  -moz-filter: url(#deuteranomaly);
  -ms-filter: url(#deuteranomaly);
  -o-filter: url(#deuteranomaly);
  filter: url(#deuteranomaly);
}
.tritanopia {
  -webkit-filter: url(#tritanopia);
  -moz-filter: url(#tritanopia);
  -ms-filter: url(#tritanopia);
  -o-filter: url(#tritanopia);
  filter: url(#tritanopia);
}
.tritanomaly {
  -webkit-filter: url(#tritanomaly);
  -moz-filter: url(#tritanomaly);
  -ms-filter: url(#tritanomaly);
  -o-filter: url(#tritanomaly);
  filter: url(#tritanomaly);
}
.achromatopsia {
  -webkit-filter: url(#achromatopsia);
  -moz-filter: url(#achromatopsia);
  -ms-filter: url(#achromatopsia);
  -o-filter: url(#achromatopsia);
  filter: url(#achromatopsia);
}
.achromatomaly {
  -webkit-filter: url(#achromatomaly);
  -moz-filter: url(#achromatomaly);
  -ms-filter: url(#achromatomaly);
  -o-filter: url(#achromatomaly);
  filter: url(#achromatomaly);
}