//-
//- @page: Project Index
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
doctype html
html(lang="en")
  head
    title Project Title
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(type="text/css" rel="stylesheet" media="all" href="css/stylesheet.css")
    link(type="text/css" rel="stylesheet" media="all" href="css/styleguide.css")
  body
    header
      nav(class="navigation")
        ul
          li
            a(href="/styleguide/" target="_blank") Styleguide
          li
            a(href="/jsdocs" target="_blank") JS Docs
          li
            a(href="/sassdoc" target="_blank") Sass Docs
          li
            a(href="/coverage/lcov-report") JS Test Coverage
    article(class="container")
      h1 Project Title
      ul
        li Approved
          ul
            li
              a(href="#" target="_blank")
        li Completed, pending approval
          ul
            li
              a(href="#" target="_blank")
        li In progress
          ul
            li
              a(href="#" target="_blank")
        li Not started
          ul
            li
              a(href="#" target="_blank")
