//-
//- @page: Project Index
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
doctype html
html(lang="en")
  head
    title Project Title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(type="text/css" rel="stylesheet" media="all" href="css/stylesheet.css")
    link(type="text/css" rel="stylesheet" media="all" href="css/styleguide.css")
  body
    header
      div.container-fluid
        nav.navigation
          a(href="/").navbar-logo
                picture.logo
                  source(media="(max-width: 550px)",srcset="assets/logo-small.png")
                  source(src="assets/logo.png")
                  img(src="assets/logo.png",alt="This picture loads on non-supporting browsers.")
    article(class="container")
      h1 X-Rite Redesign
      h3 Global Elements
      ul
        li
          a(href="styleguide-elements.html") Styleguide
        li
          a(href="styleguide-components.html") Components
      h3 Page Level Stuff
      ul
        //- li
        //-   a(href="about.html") Generic Content Page (About)
        li
          a(href="category-listing.html") Category Listing
      //- h3 Sprint 2
      ul
        li
          a(href="homepage.html") Home Page
        li
          a(href="product.html") Product Detail
        li
          a(href="part-detail.html") Part Detail
        li
          a(href="training-detail.html") Training Detail
        li
          a(href="product-listing.html") Product Listing Page
        li
          a(href="webinar-listing.html") Webinar Listing Page
        li
          a(href="product-compare.html") Product Compare
        li
          a(href="category-detail-page.html") Category Detail Page
        li
          a(href="industry-detail-page.html") Industry Detail Page
        li
          a(href="learning-listing.html") Learning Listing
      ul
        li
          a(href="partner-locator-initial.html") Partner Locator - Initial State
        li
          a(href="partner-locator.html") Partner Locator - Populated State
        li
          a(href="coloratti-landing.html") Coloratti - Landing
        li
          a(href="coloratti-profile.html") Coloratti - Profile
        li
          a(href="coloratti-apply.html") Coloratti - Apply
        li
          a(href="about-landing.html") About - Landing
        li
          a(href="about-internal.html") About - internal
        li
          a(href="about-news-and-events.html") About - News and Events
        li
          a(href="about-press-release-listing.html") About - Press Release Listing

      h3 Form Examples
      ul
        li
          a(href="form-initial.html") Full Page Form
        li
          a(href="form-product-purchase.html") Dynamic Contact - Product Purchases / Product Info
        li
          a(href="form-training-education.html") Dynamic Contact - Training and Education
        li
          a(href="form-technical-support.html") Dynamic Contact - Technical Support

        li
          a(href="form-media-contact.html") Dynamic Contact - Media Contact

        li
          a(href="form-oem-customized-solutions.html") Dynamic Contact - OEM and Customized Solutions

        li
          a(href="form-rma-request.html") Dynamic Contact - RMA Request

        li
          a(href="form-manage-email.html") Form - Manage Emails

        li
          a(href="form-lead-gen.html") Form - Lead Gens

        li
          a(href="form-modal-example.html") Form - Modal Example

 block scripts
      script(type="text/javascript" src="/js/libs.min.js")
      script(type="text/javascript" src="/js/main.min.js")