body {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.hue-container {
    font-size: 0;
    margin-bottom: 20px;
}

.hue-box {
    padding: 20px;
    display: inline-block;
    border: 1px solid #000000;
}

.key-slot {
    height: 45px;
    width: 45px;
    background-color: green;
    display: inline-block;
}
.row {
    display: inline;
}

.mr-0-fm-01 {
    background-color: $mr-0-fm-01;
}
.mr-1-fm-02 {
    background-color: $mr-1-fm-02;
}
.mr-2-fm-03 {
    background-color: $mr-2-fm-03;
}
.mr-3-fm-04 {
    background-color: $mr-3-fm-04;
}
.mr-4-fm-05 {
    background-color: $mr-4-fm-05;
}
.mr-5-fm-06 {
    background-color: $mr-5-fm-06;
}
.mr-6-fm-07 {
    background-color: $mr-6-fm-07;
}
.mr-7-fm-08 {
    background-color: $mr-7-fm-08;
}
.mr-8-fm-09 {
    background-color: $mr-8-fm-09;
}
.mr-9-fm-10 {
    background-color: $mr-9-fm-10;
}
.mr-a-fm-11 {
    background-color: $mr-a-fm-11;
}
.mr-b-fm-12 {
    background-color: $mr-b-fm-12;
}
.mr-c-FM-13 {
    background-color: $mr-c-FM-13;
}
.mr-d-FM-14 {
    background-color: $mr-d-FM-14;
}
.mr-e-FM-15 {
    background-color: $mr-e-FM-15;
}
.mr-f-FM-16 {
    background-color: $mr-f-FM-16;
}
.mr-g-FM-17 {
    background-color: $mr-g-FM-17;
}
.mr-h-FM-18 {
    background-color: $mr-h-FM-18;
}
.mr-i-FM-19 {
    background-color: $mr-i-FM-19;
}
.mr-j-FM-20 {
    background-color: $mr-j-FM-20;
}
.mr-k-FM-21 {
    background-color: $mr-k-FM-21;
}
.mr-l-FM-22 {
    background-color: $mr-l-FM-22;
}
.mr-m-FM-23 {
    background-color: $mr-m-FM-23;
}
.mr-n-FM-24 {
    background-color: $mr-n-FM-24;
}
.mr-o-FM-25 {
    background-color: $mr-o-FM-25;
}
.mr-p-FM-26 {
    background-color: $mr-p-FM-26;
}
.mr-q-FM-27 {
    background-color: $mr-q-FM-27;
}
.mr-r-FM-28 {
    background-color: $mr-r-FM-28;
}
.mr-s-FM-29 {
    background-color: $mr-s-FM-29;
}
.mr-t-FM-30 {
    background-color: $mr-t-FM-30;
}
.mr-C-FM-31 {
    background-color: $mr-C-FM-31;
}
.mr-u-FM-32 {
    background-color: $mr-u-FM-32;
}
.mr-v-FM-33 {
    background-color: $mr-v-FM-33;
}
.mr-w-FM-34 {
    background-color: $mr-w-FM-34;
}
.mr-x-FM-35 {
    background-color: $mr-x-FM-35;
}
.mr-y-FM-36 {
    background-color: $mr-y-FM-36;
}
.mr-z-FM-37 {
    background-color: $mr-z-FM-37;
}
.mr-A-FM-38 {
    background-color: $mr-A-FM-38;
}
.mr-B-FM-39 {
    background-color: $mr-B-FM-39;
}
.mr-D-FM-40 {
    background-color: $mr-D-FM-40;
}
.mr-E-FM-41 {
    background-color: $mr-E-FM-41;
}
.mr-F-FM-42 {
    background-color: $mr-F-FM-42;
}
.mr-G-FM-43 {
    background-color: $mr-G-FM-43;
}
.mr-H-FM-44 {
    background-color: $mr-H-FM-44;
}
.mr-I-FM-45 {
    background-color: $mr-I-FM-45;
}
.mr-J-FM-46 {
    background-color: $mr-J-FM-46;
}
.mr-K-FM-47 {
    background-color: $mr-K-FM-47;
}
.mr-L-FM-48 {
    background-color: $mr-L-FM-48;
}
.mr-M-FM-49 {
    background-color: $mr-M-FM-49;
}
.mr-N-FM-50 {
    background-color: $mr-N-FM-50;
}
.mr-O-FM-51 {
    background-color: $mr-O-FM-51;
}
.mr-P-FM-52 {
    background-color: $mr-P-FM-52;
}
.mr-Q-FM-53 {
    background-color: $mr-Q-FM-53;
}
.mr-R-FM-54 {
    background-color: $mr-R-FM-54;
}
.mr-S-FM-55 {
    background-color: $mr-S-FM-55;
}
.mr-T-FM-56 {
    background-color: $mr-T-FM-56;
}
.mr-U-FM-57 {
    background-color: $mr-U-FM-57;
}
.mr-V-FM-58 {
    background-color: $mr-V-FM-58;
}
.mr-W-FM-59 {
    background-color: $mr-W-FM-59;
}
.mr-X-FM-60 {
    background-color: $mr-X-FM-60;
}
.mr-Y-FM-61 {
    background-color: $mr-Y-FM-61;
}
.mr-Z-FM-62 {
    background-color: $mr-Z-FM-62;
}
.mr-FM-63 {
    background-color: $mr-FM-63;
}
.mr-FM-64 {
    background-color: $mr-FM-64;
}
.mr-FM-65 {
    background-color: $mr-FM-65;
}
.mr-FM-66 {
    background-color: $mr-FM-66;
}
.mr-FM-67 {
    background-color: $mr-FM-67;
}
.mr-FM-68 {
    background-color: $mr-FM-68;
}
.mr-FM-69 {
    background-color: $mr-FM-69;
}
.mr-FM-70 {
    background-color: $mr-FM-70;
}
.mr-FM-71 {
    background-color: $mr-FM-71;
}
.mr-FM-72 {
    background-color: $mr-FM-72;
}
.mr-FM-73 {
    background-color: $mr-FM-73;
}
.mr-FM-74 {
    background-color: $mr-FM-74;
}
.mr-FM-75 {
    background-color: $mr-FM-75;
}
.mr-FM-76 {
    background-color: $mr-FM-76;
}
.mr-FM-77 {
    background-color: $mr-FM-77;
}
.mr-FM-78 {
    background-color: $mr-FM-78;
}
.mr-FM-79 {
    background-color: $mr-FM-79;
}
.mr-FM-80 {
    background-color: $mr-FM-80;
}
.mr-FM-81 {
    background-color: $mr-FM-81;
}
.mr-FM-82 {
    background-color: $mr-FM-82;
}
.mr-FM-83 {
    background-color: $mr-FM-83;
}
.mr-FM-84 {
    background-color: $mr-FM-84;
}
.mr-FM-85 {
    background-color: $mr-FM-85;
}