//-
//- @partial: Footer
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
<!-- FOOTER -->
footer
    .container
        .row
            .col-md-4
                section.accordion.accordion-mobile
                    h3.collapsed.accordion-trigger(data-toggle="collapse",href="#accordion-products",aria-expanded="false",aria-controls="collapseExample") Find Products
                        span.accordion-icon.hidden-lg
                    ul(id="accordion-products").list-unstyled.collapse
                        li 
                            a(href="#") Buyer's Guide
                        li 
                            a(href="#") By Category
                        li 
                            a(href="#") By Industry
                        li 
                            a(href="#") By Need
                        li 
                            a(href="#") Help Me Choose
                        li 
                            a(href="#") Find Your Upgrade
                section.accordion.accordion-mobile
                    h3.collapsed.accordion-trigger(data-toggle="collapse",href="#accordion-brands",aria-expanded="false",aria-controls="collapseExample") Brands
                        span.accordion-icon.hidden-lg
                    ul(id="accordion-brands").list-unstyled.collapse
                        li 
                            a(href="#") Pantone X-Rite
                        li 
                            a(href="#") Munsell
            .col-md-4
                section.accordion.accordion-mobile
                    h3.collapsed.accordion-trigger(data-toggle="collapse",href="#accordion-other-resources",aria-expanded="false",aria-controls="collapseExample") Other Resources
                        span.accordion-icon.hidden-lg
                    ul(id="accordion-other-resources").list-unstyled.collapse
                        li 
                            a(href="#") Your First Step
                        li 
                            a(href="#") Color Profile
                        li 
                            a(href="#") Color Management
                        li 
                            a(href="#") Guide Tips and Tricks
                        li 
                            a(href="#") Color Exchange
                        li 
                            a(href="#") Format
                        li 
                            a(href="#") Color IQ Test
                        li
                            a(href="#") Glossary

            .col-md-4
                section.accordion.accordion-mobile
                    h3.collapsed.accordion-trigger(data-toggle="collapse",href="#accordion-community",aria-expanded="false",aria-controls="collapseExample") Community
                        span.accordion-icon.hidden-lg
                    ul(id="accordion-community").list-unstyled.collapse
                        li 
                            a(href="#") Coloratti
                        li 
                            a(href="#") X-Rite Blog
                        li 
                            a(href="#") Photo Blog
                ul.list-unstyled.social-list
                    li
                        a(href="#")
                            i.fa.fa-twitter
                    li
                        a(href="#")
                            i.fa.fa-linkedin
                    li
                        a(href="#")
                            i.fa.fa-youtube
                    li
                        a(href="#")
                            i.fa.fa-facebook
                    li
                        a(href="#")
                            i.fa.fa-pinterest-p
                ul.list-unstyled
                    h3 Be in the Know
                        input(type="text", placeholder="Sign Up")
<!-- /FOOTER -->
