//-
//- @page: Design Components
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
include components/colors.jade
include components/grid.jade
include components/headings.jade
include components/icons.jade
include components/levels.jade
include components/lists.jade
include components/paragraphs.jade
include components/typography.jade
include components/forms.jade
include components/buttons.jade
include components/table.jade
//- include ../../../components/button/button.jade


mixin design()
  section.component
    section.item
        h3.heading(id="typopgraphy") Typography 
        +typography()
    section.item
        h3.heading(id="headings") Headings
        +headings()
    section.item
        h3.heading(id="paragraphs") Paragraphs
        +paragraphs()
    section.item
        h3.heading(id="icons") Paragraphs
        +icons()
    section.item
        h3.heading(id="colors") Colors
        +colors()
    section.item
        h3.heading(id="grid") Grid
        +grid()
    section.item
        h3.heading(id="lists") Lists
        +lists()
    section.item
        h3.heading(id="forms") Forms
        +forms()
    section.item
        h3.heading(id="button") Button
        +button()
    section.item
        h3.heading(id="table") Table
        +table()
