//-
//- @page: UI Components
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../../layouts/components.jade
include components/badges.jade

include components/text.jade
include components/flexspace.jade

include components/richtext.jade
include components/media-object.jade
include components/media-object--slider.jade
include components/media-object--static.jade
include components/social.jade
include components/utility-nav.jade
include components/breadcrumb.jade
include components/phone-number.jade
mixin ui-components()
  section.component
    hr
    +textspace()
    hr
    section.item
        h3.badges.heading Utility Nav ( Breadcrumbs )
        +utility-nav()
    hr
    section.item
        h3.badges.heading Social Media Links
        +social()
    hr
    section.item
        h3.badges.heading Breadcrumbs + Social
        +breadcrumb()

    hr
    +flexspace()
    hr
    +richtext()
    hr
    section.item
        h3.badges.heading Media Object
        +media-object()
   
    
    hr
    section.item
        h3.badges.heading Media Object -- Horizontal
        p This is a media object that is three across on desktop and leverages the slick slider functionality if there is more than three.
        +media-object--slider()
    hr
    section.item
        h3.badges.heading Media Object Static ( 2 column centered)
        p This is the same media object as above with the slick slider functionality supressed. The media object will become centered in the container
        +media-object--static()

    hr
    section.item
        h3.badges.heading Phone Number Banner
        +phone-number()