//-
//- @component: Buttons
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin button()
    .btn-container
        button.btn.btn-primary Button Text
        button.btn.btn-secondary Button Text
        a.btn.btn-primary Button ( Anchor ) Text
        a.btn.btn-secondary Button ( Anchor ) Text
        button(disabled).btn.btn-primary Button Disabled
        a.disabled.btn.btn-primary Disabled ( Anchor ) Text