//-
//- @component: Colors
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin colors()
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-white(title="$white")
          p.white.bkgd-black(title="$white") This is X-Rite Branded White. Hex: ffffff
 
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-black(title="$black")
          p.black(title="$black") This is X-Rite Branded Black. Hex: 231f20
     


      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-gray(title="$gray")
          p.gray(title="$gray") This is X-Rite Branded Gray. Hex: 53555a
      


      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-x-purple(title="$x-purple")
          p.x-purple(title="$x-purple") This is X-Rite Branded Purple. Hex: 915ca4


      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-x-orange(title="$x-orange")
          p.x-orange(title="$x-orange") This is X-Rite Branded Orange. Hex: e98b00


    .line-item
      .content
        .color
          .swatch.level-1.bkgd-x-green(title="$x-green")
          p.x-green(title="$x-green") This is X-Rite Branded Green. Hex: 55a444

      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-x-blue(title="$x-blue")
          p.x-blue(title="$x-blue") This is X-Rite Branded Blue. Hex: 00ace3

      
