//-
//- @component: Forms
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin forms()
     form
        .form-group
          input(id="username" type="text", placeholder="Username", title="Content Managed Error Message", required)
          label(for="username") 
            span Username
        .form-group
          input.error(id="password" type="password", placeholder="Password",title="Content Managed Error Message" required)
          label.error(for="password")
            | error message
          label(for="password") 
            span Password
        .checkbox
            label
                | Label Text
                input(type="checkbox")
                span.psuedo-input
        .checkbox.checkbox-left
            label
                | Label Text
                input(type="checkbox")
                span.psuedo-input
        input.btn(type="submit")