//-
//- @component: Icons
//- @group: Styleguide
//- @type:
//- @description:
//- @author: Mark Scripter [mscripter@horizontalintegration.com]
//- @comments:
//-
mixin icons()
  section.item
    h3.heading(id="icons") Icons
    .line-item
      .content
        h4 loading icon
        i.loading
