//-
//- @component: Paragraphs
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin paragraphs()
      p This is a plain paragraph. Using Frutiger Light this style of text will fill up most of your content driven site. Filling a very important role.
    
      p This is an example of a page that has an embedded anchor tag or as it more commonly referred to as a <a href="#">link</a>. Anchor tags will be underlined using the primary color of the site to indicate to the user that the word or phrase is clickable.
    
      p <strong>This is an example of a paragraph that is using Frutiger Bold.</strong> Bold text can be used to draw attention or to call our emphasis on a specific phrase.
    
      p <em>This is an example of a paragraph that is using Frutiger Italic.</em> Italic text can be used to distinguish certain words from others within the text.
    
      p <strong><em>This is an example of a paragraph that is using Frutiger Bold Italic.</em></strong> Bold Italic text is a hybrid. Use it very sparringly.

      p <a href="#">Here</a> is everything together in an example paragraph. It might be a bit <em>overkill</em> to use everything together, but you never know what content editors might need in their <strong>battle to create compelling content</strong> for <strong><em>the users</em></strong>
