//-
//- @component: table
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin table()
    table
        thead
            tr
                th First Name
                th Last Name
                th Department
        tbody
            tr
                td Mathias
                td Rechtzigel
                td Developer
            tr
                td John
                td Warren
                td User Experience
            tr
                td Rick
                td Recken
                td Design
