//-
//- @component: Banner
//- @type:
//- @description:
//- @author:
//- @comments:
//-
<!-- HEADER -->
.banner.banner-carousel.without-arrows
  .banner-slide
    .span.banner-background.visible-xs-block
      img(src="assets/xrite-benchtop-spectrophotometer-01.jpg")
    .span.banner-background.visible-sm-block
      img(src="assets/xrite-benchtop-spectrophotometer-01.jpg")
    .span.banner-background.visible-md-block.visible-lg-block
      img(src="assets/xrite-benchtop-spectrophotometer-01.jpg")
    .banner-copy
      h1 Generic Slideshow Placeholder
      .container.banner-buttons.btn-container.col-md-6
        .span.col-md-6
          button.button-alt Browse Products
        .span.col-md-6
          button.button-alt Find Support
  .banner-slide
    .span.banner-background.visible-xs-block
      img(src="assets/xrite-benchtop-spectrophotometer-02.jpg")
    .span.banner-background.visible-sm-block
      img(src="assets/xrite-benchtop-spectrophotometer-02.jpg")
    .span.banner-background.visible-md-block.visible-lg-block
      img(src="assets/xrite-benchtop-spectrophotometer-02.jpg")
    .banner-copy
      h1 Slide Two.
  .banner-slide
    .span.banner-background.visible-xs-block
      img(src="assets/xrite-benchtop-spectrophotometer-03.jpg")
    .span.banner-background.visible-sm-block
      img(src="assets/xrite-benchtop-spectrophotometer-03.jpg")
    .span.banner-background.visible-md-block.visible-lg-block
      img(src="assets/xrite-benchtop-spectrophotometer-03.jpg")
    .banner-copy
      h1 Slide Three.
      .container.banner-buttons.btn-container.col-md-6
        .span.col-md-6
          button.button-alt Browse Products
        .span.col-md-6
          button.button-alt Find Support

//- .banner.banner-carousel.without-arrows
//-   .banner-slide
//-     .span.banner-background.visible-xs-block
//-       img(src="https://placehold.it/800x600")
//-     .span.banner-background.visible-sm-block
//-       img(src="https://placehold.it/1600x600")
//-     .span.banner-background.visible-md-block.visible-lg-block
//-       img(src="https://placehold.it/2000x400")
//-     .banner-copy
//-       h1 Slide One.
//-       .container.banner-buttons.btn-container.col-md-6
//-         .span.col-md-6
//-           button.button-alt Browse Products
//-         .span.col-md-6
//-           button.button-alt Find Support
<!-- /HEADER -->
